[2019-05-18 09:25] garethr opened #1 "Support TOML input"
To expand the potential places where Conftest could be used, it would be good to support [TOML](https://github.com/toml-lang/toml) as an input. Conftest currently supports JSON or YAML only as input, but should work with any format we can unmarshall.

This should just be about either using something more generic, or adding some logic around the current use of the YAML module around [this line](htt

[2019-05-18 09:27] garethr opened #2 "Support EDN input"
To expand the potential places where Conftest could be used, it would be good to support [EDN](https://github.com/edn-format/edn) as an input. Conftest currently supports JSON or YAML only as input, but should work with any format we can unmarshall.

This should just be about either using something more generic, or adding some logic around the current use of the YAML module around this line.

[2019-05-18 09:28] garethr opened #3 "Support HCL input"
To expand the potential places where Conftest could be used, it would be good to support [HCL](https://www.terraform.io/docs/configuration/syntax.html) as used in Terraform and GitHub Actions as an input. Conftest currently supports JSON or YAML only as input, but should work with any format we can unmarshall.

This should just be about either using something more generic, or adding some logic aro

[2019-05-18 09:30] garethr opened #4 "Support CUE input"
To expand the potential places where Conftest could be used, it would be good to support [CUE](https://cue.googlesource.com/cue/) natively as an input. Conftest currently supports JSON or YAML only as input, but should work with any format we can unmarshall.

We have [CUE examples](https://github.com/instrumenta/conftest/tree/master/examples/cue
), but would be useful to not require pipeline comma

[2019-05-21 13:08] bmhatfield opened #5 "Cross-Document support"
Hi! We've started using `conftest` for evaluating our K8S YAML files last week, and it's been a nice way to encode certain conventions we expect our configurations to follow.

One thing that we immediately noticed we wanted but was not possible was to be able to verify fields across documents. For example, a GCE Ingress's service port needs to align with the backing ports in the service/deployment

[2019-05-21 19:50] warmfusion opened #6 "Unclear error when providing file on -p"
While the help documentation shows that the `-p` argument is meant to provide a directory path, the error message when giving an explicit filename is not clear;

[code]

Would it be possible either accept an explicit policy document as the argument, or make it clearer that the `-p` argument expects a _directory_ rather than a _file_ (or other type)

## Version

MacOS - 10.13.6

[code]

[2019-05-22 07:06] warmfusion opened #7 "MatchLabels behaviour appears to operate as OR action rather than AND"
When testing for two labels being required within a deployment, if either match passes the whole block is accepted.

Given a rule;
[code]

## Expected Behaviour

- All rules should match before accepting

[code]

## Actual
[code]

## Version
[code]

## Test Case

See public Gist for configuration and test case:

https://gist.github.com/warmfusion/531aec5da54b1b248b02f40c48199e19

[2019-05-22 12:43] warmfusion commented on #7
Based on further experimentation with the play.openpolicyagent.org site I think this may simply be a misunderstanding of the OPA / REGO syntax.

[2019-06-02 11:46] garethr commented on #7
Ah, yes. Thanks for reporting. I'll update the example.

One approach to this is to do the following:

[code]

[2019-06-02 11:46] #7 closed

[2019-06-07 04:11] nicosto opened #8 "Support Dockerfile format"
Hi,
To expand the potential places where Conftest could be used, it would be good to support dockerfile as an input.
Thanks

[2019-06-18 11:21] nlamirault opened #12 "Kubernetes recommanded labels"
Hi,
could you provide an example with a policy to check Kubernetes recommanded labels ?
Thanks.

Here: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

[2019-06-19 13:18] Blokje5 opened #13 "Using some in rego policies"
Error with some in rego:

[code]

results in the following error:

[code]

Is this related to the interal OPA version?

[2019-06-20 09:52] boranx commented on #13
Hi,

I made a PR for updating the dependencies for using requested keywords.

[2019-06-20 14:46] rrey opened #15 "What are the advantages of conftest compared to OPA ?"
Hello,

I saw that OPA was in the inspiration list and I am currently looking for tools that would help me test my terraform code.

I didn't try both tools a lot for the moment, but what would you think would be an advantage of contest compared to using open policy agent ?

Both seems very close in term of features for my use case.

Thanks

[2019-06-20 15:40] Blokje5 commented on #6
@garethr I would like to pick up this issue. Would you like the approach where it is possible to specify a rego file instead of a directory on the flag? It might conflict with the pull command as the same flag is used to specify the directory to pull the policies too. Does it make sense to create a different flag to specify policy files?

[2019-06-20 16:48] garethr commented on #6
@Blokje5 thanks! Mmm, good question. I can see pros and cons to both. On balance (and if you disagree say, as I changed my mind a few times) I think reusing `--policy` here is fine. I think it's reasonably unambiguously with `pull`, and if that turns out to be wrong I'm happy to break the UI at this early stage to correct obvious mistakes.

Any questions let me know.

[2019-06-20 16:56] garethr commented on #15
Hi @rrey.

Actually, Conftest uses OPA under the hood. OPA is doing most of the work, and the Rego language used in Conftest is part of OPA. What Conftest does is provide a simple CLI user interface, that makes it easier to jump in with OPA locally or in a CI environment. OPA is mainly used either as a library like this, or as an independent server.

So which you use depends on your usecase.

Note

[2019-06-20 16:56] #15 closed

[2019-06-20 16:57] garethr commented on #12
Good idea, especially as I wrote some of that :) I'll add an example.

[2019-06-20 17:36] garethr commented on #12
He is a quick example. I'll write up with a few other practical Kubernetes examples soon.

[code]

[2019-06-20 18:44] Blokje5 commented on #6
I agree, it does not really conflict with the pull command and its use should be clear from the context. There is the issue with documenting the flag, as it is defined on the root cmd level. The current documentation specifies: "directory for Rego policy files". However, if you suddenly allow files for the test command the documentation would become a little more vague, something like this: "direc

[2019-06-20 19:25] rrey commented on #15
Thanks for the quick answer !

[2019-06-26 15:47] Blokje5 commented on #1
I would like to pick up this issue

[2019-06-27 12:07] InTheCloudDan opened #18 "Moving some functions to package?"
Has there been any talk on moving some of the private functions like `buildCompile` to a separate package in the repo so they could be used as a library in other projects? Or would you have any interest in a PR that does this?

[2019-06-29 18:02] #1 closed

[2019-06-29 18:05] #6 closed

[2019-06-29 18:08] garethr commented on #18
Hi @InTheCloudDan. I'd started out focused on getting a nice CLI interface. But it's definitely time to start splitting the single file up into packages and defining a useful public interface. I'd definitely be happy to see a PR for that. That then sets things up to have a proper test suite as well.

Did you have a particular usecase in mind for using conftest as a library?

[2019-06-29 18:09] garethr commented on #13
This is fixed in master, I'll get a new release out soon with this and other updates.

[2019-06-29 18:09] #13 closed

[2019-06-29 18:10] garethr commented on #3
conftest now has a parser interface (see https://github.com/instrumenta/conftest/pull/17) which should support this feature.

[2019-06-29 18:10] garethr commented on #2
conftest now has a parser interface (see https://github.com/instrumenta/conftest/pull/17) which should support this feature.

[2019-06-29 18:10] garethr commented on #4
conftest now has a parser interface (see https://github.com/instrumenta/conftest/pull/17) which should support this feature.

[2019-06-29 18:11] garethr commented on #8
conftest now has a parser interface (see https://github.com/instrumenta/conftest/pull/17) which should support this feature.

[2019-06-29 21:23] InTheCloudDan commented on #18
I'm looking to add these similar features to another cli. The same could be done with piping using conftest. But I think it's a nicer end user experience to have it all wrapped in one if possible. So in my case, you could call testing the policy with a flag like `--policy-check` and it would check a json/yaml object against the policy and if it passes then call the API with that data.

[2019-06-29 23:50] nicosto commented on #8
Thanks a lot, I'll take a look at this.

[2019-07-02 17:03] Blokje5 commented on #3
Is it the idea to support both HCL and HCL2?

[2019-07-02 19:05] nabadger opened #20 "Updates to parser.go break stdin functionality"
This used to work - looks like the code in question has been re-worked lately to check for file-extension types yaml/toml.

Given a valid yaml file `deploy.yaml` ...
[code]

Where as the following works fine
[code]

[2019-07-02 19:20] garethr commented on #20
Ah, thanks for flagging. I'll get a test added for this and get this fixed.

[2019-07-03 15:29] kumar-shantanu opened #21 "Can we use conftest to produce score based on tfplan ?"
This example here https://www.openpolicyagent.org/docs/latest/terraform/ shows how to write rego policy to produce some score out of the json file. Can conftest do something similar ?

[2019-07-03 19:49] jpreese opened #23 "Kubernetes YML Policy and Admission Control Policy"
First and foremost, thanks for putting this tool together. I saw your talk and got super excited about the possibilities of linting Kubernetes YML with OPA. I am still digging through everything, but I am really concerned about something, and hope I am just missing the whole picture.

Let's just take the really simple example of not allowing Services.

In a CI pipeline, someone is going to submit

[2019-07-04 14:10] kenfdev opened #24 "Repository names including `port` gets treated to contain tags"
Hi, thanks for this awesome project :) I've been trying to use an OCI registry to push and pull the policies and hit a problem.

I have a `conftest.toml` as follows:

[code]

It's pointing to my local docker registry but fails to pull it on `conftest update`.

[code]

It looks like it's missing the `tag` because the `localhost:5000` is containing a `:` and conftest thinks the string already contai

[2019-07-04 19:09] Blokje5 commented on #21
you can include a rule like this to trigger conftest based on the example policy.

[code]

[2019-07-05 08:04] kumar-shantanu commented on #21
Thanks for the quick response @Blokje5 .  Do you mean include this code block in the existing example terraform.rego and it should work ?

[2019-07-05 10:32] #24 closed

[2019-07-05 10:40] garethr commented on #21
@kumar-shantanu yes, that should work I think. The reason is that the example you linked to accesses the `authz` rule directly, in the `opa eval` examples. Conftest looks for `deny` rules, and expects them to have an accompany message argument.

So the snipped from @Blokje5 does that. Those rules are then picked up by Conftest and reported when you run the CLI.

Conftest uses OPA under the hood, i

[2019-07-05 10:47] garethr commented on #23
@jpreese thanks for the question. That's definitely the intention, but I've not had chance to put together any examples yet. I want to do so soon however, certainly ahead of KubeCon in San Diego. That will probably mean some changes to how things are loaded I'd expect.

Another example is the policies in Gatekeeper. eg. https://github.com/open-policy-agent/gatekeeper/blob/master/example/templates/

[2019-07-05 11:07] boranx commented on #20
@garethr @Blokje5 The parser detects configuration with file suffixes, how can we detect the type if it comes from stdin?

[2019-07-05 14:02] jpreese commented on #23
I think as I play around with Rego more it'll be more clear, but I do think it'll be possible. For example, this *should* cover both without policy duplication:

[code]

The policy logic is confined to `missing_required_annotation`

I'm wondering if it'd also be possible to go a route similar to yours with `kubernetes.is_service` and `kubernetes.is_deployment`, and have a collection of helpers tha

[2019-07-05 17:43] garethr commented on #20
I think the best approach here is to default to the YAML parser (which also handles JSON) and then to allow overriding with a flag. We could look at some format detection later maybe, but I think explicit is a good approach here. I'll take a run at this.

[2019-07-05 18:07] garethr commented on #20
In the future using https://github.com/github/linguist/blob/master/lib/linguist/languages.yml would also be interesting. ie. detecting things like Cargo.lock as a TOML file.

[2019-07-05 18:12] #20 closed

[2019-07-05 18:15] garethr commented on #20
I've pushed https://github.com/instrumenta/conftest/commit/5d14d0219f4a34e499de7ae22951dbc92e2f4438 which should resolve this. This also includes a test using stdin. Conftest 0.8.1 should be released shortly with the fix.

[2019-07-05 19:31] nvtkaszpir opened #26 "Allow formatting output so that it is parseable"
conftest should support ability to provide output formatting, which would help to integrate it better with other tools especially editors.

Most common linters provide two options:
- disable color output
- allow providing formatting string such as `<file-path>:<line>:<column>:<type>:<rule-id>:<message>` which allows it to be parsed by other tools, or output format in other standards like JUnit/xUn

[2019-07-06 05:15] garethr commented on #26
Good idea. Do you have examples here of other tools and outputs you think work well?

I'd ideally prefer to find some sort of standard for output vs coming up with a custom one.

[2019-07-06 18:58] nvtkaszpir commented on #26
yamllint has parseable output https://yamllint.readthedocs.io/en/stable/quickstart.html#running-yamllint
pycodestyle output is a good example https://github.com/PyCQA/pycodestyle#example-usage-and-output
vim quickfix format https://vim.fandom.com/wiki/Errorformats (and you will notice that output depends on the tool used)

Going towards CI/CD tools:
Some tools use checkstyle formatting (https://ch

[2019-07-07 09:36] rrey opened #29 "Question: Are rules deny and warn really mandatory ?"
Hello,

I am wondering if the rules being names `deny` and `warn` is mandatory ?
I've been first writing my policies with `opa` using the test framework available with it. It allows a TDD approach when writing the policies.

When testing `conftest` (which have a better output for a CI integration), I have been kind of disappointed to see that all the rules should be named `deny` or `warn`, It forc

[2019-07-07 20:39] jpreese commented on #23
https://gist.github.com/jpreese/3ea498806dfbdade861bc13f3f6b6083

[2019-07-08 09:23] nlamirault commented on #12
Thanks.

[2019-07-09 07:58] garethr commented on #29
`opa test` is intended more for testing the Rego itself, rather than testing arbitrary input I think.

But I do like the idea of meaningful names. This will have a performance impact I think as each will be a separate query. I probably won't have time to implement this personally, but I'd be happy to see a PR explore the idea. Thanks for the feedback.

[2019-07-10 09:06] kumar-shantanu commented on #21
I tried and this is what I got.
➜  opa ./conftest test tfplan.json
FATA[0000] Problem building rego compiler: 1 error occurred: base.rego:13: rego_unsafe_var_error: expression is unsafe

[2019-07-11 03:43] alanjcastonguay commented on #26
I'd want something CI can parse OOTB first, IDE secondary. JUnit XML is super common.

[2019-07-11 17:59] xchapter7x commented on #3
hey @garethr
i sent over a PR which adds HCL support.
let me know your thoughts and feedback. thanks :)

https://github.com/instrumenta/conftest/pull/31

[2019-07-12 20:05] Blokje5 commented on #26
I included a flag to disable the color output. I was also looking into the formatting of the output, but that might be harder then I initially thought it would be for the following reasons:

1. the `ResultSet` returned from `rego.Eval()` returns  the query rule that was triggered, but this does not help much, since it is structured akin to: `<package>.<rule>`. Rules are generally `warn` or `deny`

[2019-07-13 10:47] garethr commented on #18
We've started moving things to packages in https://github.com/instrumenta/conftest/pull/30. Some conversation their about what the public interface might look like.

[2019-07-13 10:47] #18 closed

[2019-07-13 11:49] nvtkaszpir commented on #26
@garethr
#32 solves only part of this issue introducing no-color option.
The main request in this issue is the ability to get parse-able output, so why was this closed - should this be converted to another feature request?

[2019-07-13 12:07] garethr commented on #26
Apologies, this was automatically closed by GitHub due to the original comment in #32. Re-opened.

[2019-07-13 12:10] nvtkaszpir commented on #26
Ah, oka, thanks :)

[2019-07-13 13:48] garethr commented on #26
These types might be useful for generating junit XML https://github.com/rodrigodiez/go-junit

[2019-07-14 14:54] garethr commented on #21
I got the following working as expected, against the `tfplan.json` file from the above example.

[code]

Here's the full `rego` file. Please do reopen if that doesn't work for you.

[code]

[2019-07-14 14:54] #21 closed

[2019-07-17 15:42] Proplex opened #33 "Testing CLI commands are hard because of anonymous functions"
Hey there 👋, loving conftest so far.

I'm interesting in picking up #5 and I also want to write tests for it. However, the functions are written in a way that a bulk of the action is within an anonymous function in the `Command{}` struct.

Would y'all be open to the idea of separating it out as such:

[code]

Right now we're re-defining a lot of the Cobra command definitions for each test so that

[2019-07-19 18:46] garethr commented on #3
I've merged #31, thanks @xchapter7x.

[2019-07-19 18:46] #3 closed

[2019-07-19 18:47] garethr commented on #29
Thanks to @brendanjryan in #34 this is now in master.

[2019-07-19 18:47] #29 closed

[2019-07-19 18:57] garethr commented on #33
Hi @Proplex. Absolutely happy to see things separated. I'd kept everything private while I got the CLI interface working. But definitely interested in better package layout and building up a public interface. @jpreese did some initial work in #30. Pinging him so as to avoid any overlap.

[2019-07-19 19:15] jpreese commented on #33
@Proplex yes, this would be the way that I would approach it.

The intent of my initial PR was just to split up the commands into their own files/packages so that we could iterate on them afterwards. Doing everything in a single PR would've made the one I had even bigger than it already was.

I would also expect the TestFunction to take in a Reader, and have the NewTestCommand() pass it in. Then f

[2019-07-19 19:19] jpreese commented on #23
I'm just going to close this out. After some digging I believe I have answered my own question in the sense that yes, you'll most likely need some sort of wrapper/polyfill as to not duplicate policies between the OPA admission controller on the cluster and the kubernetes manfests on a local machine.

The gist above provides a proof of concept of how this may work.

[2019-07-19 19:19] #23 closed

[2019-07-20 10:32] rrey commented on #29
Awesome !

[2019-07-21 10:22] Blokje5 opened #35 "Using Conftest to execute OPA unit tests"
Right now if I want to execute both conftest and evaluate the policies using Rego unit tests, I need to install both conftest and OPA. Ideally we would be able to use conftest for this purpose as well, as this would simplify my CI/CD pipeline.

[2019-07-23 03:01] yurrriq opened #38 "Redundant testing/ouput in versions >= 0.7.0"
Version 0.6.0 worked great, but with 0.7.0 and 0.9.0, conftest seems to be rerunning my policies multiple times when I run `conftest test`. Is there some change I need to make? My policies don't differ structurally from the kubernetes example in the repo.

[2019-07-23 07:43] garethr commented on #38
Sounds like a bug. Could you include an example and some output? Will look into.

[2019-07-23 11:16] mKamleiter commented on #38
Hi, I'm working with 0.9.0 and get a similiar Output.
I'm testing a openshift route object using helm:
[code]

My simple policy:
[code]

Just the second policy should fail, the first is good, but the output is the following:

[code]

Once I delete the **not** failing policy it's working like it should:
[code]

[2019-07-23 15:51] Proplex commented on #5
We've opened a PR (#39) to implement this :)

[2019-07-23 17:24] yurrriq commented on #38
My experience is similar to @mKamleiter's, though I hadn't yet made the connection about failing/passing policies. I think we're on to something here...

[2019-07-23 18:12] Proplex opened #40 "Multi-file cross referencing"
Hey y'all :)

I think a great feature extension to #5 would also be the ability to do this cross-referencing across actual files on a disk, as well. For example, Terraform files in a module. It would be cool to be able to write a policy that allows for comparing forwarding rule resources with their respective load balancers or firewall rules.

[2019-07-23 18:56] garethr opened #41 "Adding additional maintainers to conftest"
I've been super happy to see the interest in Conftest, both from folks wanting to use it and from several folks who have already contributed fixes and features. One of the reasons to start this under an org rather than my own name was to make it a touch easier to add other folks if the project proved interesting.

With that, I thought it would be easiest to open an issue to discuss.

Pinging @bren

[2019-07-23 19:12] garethr commented on #38
Confirmed, I think this is an unintended side effect of https://github.com/instrumenta/conftest/pull/34.

Adding an additional `deny` causes the failures to duplicate.

Pinging  @brendanjryan in case the fix is obvious. Otherwise I'll try and grab some time to look at this tomorrow as well.

You might be able to see the problem in the trace I think, run `contest test --trace`, for example

<detail

[2019-07-23 20:26] garethr commented on #38
I have a fix. Ran out of time this evening I think to finish off, but wanted to post. Will finish up tomorrow and release a bug fix.

[code]

[2019-07-23 20:35] brendanjryan commented on #38
ah good catch @garethr! This looks good to me!

[2019-07-23 20:43] yurrriq commented on #38
Awesome, thanks! I'll stand by to test against my policies.

[2019-07-23 21:34] boranx commented on #4
Hi @garethr, I would like to pick this issue if it's available. Currently, I'm preparing a PR that uses the current parser interface and native cue library :  [cuelang.org/go/cue](https://godoc.org/cuelang.org/go/cue)

[2019-07-24 01:58] brendanjryan opened #42 "Change output format to include message type and absolute file path"
The current command lint output of `conftest` is difficult to parse by CI or other command line tooling - mostly due to the fact that it does use show absolute file paths or distinguish between errors and warnings aside from color.

I propose changing the "output" to be of the form `<msg_type>: <file> - <msg>` (still colorized)

For example:
[code]

Reference of existing format:

[code]

Is this s

[2019-07-24 06:52] garethr commented on #42
I'm happy to break backwards compatibility at this early stage, and had been thinking about changes to the output as well. So definitely happy to see a PR for the proposed change here.

A few other thoughts:

* #26 has some related conversations
* I think the idea of also (obviously separate bit of work) adding JUnit XML output or [TAP](http://testanything.org/) would be useful for integrations
*

[2019-07-24 07:50] garethr commented on #38
Should now be fixed in master and I'm releasing a 0.9.1 with the fix. Let me know if that doesn't resolve your issue.

[2019-07-24 07:50] #38 closed

[2019-07-24 13:47] Proplex commented on #41
👋 heya, thanks for the ping

Just a little context as to why we're here: @xchapter7x, myself, and a few others are looking into using conftest as a way of TDDing our infrastructure deployments. Namely, that's Terraform (.tf), BOSH manifests (.yaml), and Pivotal Operations Manager manifests (.yaml). We think conftest has a lot of potential in solving our issues.

We've love to continue contributing

[2019-07-24 15:30] Blokje5 commented on #41
Yeah I have a similar reason to be here, we are utilising Terraform + Kubernetes to manage our infrastructure and we want to have a bit more control over what actually gets deployed. Conftest looked like a really good way to achieve it.

I agree with @Proplex though. I would love to be a maintainer, but it is good to define what you are looking for in a maintainer.

[2019-07-24 15:48] garethr commented on #41
My main reason for posting this was simply moving from "only I can merge things" to "a few people can merge things". So no real time expectations, mainly about avoiding bottlenecks and active contributors feeling some ownership over the project as well. I've messed this up previously and thought I'd be more proactive this time around.

I built Conftest because I wanted it to exist, and it's alread

[2019-07-24 18:01] Blokje5 commented on #41
Sounds good to me!

It might also be an idea to create a channel under the open-policy-agent slack, might be easier to discuss things there then to discuss on github issues. Especially when talking about the direction of the project and what to focus on that could simplify communications.

[2019-07-24 18:04] jpreese commented on #41
Works for me! That's oddly convenient as I just sent you an email regarding this. I didn't see the initial ping because you've got an 'm' at the end of my name :)

[2019-07-24 19:42] brendanjryan commented on #42
Good points, and thank you for the links!

I think the overarching theme here is that there is a lot of interest around different output formats, some which are easy to add (json etc..) while others are a little tricker (JUnit XML..). I have some free time over the next few days so I can take a first pass at breaking out some of this code / building a framework that others can extend as well. I'll

[2019-07-24 20:05] brendanjryan commented on #41
I'm very keen to discuss the roadmap / direction of this project as well! Perhaps we should do this before adding a lot of new maintainers to the project?

+1 to this!

I think being on the same page  makes a lot of sense before adding a lot of

[2019-07-25 07:22] garethr commented on #41
I'll chat with the OPA folks about setting up a new channel. Will report back with details here and we can move the conversation.

[2019-07-25 07:49] garethr commented on #4
Merged in #43

[2019-07-25 07:49] #4 closed

[2019-07-25 07:52] garethr opened #45 "Support INI input"
To expand the potential places where Conftest could be used, it would be good to support INIT as an input. Conftest currently supports JSON, YAML, HCL, TOML and CUE as input, but should work with any format we can unmarshall.

This is a matter of implementing the parser interface based on the existing examples.

[2019-07-25 11:24] garethr commented on #41
I've asked the OPA folks and they said "no problem" to setting up a Slack channel.

You'll need to join the OPA Slack from https://slack.openpolicyagent.org/, and then you can access the channel at #conftest, https://openpolicyagent.slack.com/messages/CLE8VEKGT.

Any problems let me know.

[2019-07-25 15:54] dexhorthy commented on #26
+1 on adding support for JUnit XML output. JSON would be handy as well.

[2019-07-26 05:16] brendanjryan opened #49 "CI not running on pull requests"
I noticed in https://github.com/instrumenta/conftest/pull/48 that CI is not running on pull requests - although it is configured to run on `master`.

Is this intentional? If not i'd be more than happy to get this integrated on every build!

[2019-07-26 14:42] Salamandastron1 opened #51 "Silent Error on Failed Test w/ Failed Rego"
Conftest is silent, even on failing policy, with `sprintf` errors. For example:
[code]
results in exit 1

[code]
results in exit 0

[2019-07-26 16:05] Blokje5 commented on #8
I am working on this atm. Having some issues with the different dependencies on Docker (via the oras dependencies) and looking on a way to resolve it.

[code]

[2019-07-26 19:12] Blokje5 commented on #51
Good find. It seems to be a harder problem then I anticipated it would be. Funnily enough when running master in debug mode the output is:

[code]

which is exactly what you expect. `echo $?` returns 1 as well. However when compiling the docker image and running the same command (for reference I replaced the gke policy with the failing policy and run `conftest test -p examples/terraform/policy/gke

[2019-07-26 19:16] Salamandastron1 commented on #51
Interesting that it works differently on master vs image 🤔 Agreed that it is a big work around. I wish I had time to dig into it

[2019-07-26 19:20] Blokje5 commented on #51
It migth be related to differences in compiling. I run on a macbook pro 2017. It could also be a threading issue, something inside of the cobra package maybe? I'll mess with it some more.

[2019-07-26 20:05] Proplex commented on #41
Thanks for the input earlier, @garethr. I'd love to help maintain the project along with everyone else and @xchapter7x, if you feel there's a need for more maintainers :)

We've bene using conftest internally and would love to help it grow further.

[2019-07-26 21:16] Blokje5 commented on #51
Ok nvm debug failed because I can't read an error message. I messed up my debug configuration...

However, it seems to be a problem with the policy itself: https://play.openpolicyagent.org/p/flCJB7Z6M1 does not return any message on deny.

The policy with a direct message in the deny rule returns a message: https://play.openpolicyagent.org/p/USsMjdM1Uy.

However, it will always return a message, e

[2019-07-27 09:32] garethr commented on #49
Not intentional, looks like in Circle needed some configuration. I think I've just done that now, so the next PR _should_ trigger the build. That _might_ fail, due to missing environment variables. I'll add some logic to fix that if it does. Thanks for flagging.

[2019-07-27 09:32] #49 closed

[2019-07-27 09:36] garethr commented on #45
This is now in master via #47

[2019-07-27 09:36] #45 closed

[2019-07-27 10:06] garethr opened #52 "Conftest Kubectl plugin"
I build a proof of concept `kubectl` plugin for conftest, which can be found here https://github.com/instrumenta/conftest/tree/master/plugin. I'll let folks read the one liner in there to understand why I say proof of concept :)

It works as follows:

[code]

You can use the same syntax as `kubectl get` to grab lists or individual resources, and then have conftest apply policy against them.

[code

[2019-07-27 10:14] garethr opened #53 "Conftest Helm plugin"
Another proof of concept, I build a Helm plugin for Conftest https://github.com/instrumenta/helm-conftest

[code]

Currently this simply allows accessing conftest from Helm. Helm runs helm template under the hood to render the template, and conftest then tests that document against the defined policies.

Not supported in the above, but probably desirable, would be to be able to pass a number of th

[2019-07-27 10:25] garethr opened #54 "A Kubernetes Rego standard library"
Although Conftest can be used for testing any configuration, there is certainly lots of interest in testing Kubernetes configuration. I don't see this as much about Conftest, as much as about content. ie. it's about a standard library of Rego code which provides a useful DSL for common Kubernetes assertions.

Conftest has the `push` and `pull` commands that allow for saving OPA bundles to a OCI re

[2019-07-27 12:44] garethr opened #56 "Automate release tasks"
Currently releasing a new version of conftest, and then building the Docker images and pushing to Docker Hub, are done manually offline.

Configuration is all done with goreleaser (GitHub release) and Make (Docker).

It should be possible to have CircleCI do this when new tags are added to master.

Basic introductions in https://goreleaser.com/ci/

[2019-07-27 17:43] garethr commented on #42
I just used https://github.com/gotestyourself/gotestsum in CircleCI to get a JUnit XML output for `go test` and it has some sample code for generating the relevant XML: https://github.com/gotestyourself/gotestsum/blob/master/internal/junitxml/report.go. Noting here for reference.

[2019-07-28 07:54] garethr commented on #42
Thinking a bit more about the UI for this, and looking at other examples.

Very similar to what you proposed, one approach would definitely seem to be:

[code]

Keeping the prefix the same length would be nice, so maybe using `FAIL`, `WARN` or `PASS`.

For color, trying this out _I think_ this might be better if only the prefix (ie. FAIL above) is in color. I think this improves the readability wi

[2019-07-28 10:39] Blokje5 commented on #54
Is it the idea to create a shared OCI registry to pull rego policies from or are is it the idea to bundle the policies inside of conftest (providing some built-in functions for use in rego policies).

I love the idea btw. I have been thinking about this as well, how great it would be to have a shared registry with best practices.

[2019-07-28 10:51] Blokje5 commented on #53
Would the plugin live in another repository? E.g. development would continue in the https://github.com/instrumenta/helm-conftest repo?

[2019-07-28 10:56] garethr commented on #42
After merging #55 I took a run at altering the output as per the above. See #58

[2019-07-28 10:59] garethr commented on #26
Note that #55 from @brendanjryan lays the groundwork for multiple output formats. Some conversation about this in #42 as well.

[2019-07-28 11:06] garethr commented on #54
I'd rather see these as standalone from conftest. They should be useful for any OPA usecase I think.

In the future this should work with any OCI registry (see the work going on with ORAS - https://github.com/deislabs/oras).

I've done some experiments here already, and chatted with both the ACR folks and Bundle Bar https://bundle.bar/. Some similar conversations going on in relation to Helm at th

[2019-07-28 11:11] garethr commented on #53
I'm happy either way. I _think_ the Helm plugin system just looks for the `plugin.yaml` file in the repo. It does download the repo source I think, which might make it quicker to install the plugin if its config is in a separate repository.

The actual plugin binary itself could be a new release artefact of this one however, with the source code in this repository as well. ie. the existing plugin

[2019-07-28 11:51] Blokje5 commented on #54
Makes sense. As to how to get started, what is your proposal? Create a public registry (Azure or Bundle Bar?) and add a place in the conftest repo where people can contribute policies?

[2019-07-28 11:53] Blokje5 commented on #53
Yeah makes sense, that makes it easier to keep up to date with the latest changes in conftest as well. A contrib folder makes sense to add with other projects related to conftest, we can easily add the plugin there and create an initial setup in Go.

[2019-07-28 17:11] garethr commented on #54
My current thinking is:

1. Create a new repository under the same org
2. I already have a public ACR repository setup for the org, this currently relies on some beta features I have enabled in Azure

[2019-07-28 17:28] jpreese commented on #54
I'm traveling home from Gophercon as we speak, so I can get more in depth in a bit, but did want to chime in to say I think this makes sense. We already do something similar with our k8s yamls and Rego

![Screenshot_20190728-102412~2](https://user-images.githubusercontent.com/6980197/62010646-4bc95180-b122-11e9-858f-fb4f453edb71.png)

For now it's just a wrap/pollyfill package to be able to check

[2019-07-28 17:50] garethr opened #59 "Support TAP output"
With the work started in #55 we are soon to be able to support multiple output formats. Some discussion in #26 and #42.

Opening this issue to discuss TAP output support. I think the best we can do is:

[code]

1. We can currently only show failing rules, so no `ok` responses at present
2. I think we should include Warnings in the output. The `#` is a diagnostic information, it's not machine reada

[2019-07-28 18:24] brendanjryan commented on #54
I think this sounds like a great idea! There is a real lack of good rego examples out in the wild - and a shared library of type and testing utilities would help others a lot.

I'm in favor of doing this work in a separate repo - since it serves a completely different purpose than `conftest`. I don't think publishing bundles to  an OCI needs to be a requirement either -- endusers can always submod

[2019-07-28 18:32] garethr commented on #54
Agree on the OCI distribution bit. I think it's an interesting avenue to explore, but it's not quite ready yet.

For the repository:

1. How should we structure it?
2. What should we call it?

For instance, should this aim to be just for Kubernetes, or simply for anything, with Kubernetes one of those things. A similar library would make sense for other specific tools, like Terraform. I can see pr

[2019-07-28 20:55] Blokje5 commented on #54
I do not think we should limit it to Kubernetes. We can limit it to configuration tools. Although OPA is more general than only configuration validation as well. For example, authorization is a really interesting use case of OPA. Having a central place to share these policies would be great as well.

From a pragmatic point of view, starting out with a mono repo focused on Kubernetes at first, star

[2019-07-29 14:30] yurrriq commented on #38
All good for me in 0.10.0. Thanks!

[2019-07-29 18:03] srenatus commented on #26
I suppose including the line number would be **very helpful**. But, based on some assumptions about how conftest works (sorry for not checking), this may be more difficult...?

[2019-07-30 07:19] boranx commented on #54
I agree with @Blokje5. The centralized registry is easy to use, we need to make an effort to pull and push commands and the registry. Folks also can push their policies and there should be also best pattern policies for all parsers. This will also reduce the dependency to `policy/ ` folder because folks can easily download policies instantly and increase the usability of conftest

I imagine the us

[2019-07-31 20:00] brendanjryan commented on #54
Building on top of @garethr 's questions I think a "monolith" of rego policies and functions is the best path for the foreseeable future. There is currently no good way to share and version `rego` dependancies - something which I consider a prerequisite to a toolchain built on top of multiple smaller code repositories.

By leveraging moda's `package` primative we could orgranize our code into name

[2019-08-01 05:42] sujeeth-alef opened #65 "Support for filename and filepath of the config in input data"
I would like to test if the namespace of the resource is the same as folder name where my configuration files are present. In this case, I would like to get the parent folder name.

[2019-08-01 05:45] sujeeth-alef opened #66 "Support validating across multiple input"
I would like to test if the `containerPort` in the Deployment config and `targetPort` in service config are equal. For this scenario, is it possible to compare values between multiple inputs data(both service and deployment manifest are in the same file)

[2019-08-01 16:30] garethr commented on #66
This is definitely a good idea. It's captured in #5 so I'm going to close this as a duplicate. But work on this is going on in #39 now.

[2019-08-01 16:30] #66 closed

[2019-08-02 16:38] jpreese commented on #33
@garethr to keep the backlog of issues tidy, I feel we can consider this an answered question and close.

As we introduce new features and continue to work on the project, we should strive to make the commands testable.

[2019-08-04 12:13] garethr commented on #59
PR in #68

[2019-08-04 13:03] garethr commented on #42
I'll close this issue out now. The UI is much improved, and we have both JSON and TAP (PR: #68)  output that are both machine readable. The default output is also much easier to parse line-by-line.

[2019-08-04 13:03] #42 closed

[2019-08-04 13:06] garethr commented on #26
We've made a few improvements to the output, including:

1. Easier to parse default output
2. Able to disable colours
3. JSON output
4. TAP output (PR: #68)

Some of this available in the 0.10.0 release, the rest is in master or incoming for 0.11.0.

We can open a separate issue around line numbering, I'm not sure this will be possible unfortunately given how rego operates. It probably warrants an

[2019-08-04 13:06] #26 closed

[2019-08-04 13:08] boranx opened #69 "Support parsing the stream which comes from stdin"
To expand the usage of conftest with stdin or unknown file extensions, we need a flag for allowing injection of requested parser type.
After this feature enabled, we will support the commands below:

[code]

[2019-08-04 13:09] garethr commented on #65
Thinking about this, I wonder if one approach is to add this into `data.conftest`? This could be used to inject other external data. Their is a risk using this of writing tightly coupled tests that aren't portable, but there are config formats where the names are meaningful in some way.

[2019-08-04 13:11] garethr commented on #69
+1 on the idea.

Thinking about the name of the flag, a few options:

* `--parser`
* `--input`, `-i`

[2019-08-04 14:11] boranx commented on #69
`--input` SGTM,
making a PR about this.

[2019-08-04 14:33] garethr commented on #56
Will test with the next release, but should be implemented in https://github.com/instrumenta/conftest/commit/ba52f7b3595d2b974d4cfa33573dddfc27ca0699

[2019-08-04 14:33] #56 closed

[2019-08-04 14:38] garethr commented on #51
Looks like this has a solution. Worth noting that the `--trace` can help in understanding what's happening with individual queries too.

[2019-08-04 14:38] #51 closed

[2019-08-04 14:39] garethr commented on #59
@brendanjryan would you mind taking a look at this PR? This adds another output format to the ones you'd already implemented.

[2019-08-09 17:56] #69 closed

[2019-08-09 17:56] garethr commented on #59
Merged #68 with this feature.

[2019-08-09 17:57] #59 closed

[2019-08-09 19:44] dexhorthy commented on #54
What are folks thoughts on using [Gatekeeper](https://github.com/open-policy-agent/gatekeepr) `ConstraintTemplate`s to drive a k8s policy library?

Mentioned this on a thread in slack (https://openpolicyagent.slack.com/archives/CLE8VEKGT/p1564493918007900), but the team driving https://github.com/open-policy-agent/gatekeeper has put a good bit of thought into a CRD-based mechanism for authoring an

[2019-08-10 14:22] Blokje5 opened #71 "Push fails with local docker registry"
Reproduction steps:
1. Start a local docker registry:
[code]

2. push a set of policies with Conftest (version 0.11)
[code]
results:
[code]

With ORAS it does succeed:

[code]

[code]

[2019-08-10 16:02] jpreese commented on #71
Thanks for the report, @Blokje5

Unfortunately I'm not able to reproduce this at the moment. Could you provide a little more detail about your environment and the context in which you're running the command?

I am on Windows 10, conftest v0.11.0, and ran:
`conftest push localhost:5000/policies:latest policy`

Inside of the `examples/kubernetes` folder in the conftest repository

[2019-08-13 12:52] jpreese commented on #71
Were you still running into problems with this @Blokje5 ?

[2019-08-15 17:14] Blokje5 commented on #71
@jpreese I indeed still encounter the same issue. I did find the what is causing the problem though:

Locally I have conftest aliased to the following:

[code]

Which I completely forgot about. So when running the conftest I am actually executing:

[code]

Running from the binary directly yields no errors. So the issue is only with the docker image.

On a side note what I did notice was that it wa

[2019-08-16 04:15] jpreese commented on #71
@Blokje5, because you're running conftest inside of a docker container, it's on a different network than your oci registry container.

i.e. You have two docker containers running. One is serving the OCI registry at localhost:5000 and the other is running conftest inside of it. When referencing localhost:5000 from inside the conftest container, you're effectively trying to connect to the container

[2019-08-16 08:34] Blokje5 commented on #71
Yep that works indeed. I will close this issue.

[2019-08-16 08:34] #71 closed

[2019-08-17 08:17] #33 closed

[2019-08-17 12:15] garethr opened #74 "Create separate documentation site"
As we both add more features, more examples and more integrations (Helm, GitHub Actions, etc.) the README won't be the best place to put all the documentation.

It would be good to create a separate docs site with multiple pages.

I've had good luck with MkDocs (https://www.mkdocs.org/) before, for instance with
https://github.com/instrumenta/kubeval. This just involves a simple config file and a

[2019-08-17 15:26] jpreese commented on #74
I would love to try Hugo with the Learn theme (https://themes.gohugo.io/hugo-theme-learn/) and Netlify (https://www.netlify.com/)

The Netlify integration actually deploys your PR to a staging environment (e.g. PR#-conftest.staging.url.com) so you can see what it will do without having to do. Making it easier for contributors who just want to directly edit the markdown from GitHub as well as revie

[2019-08-17 20:12] garethr opened #75 "Create a Tekton Task for Conftest"
Just tracking here for visibility, and probably for linking into the documentation. See the PR https://github.com/tektoncd/catalog/pull/60 for the Task itself.

[2019-08-19 18:13] jpreese commented on #8
I want to put this here for visibility and.. because I'll inevietably forget everything I've found 🤙

So asottile has updated his package to use buildkit, which is great
https://github.com/asottile/dockerfile/blob/master/parse.go

That lone import gets us pretty much all the way there. We just need to reference that package, call parse, and we're off to the races.

The problem is that buildkit dep

[2019-08-19 19:44] Blokje5 commented on #8
@jpreese I have a working version using replace in go mod to utilise `containerd v1.2.6`. Indeed it would be ideal if this is resolved in `containerd`, but in the mean time we can use replace. You can check out the PR if you want.

[2019-08-19 19:56] jpreese commented on #8
Let's see what happens with the issue on the containerd repository. I'd rather not duplicate the `parser.go` file from asottile's repository if we don't have to.

[2019-08-19 20:00] garethr commented on #8
@jdolitsky may be able to help with pointers on the Oras front as well.

[2019-08-19 21:10] jdolitsky commented on #8
oh my... these dependency issues again.

I've just opened https://github.com/deislabs/oras/issues/111 to update containerd dependency

[2019-08-21 16:55] carsonoid opened #78 "Terraform 0.12 not supported"
It looks like the Terraform 0.12 syntax isn't supported.

`.tf` snippet:

[code]

Error:

[code]

[2019-08-22 14:17] Blokje5 opened #79 "Recursively search subdirectories in Policy Directory when compiling Rego"
Right now conftest compiles the Rego policies at the given directory. However, it does not recursively search that directory, which makes it hard to structure a set of policies.

For example I was trying the following directory structure for policies:

[code]
surprisingly it did not error. However my policies just did not work as expected.

To reproduce try the following:

aws.rego:
[code]

main.r

[2019-08-26 00:05] jdolitsky commented on #8
PR opened for this https://github.com/deislabs/oras/pull/116

Will report back when we have a release ready for you to use

[2019-08-26 13:18] jdolitsky commented on #8
@jpreese @Blokje5 @garethr ORAS v0.7.0 has been released updating these dependencies. Please let me know if this solves the issue

https://github.com/deislabs/oras/releases/tag/v0.7.0

[2019-09-01 14:59] #8 closed

[2019-09-03 21:13] kmcquade commented on #79
@garethr FYI. This would really help us as well...

[2019-09-04 07:43] garethr commented on #79
Definitely feels like something we should do. This might also open up the option of specifying multiple policy directories to search in a later update.

[2019-09-04 07:44] jpreese commented on #79
Agreed

[2019-09-04 07:54] grzesuav opened #80 "Allow use of multiple policy directories in single run"
I would like to have multiple policy directories being used in single run.

Use case :
I would like to have CI image with some common rules being there, but allow users to add their own rules to some other directory, and in CI run to use `conftest` to apply all rego rules

[2019-09-06 14:30] dolv opened #82 "New feature request: Extend deny rule name to a list of (deny|violation)"
Recently open policy agent [gatekeeper](https://github.com/open-policy-agent/gatekeeper) has implemented changes in rego code. Now they use `violation` instead of `deny`. We use conftest to verify our PRs before merge. That simple change  has caused the conftest to skip all the checks which worked before.

We kindly ask you to extend deny rule name to a list of (deny|rule|violation).

here you hav

[2019-09-06 15:00] garethr commented on #82
Thanks, I'd just spotted that as well and was planning on investigating when I had a moment. Happy to apply that patch (and update a few tests) when I get a moment, of if you want to submit a pull request I can merge? Either way will get this into the next release asap.

I'd love to hear more about your use of Conftest with Gatekeeper as well, maybe in the #conftest Slack channel on the Open Polic

[2019-09-06 19:42] dolv commented on #54
I'm very much supportive to what @dexhorthy said about parsing `ConstraintTemplale` files for rego rules. Because currently in order to use `conftest` against k8s manifests that are tracked in our repo we are forced to duplicate the entire `rego` field as a separate `.rego` file which then can be used for manifests verification.

[2019-09-06 19:46] dexhorthy commented on #54
I'm wondering what the main work in implementing this will be. I haven't dug into the source code, but it sounds like some sort of `PolicySource` interface whose implementations would convert one or more of
- local rego files
- local ConstraintTemplate files
- remote rego files (e.g. via GitHub URL)
- etc

Into OPA-consumable policies for enforcement.

[2019-09-06 19:52] dolv commented on #54
It might be worth to implement additional additive (can be provided several times with different values within one call) command line parameter which will let to extend current behavior (to parse local files) with additional parsers like ConstraintTemplates e.g. if would be really helpful in our use case.

[2019-09-06 19:57] dolv commented on #54
Another use case might be interesting to consider is to define how deny rule is called in the rego file. It is currently hardcoded to be `deny` https://github.com/instrumenta/conftest/blob/9ef20efb81ea4607d47577077f5eef3382501f7c/pkg/commands/test/test.go#L29.  But gatekeeper has recently renamed `deny` for `violation`. And perfectly working rego code within `gatekeeper` does not work with `confte

[2019-09-08 11:26] xchapter7x commented on #41
Hey @garethr ,

Thanks for the offer and apologies for the slow response.

I would be extremely interested in helping however I can. Maintainer would be great. I'd also be happy to invest time in helping to drive prioritization, user engagement, etc.

I see a lot of value here and am eager to help.

thanks :)

[2019-09-13 10:23] lucperkins opened #86 "Add support for "table" output"
I'm a big fan of OPA's "table" output largely due to its readability, which you can see at work in [this blog post](https://blog.openpolicyagent.org/policy-driven-continuous-integration-with-open-policy-agent-b98a8748e536) that I wrote. It'd be nice to add that to the supported output options for Conftest.

The implementation seems pretty trivial so I'll attempt it myself.

[2019-09-16 00:44] #79 closed

[2019-09-16 00:45] garethr commented on #40
Resolved in #73. This will be available in the next release.

[2019-09-16 00:45] #40 closed

[2019-09-16 00:46] garethr commented on #5
#73 solves for this use case. It will be available in the next release.

[2019-09-16 00:46] #5 closed

[2019-09-16 00:54] garethr commented on #82
Resolved in https://github.com/instrumenta/conftest/commit/d3a1f7621c8607178f6def205ef3f6619957fc49. Thanks for the patch.

[2019-09-16 00:54] #82 closed

[2019-09-16 11:29] boranx commented on #78
I'm making a PR about this feature.

[2019-09-16 19:40] jpreese commented on #80
This feature has been merged into master. Thanks to @Blokje5 !

[2019-09-17 14:33] #78 closed

[2019-09-17 15:14] carsonoid commented on #78
Awesome! Thanks for your work @boranx

[2019-09-18 12:29] boranx opened #89 "Discussion/Feature: Print out structured data from unstructured inputs"
As a Conftest user, I want to know that how the inputs transformed into structured data. This feature especially needed for when we are writing tests against `Dockerfile`, `hcl2`, or `ini` like files, that needs to be parsed.

The JSON output for the parsing process would be nice, in order to understand exactly how the files are transformed and how we can write tests against them:
For instance, to

[2019-09-19 09:26] Blokje5 commented on #89
I like the idea. I indeed often encountered the need to debug conftest in order to determine the internal representation of certain parsed objects. It is easy to reason about for JSON and Yaml, but indeed for things like `Dockerfiles` it is hard to reason about.

[2019-09-25 18:22] kmcquade opened #93 "Request: Cut a new release"
Hoping that we can get a new release cut soon. Particularly interested in using the feature built in by @Blokje5 in PR #83 .

@garethr ping :)

[2019-09-25 18:25] jpreese commented on #93
If you're really hurting, it should be possible to get your own binary using `go get`

It's not ideal, but may be able to get you over the hump if you're looking to use a later version until gareth can get around to cutting a new release.

[2019-09-25 18:59] kmcquade commented on #93
Yep I'm doing that for my development now  :) but I want my users to be able to use the features in the new branch I'm working on for when the new version of conftest is released.

[2019-09-27 22:37] #80 closed

[2019-09-27 22:42] garethr commented on #93
Thanks for the interest, v0.13.0 is up now.

[2019-09-27 22:42] #93 closed

[2019-09-27 23:09] garethr commented on #75
This is now merged and available in the catalog https://github.com/tektoncd/catalog/tree/master/conftest

[2019-09-27 23:09] #75 closed

[2019-09-28 09:03] garethr commented on #89
I like the sound of this, I've run into the same with some of the more interesting input formats.

I think this sounds more like a subcommand than a flag to me? Most of the flags for `test` don't apply, and it's not related to the policy folder at all. A few initial thoughts:

* `conftest reveal`
* `conftest parse`

Slight preference maybe for the later, but open to other suggestions as well.

[2019-09-30 06:51] boranx commented on #89
I liked the different subcommand idea and: `conftest parse`.

Then usage will be like this,
`conftest parse <file>`
`conftest parse <file> -i <option>`

I'm going to start to work on this PR, If you have more ideas, may write to me.

[2019-09-30 09:32] boranx opened #94 "bug: Rego/contains() function is flaky"
Assume we got a `dummy.yaml` and contains:
[code]
and a `deny.rego` file in `policy` folder,

[code]
And when we execute test commands several times  manually or
[code]

[code]
We sometimes fail, sometimes pass. This bug is probably caused by `Rego` but can affect tests.
Do we have to open this issue to OPA and close this one?

Any thoughts?

[2019-10-01 10:47] dewe opened #95 "v0.13 - no warnings or fails with multi-file yamls"
When upgrading from 0.11 to 0.13, conftest went silent. No warnings or failed tests.

[code]

I expected at least some output, not just silently passing all tests.

[code]

[2019-10-01 11:11] garethr commented on #95
Could you include the policy files and input file you're using?

[2019-10-01 11:58] dewe commented on #95
Here goes:

[files.zip](https://github.com/instrumenta/conftest/files/3676051/files.zip)

[code]

[2019-10-01 12:02] gwkunze opened #96 "Structured output"
While looking at Gatekeeper (https://github.com/open-policy-agent/gatekeeper) I noticed their policies allow you to attach structured data to any violation, like this snippet from the Gatekeeper Readme:
[code]

I think something like this could potentially be a really powerful addition to conftest, for example, right now when I try to write tests for conftest policies I often end up using somethin

[2019-10-01 13:19] garethr commented on #96
I think this sounds like a nice area to explore.

Backwards compatibility is a valid concern, but also happy to break it if needed at this stage of the project.

Would be interesting to consider how we surface those details in the output.

It's probably worth proposing a specific design and having some discussion about it I think, it might be worth posting something in Slack (#conftest on the OPA

[2019-10-01 15:40] jpreese commented on #95
I looked into this some, and it looks like we broke multi-file yamls. In the provided example, if you remove all but the Deployment config, you'll get some results.

Since the yaml library doesn't support multi-document yaml files, we _were_ detecting line breaks/getting the result of each yaml in the `test.go` file.

It looks like it was moved to the yaml parser itself.

At first glance, it doesn

[2019-10-01 15:54] dewe commented on #95
Nice find. We’re using kustomize, so most of our configure are multi-document.

[2019-10-01 16:10] jpreese opened #97 "Resolve go.mod for 1.13"
The Docker API is not intended to be stable, so our dependency on it is going to cause dependency problems for us. We're already experiencing some.

It would probably be in our best interest to move buildkit's parser functionality to its own module, and own that functionality.

EDIT: Updating to include our `go.mod` as a whole. Right now we have a lot of `replace` directives due to our dependencie

[2019-10-01 17:18] nicolasbernard opened #98 "Feature request: a one-liner story for remote policy"
Hi,

All moderns CI tools seems to take the "modular path" where each job step is an OCI image and an overrided entrypoint to customize the command.

Personally I like it and I think Conftest, which as a lot of CI use-cases, make it difficult for remote policies.

Today you have to setup a 2 steps job:
- `conftest pull instrumenta.azurecr.io/test` then `conftest test ...`
- `echo "[[policies]]..."

[2019-10-01 23:58] amitsaha commented on #95
Ahh, didn;t realize this was a regression. I ran into this yesterday when feeding the output of `kustomize build` into `conftest test`. I even worked on "supporting it" (my WIP [here](https://github.com/instrumenta/conftest/compare/master...amitsaha:multidocument?expand=1)).

My expectation of this feature is that it should consider the tests to be valid across all files in the multi-document YAML

[2019-10-02 03:21] jpreese commented on #95
Well, it's a regression in the sense that multi-file yamls used to work. 0.13 appears to have broken that functionality.

[2019-10-02 16:49] jpreese commented on #95
I have a PR out there that should resolve this.

[2019-10-03 18:08] #95 closed

[2019-10-03 19:34] #35 closed

[2019-10-03 19:35] garethr commented on #94
Mmmm, interesting. Definitely worth chatting on OPA Slack and opening an issue in the main repo. I'm not sure how our usage of the library would cause this to happen.

[2019-10-03 19:54] jpreese commented on #41
Any additional thoughts on this @garethr ?

[2019-10-04 09:25] gwkunze commented on #96
I dove into the code a bit to try and understand how things are working, and it looks like there might be a simpler (backwards compatible-ish) way. Currently, conftest just takes the OPA policy result and type-asserts it to a `string`, changing that to a type switch and testing for a `map[string]interface{}` in addition to `string` could take care of both formats, even intermixed.

That still leav

[2019-10-04 12:54] brendanjryan commented on #96
This is something i've been wanting for a very long time -- thank you for writing this up!

Overall I think the proposed implementation looks good. Perhaps we could put this feature behind a "-details" flag so that it doesn't break current tooling out of the box?

This sounds like a good path forward 👍

[2019-10-04 14:27] gwkunze commented on #96
@brendanjryan I've added your suggestion to the PR I just pushed, thanks!

[2019-10-04 18:41] mauilion commented on #98
+1 on this one. I was just trying to use deprek8 from `git.io/deprek8` and found that `-p https://git.io/deprek8` don't do it :)

[2019-10-05 12:09] garethr commented on #41
Thanks all, I've added the following folks as collaborators on the repo, and set things up to review reviews and PRs into master.

@jpreese @xchapter7x @boranx @Proplex @brendanjryan @Blokje5

Welcome!

[2019-10-05 12:09] #41 closed

[2019-10-06 13:44] Blokje5 opened #101 "Support for more authentication options when pulling/pushing Rego policies"
ORAS supports basic http auth when pushing/pulling from a OCI registry and connecting to a registry without validating SSL. This can be useful when setting up a local docker registry running in a Kubernetes cluster in order to test a CI/CD pipeline running conftest. My suggestion is to add the `--username` and `--password` flags. Ideally also a `--insecure` flag to allow for skipping SSL validatio

[2019-10-07 07:21] Blokje5 commented on #98
I like the idea. @mauilion also has a good point. We should probably support more then just OCI registries to fetch data. https would be great. S3 would be nice as well. Maybe even git repositories. I'll log that in a seperate issue though. But the move to using URLs would also be a good opportunity to think about other methods of fetching policies.

[2019-10-07 07:28] Blokje5 opened #102 "Support HTTP/HTTPS/Git for fetching policies."
A comment in #98 had a good [use case for supporting HTTP/HTTPS for fetching policies](https://github.com/instrumenta/conftest/issues/98#issuecomment-538515667). It would be great to test out policies found on e.g. Github in order to quickly test them.

I think we can at least support HTTP/HTTPS but others that would be nice include for example Git and S3 like blob storages.

[2019-10-07 09:09] garethr commented on #102
Good idea. I think considering reuse generally, with support for multiple backends, would be great.

I'm also happy to break what we have today if needed if that results in a more consistent experience across backends.

[2019-10-07 12:03] nicolasbernard commented on #102
https://github.com/hashicorp/go-getter is a Go library, already supporting http, S3 and Git, it can be a good start.

[2019-10-07 13:08] Blokje5 commented on #102
Yeah, might be a good starting point. I'll see if I can pick this up this week/weekend.

[2019-10-07 18:13] Blokje5 commented on #98
I'll pick this up together with support for HTTPS as the two work well together. If we support HTTPS we need a way to differentiate between OCI and HTTPS, and using URLs is a good way to solve it.

[2019-10-09 06:01] amitsaha opened #103 "Policy for Kubernetes manifests with multiple resource definitions of same kind"
Hi all, thank you for this tool. Gives me some hope of taming the madness. Consider the following Kubernetes manifest which will create two service accounts:

[code]

I want to write a policy file which will pass only iff both the service accounts are specified with the names `x1` and `x2`.

It's my very early days with rego, and the following policy will *only* work if the names do not match. It

[2019-10-09 07:23] boranx opened #104 "bug: Output format for test command does not work"
Hi,
the `output` flag does not work for the `test` command.
It seems binding one `viper` flag to 2 subcommands(`verify` and `test`) does not work.
I saw this when I'm trying to bind the `input` flag to `parse` command and an [issue](https://github.com/spf13/viper/issues/233) about this.

Expected:
[code]

Pinging @Blokje5  about this.

[2019-10-09 08:30] Blokje5 commented on #104
Thanks @boranx  for reporting the issue. It indeed seems to be an issue in how viper deals with binding flags. I have pushed out a quick fix: #105.

[2019-10-09 12:08] gwkunze opened #106 "multi-document YAML file issue"
Since 0.13 conftest has changed how it handles multi-document YAML documents, it behaves somewhat similar to how conftest works with the `--combine-config` flag, instead of passing each document individually through the polices, it sends a single array of documents through them.

I definitely understand why this functionality was changed as it now allows you to enforce policies across multiple doc

[2019-10-09 12:26] garethr commented on #106
Mmm, that sounds like a bug rather than an intentional change, but probably wants some closer thought about the separate usecases:

* Single document documents
* Multi-document documents
* Multiple documents (which could be single or multi-documents)
* How the above interact with the `--combine` flag

[2019-10-09 12:43] jpreese commented on #106
Do you have an example policy and yaml file that broke behavior for you @gwkunze ? I'd like to get a concrete example and toss it in a test to make sure we get that fixed / make a call on how to implement.

If I recall in 0.13, even multi-file yamls still execute the policy against a single file. In other words, if you have a yaml with a `---` separator, each separated yaml is validated individual

[2019-10-09 15:17] gwkunze commented on #106
Just a simple example with the following policy:

**policy/main.rego**
[code]

and the following two documents:
**single.yaml**
[code]

**multi.yaml**
[code]

gives the following output:

[code]

[2019-10-09 15:18] gwkunze commented on #106
Forgot to add:
[code]

[2019-10-09 15:34] jpreese commented on #106
@gwkunze thanks for the examples and the version! Could you try with conftest 0.14?

If its still problematic for you, I'll look into this today.

[2019-10-09 15:45] gwkunze commented on #106
Ahh no, 0.14 it behaves as like it did before 0.13 again:

[code]

[2019-10-09 15:46] gwkunze commented on #106
but with `--combine-config` you do get the slightly inconsistent behaviour:
[code]

[2019-10-09 15:54] jpreese commented on #106
I think the behavior is intentionally inconsistent. I honestly didn't follow much of the discussion around the `--combine-config` flag, but the [README](https://github.com/instrumenta/conftest/blob/master/README.md) does point out that using this flag is a breaking change to how its used. So to me, difference of behavior would be expected.

For clarity, `v0.14` did fix your issue though, yes?

[2019-10-09 21:58] #104 closed

[2019-10-10 07:39] gwkunze commented on #106
v.014 fixed the issue when not using the combine-configs flag, however `--combine-config` has the behaviour I originally described.

When using conftest against a yaml file (for example, one generated by the `helm template` command) conftest (with `--combine-config`) parses files differently depending on whether it's a single or multi document yaml, yielding a object or array of objects respective

[2019-10-10 07:57] gwkunze commented on #106
This is specific to helm, but the `helm template` command generates a comment for each sub document, something like `# Source: <filename>` which is the original filename the document came from. I believe [kubeval](https://github.com/instrumenta/kubeval/) already respects this as the original filename.

[2019-10-10 17:32] jpreese commented on #106
Yeah I've definitely contemplated whether or not multi-file yamls should be multiple inputs or not. At least for 0.14, I wanted to keep the behavior consistent so things didn't explode.

My gut leans towards multi-file yamls being a single input, and combine-config, obviously, being multiple inputs. I think that is easy to explain and reason about.

I don't really like the idea of having to differ

[2019-10-10 19:28] nicolasbernard commented on #106
I think multi-doc support is mandatory and multi-file is usefull (I want to check that each deployment has a pdb for example).

The easy way is to standardize the worst case: `input[file][index]`.
`file` is the filename, single or multi files, don't matter, we can even remove the combine flag.
`index` is the document index in multi-doc file, always 0 in mono-doc files.

pro: handle every needs.
co

[2019-10-11 09:51] gwkunze commented on #106
@nicolasbernard yes, that makes sense, but since conftest has different behaviour for different file formats (hcl, json, yaml)  anyway, it might be worth considering only doing this for files that support multi-document, which as far as I know is currently only YAML.

[2019-10-11 13:03] nicolasbernard commented on #106
I don't know, it opens new formats, like [jsonl](http://jsonlines.org/) and you can have a static `0` for mono-doc formats.

What about combining multiples files in differents formats? (Seems a nightmare to me and I havn't usecases ;))

[2019-10-11 19:24] imsky opened #108 "conftest no longer exits with non-zero code on failure if the last file checked does not fail"
v0.11.0 exits with a non-zero code if any file failed

[code]

v0.13.0 does not do the same

[code]

[2019-10-12 09:39] garethr commented on #106
I think the problem with:

Is that we lose information that may be relevant in some cases. I'd err on the side of flexibility I think with conftest being such a general purpose tool.

[2019-10-12 10:51] garethr commented on #103
Conftest by default operates on individual documents, so with multi-document YAML files like the above OPA rules are interpreted individually for each ServiceAccount.

However, we have a new flag, currently `combine-config`, which combines the documents into a list, which allows for writing cross-document (and cross-file) rules. This is still changing a little, and we have few examples at the mome

[2019-10-12 10:51] #103 closed

[2019-10-12 11:24] garethr commented on #108
@imsky thanks for reporting. Fix incoming in https://github.com/instrumenta/conftest/pull/110

[2019-10-13 17:32] Blokje5 opened #111 "conftest verify does not support `--trace` flag"
As logged on the conftest slack channel by Grzegorz Głąb. Adding `--trace` support in running Rego tests with `conftest verify` would lead to a more consistent experience as the `conftest test` command also supports `--trace`.

The trace flag is already support by the [opa test runner](https://github.com/open-policy-agent/opa/blob/master/tester/runner.go), so it should be an easy include in the `c

[2019-10-13 18:10] Blokje5 opened #112 "Flags defined on all commands that are only relevant for certain commands"
Some flags (i.e. `--trace` and `--namespace`. Also `--no-color` but I can imagine that being relevant for all commands at some point) are available on for all commands, but only relevant for some. They should be moved up to the relevant commands, so that users don't get confused when trying `conftest pull --trace`.

[2019-10-14 06:09] amitsaha commented on #103
Thank you, appreciate the pointers.

[2019-10-14 09:14] gwkunze commented on #106
An option, which would be quite backwards incompatible is to change the format of combine-config's functionality, turning the input into an array instead of an object gives you more flexibility:
[code]

when working with inputs like this you could still do queries for all documents in a file:

[code]

but the object representing the file could also contain other fields that might be interesting, f

[2019-10-14 19:52] davewongillies opened #114 "conftest test is slow"
We're using conftest in our pipelines for checking policies in against terraform plan files. We've got a few policies currently (28 at last count) and all the policies have unit tests (I think all the policies have at least a couple unit tests). I'm noticing when we run conftest test that its quite slow, and seems to be loading up the unit test files too.

[code]

If I delete all the unit test `*_

[2019-10-14 20:04] jpreese commented on #114
Interesting. I can't think of reason to load in the _test files as we're taking the structured data as input and should be applying it against the actual policy.

[2019-10-14 22:30] jpreese opened #116 "Resolve golanglint-ci errors"
When working on #115, I noticed there's an error about an invalid json output, and we're not getting inline comments anymore.

Since it's a hook, it's most likely setup and configured behind conftest's settings.

@garethr

[2019-10-15 18:58] arminbhy opened #117 "Policies with same filename in different subdirectories override eachother (last one wins)"
Looks to be related to the line below where the we use the filepath.Base of the file as key for modules

https://github.com/instrumenta/conftest/blob/3d405f58718da7bb4d5ae80975c91d9f5bc1e4b5/pkg/policy/compiler.go#L33

[2019-10-15 19:26] #108 closed

[2019-10-15 19:51] davewongillies commented on #114
Perhaps `*_test.rego` files shouldn't be loaded for particular commands? https://github.com/instrumenta/conftest/blob/3d405f58718da7bb4d5ae80975c91d9f5bc1e4b5/pkg/policy/compiler.go#L53

[2019-10-15 20:26] davewongillies commented on #114
I've raised PR #118 with a fix of sorts and the results arewhat I'm expecting:

[code]

[2019-10-15 23:12] davewongillies commented on #114
Resolved by #118

[2019-10-15 23:12] #114 closed

[2019-10-16 20:06] #89 closed

[2019-10-16 21:40] #117 closed

[2019-10-23 15:37] v-ymarchanka opened #128 "simple policy does not work"
Hey! I have troubles running simple check:
[code]
[code]
[code]

if I try the same [here](https://play.openpolicyagent.org/p/2YOLEAngRM) - it works fine
![image](https://user-images.githubusercontent.com/46332393/67409999-67a98b80-f589-11e9-8599-0d8aa42cca00.png)

did I miss configured something? Or bug?

Thanks!

[2019-10-23 16:18] jpreese opened #129 "Add integration tests for Push and Pull commands"
I would like to see us add some integration tests around our `push` and `pull` commands as both of those are sorely lacking in coverage. Based on the actions they perform, unit testing isn't going to give us as much confidence as we might like.

To tackle this, I would envision something like the following:

1. Spin up a local docker registry (maybe `docker run -it --rm -p 5000:5000 registry`)

2.

[2019-10-23 16:23] jpreese commented on #128
By default, the data is pulled from the `main` package. Looking at your example, you're using `example.rules`.

You'll need to use the `--namespace` flag to pass in `example.rules`

[2019-10-23 16:40] v-ymarchanka commented on #128
thanks for answer!

[2019-10-23 16:46] jpreese commented on #128
No problem, anytime! Thanks for using conftest 👍

[2019-10-23 17:02] v-ymarchanka commented on #128
Sorry for another stupid question but I'm not able to understand why this one is not working(followed by [README.md](https://github.com/instrumenta/conftest#--combine-flag)):
[code]
[code]
[code]
[code]
Could you, please, point me to proper section of documentation where I can debug variables easily?
smth like:
[code]
Thank you!

[2019-10-23 17:13] jpreese commented on #97
The `go.mod` file has been updated to reflect that it has been resolved with Go `1.13` via #123

[2019-10-23 17:13] #97 closed

[2019-10-23 18:59] boranx commented on #116
Is this still an issue for PRs? I saw the problem on the day you opened a PR, however, they look fine for now. (Maybe that was golanglint-ci's internal problem for that day)

[2019-10-23 19:16] jpreese commented on #116
I'm honestly not sure. I'd have to commit a PR that causes golangci-lint to fail and see if it makes a comment.

[2019-10-23 19:33] jpreese commented on #116
Problem does seem to be resolved. Will chalk it up as an issue with golangci-lint running on that day.

[2019-10-23 19:33] #116 closed

[2019-10-23 20:43] v-ymarchanka commented on #128
I still don't understand how to use it:
[code]
[code]
[code]
I installed conftest using this manual: [link](https://github.com/instrumenta/conftest#installation)
Policies are located in `policy` dir.
Kubernetes yaml manifests are in `.`
Any suggestions?

Thanks

[2019-10-23 20:54] jpreese commented on #128
Given your above scenario, you should be able to drop the brackets on `input`
ex:
`input["../deployment.yaml"]`

Can just be `input`

[code]

[2019-10-23 21:03] v-ymarchanka commented on #128
nope :(
[code]
[code]
No output at all

-------------------------
I was not able to reproduce this example also: [link](https://github.com/instrumenta/conftest#--combine-flag)

conftest expecting `--combine-config` not `--combine` but it does not make any difference:

[code]
`deployment.yaml` the same as in example above
[code]

[2019-10-23 21:12] jpreese commented on #128
Ah, at least when using `conftest`, it looks like the rule has to be `deny` or `warn`, so to get a value out of your deployment manifest:

[code]

[2019-10-24 13:34] v-ymarchanka commented on #128
Looks like a bug with `--combine-config` option:

policy/combine.rego:
[code]
deployment-and-service.yaml:
[code]
deployment.yaml:
[code]
service.yaml:
[code]
# empty output use `--combine-config`:
[code]
# output with data:
[code]
[code]
[code]

[2019-10-24 15:24] jpreese commented on #128
When using `--combine-config`, your `Rego` needs to be written differently.

In your above example I would expect your `input` variable to be `input["deployment.yaml"]` rather than just `input.

https://github.com/instrumenta/conftest#--combine-flag

[2019-10-24 17:40] v-ymarchanka commented on #128
I'll continue playing with conftest but no questions left so far.
Thank you for help @jpreese !

[2019-10-24 17:40] #128 closed

[2019-10-28 10:56] bzon opened #136 "Problem building rego compiler: lstat policy: no such file or directory"
I got an error when running conftest for the first time.

[code]

My system is MacOS Catalina.

opa version

[code]

conftest version

[code]

[2019-10-28 11:00] bzon commented on #136
Problem solved. Just RTFM. By default, `.rego` files should be inside a `policy` named directory.

[2019-10-28 11:00] #136 closed

[2019-10-28 17:41] garethr opened #137 "v0.14.0 broke json/tap output"
## Expected

[code]

## Actual

[code]

Happened between 0.13.0 and 0.14.0 https://github.com/instrumenta/conftest/compare/v0.13.0...v0.14.0

[2019-10-28 18:08] jpreese commented on #137
This should be resolved within the `master` branch. We may need to just cut a new release.

[2019-10-28 19:01] garethr commented on #137
@jpreese confirmed. Thanks. I've just tagged v0.15.0

[2019-10-28 19:01] #137 closed

[2019-10-29 13:54] boranx commented on #94
Closing this because the issue is not related to `conftest`.
Going to raise this in `OPA`

[2019-10-29 13:54] #94 closed

[2019-10-29 17:21] v-ymarchanka opened #138 "how to get value from map using `--combine-config`"
Hey!
I walked though the issue: [#106](https://github.com/instrumenta/conftest/issues/106) and created simple .yaml manifest:
[code]
rego.policy:
[code]
run `conftest test test.yaml --combine-config`. output:
[code]
or
[code]
output:
[code]

it works fine if policy is:
[code]

This issue might look stupid, but I don't understand why this is not working.
Need help :pray:

Thanks!

[2019-10-29 18:47] v-ymarchanka commented on #138
We have repository with multi level structure that updates frequently.
Combine all configs in one big manifest is really useful and, I guess, only the one way acceptable for us(we don't want to update policies or shell script after new manifests added).

Ideas:
1. To be able to identify duplicates before they will be sent to Kubertenes for deploy.
I'm trying to make process less time consuming and

[2019-10-29 19:35] jpreese commented on #138
`yaml.marshal` is going to return a `string`, not an array you'd be able to index. In this case, you're trying to use a `string` in a way its not intended. So you can assign/return/print it just fine.

[2019-10-29 19:39] v-ymarchanka commented on #138
got it!
Is here any way to create structured data from input so I can iterate over it then?

Thanks!

[2019-10-29 19:45] jpreese commented on #138
I'm quite sure I follow, generally the input to conftest is already structured.

Are you looking for something like `conftest parse test.yaml | conftest test -` . ?

[2019-10-29 19:59] v-ymarchanka commented on #138
sorry for being specific not enough.
lets say I have multi doc yaml:
[code]

And lets say I want to be sure that `there is only one Service with name hello-kubernetes` in this file
Is that possible to create single variable with list to iterate over it and find duplicates?

Thanks!

[2019-10-29 20:39] jpreese commented on #138
Not currently, no. `conftest` checks each yaml config in isolation when using multi-file yamls. In other words, `conftest` doesn't know about the `Deployment` when its evaluating the `Service`.

[2019-10-29 22:53] jpreese opened #141 "Provide additional feedback on conftest commands"
I think there's value in providing some additional feedback when running commands with `conftest`.

For example, running `./conftest verify` just returns an empty result. We don't know the path it attempted. Did it return nothing because it just returned an exit code 0 and the policies passed?

Maybe we could say "No policies found in [dir]", exit code 0, or something along those lines.

[2019-10-30 05:52] jpreese opened #142 "TestInputFlagForparseInput fails on Windows"
When running `go test -v ./...` from a Windows environment, the `TestInputFlagForparseInput` test fails to pass.

@boranx

[2019-10-30 13:32] v-ymarchanka commented on #138
Thank you so much for help!

[2019-10-30 13:32] #138 closed

[2019-10-30 16:35] v-ymarchanka commented on #138
Thank you @gwkunze for taking a look!
Specifying files in policy is not an option for us because we change/add manifests pretty frequently and it is very easy to miss configuration that has to be checked.
I like your approach described here: https://github.com/instrumenta/conftest/issues/106#issuecomment-540438590
[code]
but seems like it is not applicable because :hankey: might hit the fan.
@jpre

[2019-10-31 09:54] garethr opened #145 "Parse and multiple files"
The `parse` command doesn't indicate that it's variadic, and takes multiple files:

[code]

However it does do so, with slightly strange output.

[code]

Note the missing line break between the parsed first file and the filename for the second.

I think we should decide whether parse should take a list of files or just a single file?

If a list:
1. Update the help text
2. Add a line break

If a si

[2019-10-31 20:30] gwkunze commented on #138
@jpreese you misuderstood I think, conftest currently does *not* treat a multi-document yaml as separate documents when the `--combine` flag is used, try the policy I posted on the single-file yaml posted by @v-ymarchanka and you'll see it parses that file as an array of objects.

[2019-10-31 22:44] jpreese commented on #138
correct, maybe I mispoke above. For conftest, a document is a document on disk. Adding `--combine` would not change that.

[2019-11-01 11:27] boranx commented on #142
Thanks for the catch @jpreese!.
I'm going to look at this asap.

[2019-11-01 12:01] boranx commented on #145
Well, I think this should be a UX discussion. Therefore, the right question is can be:

- Which one do you prefer as a `conftest` user?

For me, the list makes sense. However, if folks decide to use this feature with a single file, we can change the code implementation as well.

Any thoughts?

[2019-11-01 12:24] boranx commented on #142
For the first inspection, I normally use `fedora31`. When I run tests with `wine`(allows us to run .exe) with `GOOS=windows`, the tests are passed. But my guess about this is can be related to line-endings in windows. At the weekend, I'm going to test it with the native `Windows` machine.

[code]

[2019-11-01 13:51] jpreese commented on #142
I'm pretty sure it is. Usually when I run into tests that are checking exact formatting, its usually tabs vs. spaces or different line endings.

There might also be value in making the expected string quite a bit smaller. If we think theres value in this type of test, a smaller block of text can be easier to debug and digest.

[2019-11-02 08:39] garethr commented on #145
I think the list makes sense, and matches the behaviour of `test`. The consistency is nice. So I think the fix noted above would be nice.

[2019-11-02 13:29] #145 closed

[2019-11-06 15:31] gwkunze commented on #106
In the interest of reducing the cognitive load of reading this entire thread here is a summary of what's discussed in this rather long thread:

# Summary

Conftest currently has inconsistent behaviour dealing with multi-document yaml files which only crops up when using the `--combine` flag. In non-`--combine`-mode it treats each individual document in a yaml file as if it was a separate single-do

[2019-11-07 10:16] dimakievua opened #153 "Validate yaml structure with --combine"
Hi,

I found the strange behavior of `conftest test --combine [files]`. YAML file should be formatted with very strict rule:
- `---` delimiter at beginning
- `---` delimiter at the end
- **new line** at the end after the last delimiter
Even I have several files with one manifest per file I should all al of this. Otherwise **conftest** just ignore file. If I have several manifests per file it just

[2019-11-10 17:19] menendezjaume commented on #112
Hey @Blokje5,
I'd love to contribute to the project. Am I OK to pick this up?
Also, just to confirm the scope of this, I've had a look at the code and I believe both `--trace` and `--namespace` are currently only being used by `test`. Is that correct? I'll move them there if so.
Do you want to move `--no-color` too or shall I leave it where it is? Thanks!

[2019-11-10 17:29] jpreese commented on #112
Sounds good to me @menendezjaume! Sounds like you've already done some investigative work for which flags apply to which command, but you've got the scope correct.

We should move the flags to their relevant commands as to not show flags that have no impact on other commands.

[2019-11-11 09:49] menendezjaume commented on #111
I've had a look at [OPA test runner](https://github.com/open-policy-agent/opa/blob/0ed978c6889e45587253770d466cda9efd7da3ff/tester/runner.go#L137) and it is indeed quite easy to enable tracing. However:

`EnableTracing enables tracing of evaluation and includes traces in results.`

This means that as well as capturing whether the user has added that flag or not, and pass it onto the runner, we wou

[2019-11-11 10:44] Blokje5 commented on #111
I am not sure if it is necessary to modify the `CheckResult` given that we would like to report the traces as either a success next to a succeeded test or a fail next to a failed test. The hard part is that this works well for JSON output and stdout output, but not with TAP output, although I can't imagine people will use trace and TAP at the same time.

There is a couple of approaches I could see

[2019-11-11 10:54] Blokje5 commented on #112
Closed thanks to @menendezjaume

[2019-11-11 10:54] #112 closed

[2019-11-11 12:39] boranx commented on #142
#152 is going to fix this.

[2019-11-12 13:53] gwkunze commented on #96
Just fyi, as a workaround while waiting for #100 to be merged I've been using the following pattern:

[code]

Now I can already write structure errors in the `my.structured_rules` namespace as `violation`. Note that here I also used the error level as a property of the object as I found I often got code duplication when writing `deny` and `warn` rules separately (especially when including other na

[2019-11-13 16:48] jpreese opened #158 "ConfigManager and different input types"
This is something thats been on my mind off and on, and wanted some feedback on.

Right now we use a single `ConfigManager` when a `conftest` command is run. Every file is parsed using the same input. But it feels like a good idea to support multiple. For example if we do:

`conftest test myyamlfile.yaml myjsonfile.json`

See line 180 in test.go
https://github.com/instrumenta/conftest/blob/master/

[2019-11-13 22:48] #142 closed

[2019-11-14 13:49] Blokje5 commented on #158
I like the idea, that makes it easier to work with a single conftest command, instead of having to run the test command for each format individually.

Also this would make it possible to verify multiple configuration types against each other. I could verify whether a database pointed to by a service in Kubernetes is created via Terraform, which could allow really powerful checks.

[2019-11-14 14:04] boranx commented on #158
I also liked the idea. I had realized that when I'm combined two different files for `parse` command like:
[code]
If you execute it, you'll see weird output for `ini`. This is obviously because of used `yaml` parser for `ini`.

[2019-11-14 16:34] boranx commented on #153
Thanks for issuing this.
@Salamandastron1 @jpreese, what do you think about this? Should we really check `---` in the first and `new line` at the end?

[2019-11-15 16:45] Salamandastron1 commented on #153
Okay, to make sure I understand the situation correctly.

Currently while using the `--combine` flag if a file input does not a have `---` at the end of a multi-document then the last *document* in the that file will be ignored.

Correct?

Also thanks for using the flag! It is only through use that we can discover more value and bugs like this :)

[2019-11-18 10:37] dimakievua commented on #153
@Salamandastron1 hi. Yes, you understand it correctly. The only issue not *last* will be ignored. A document that does not end with delimiter will be parsed as __Object__, not as __Array__ .
Please have a look at the trace from my example. *file2.yaml* has no `---` at the end:
![image](https://user-images.githubusercontent.com/20700407/69045723-1eb9eb00-0a00-11ea-9cd0-f964a6c7bb47.png)

And correc

[2019-11-23 16:39] menendezjaume commented on #111
Hey @Blokje5,
I gave it a go. I ended up modifying the `CheckResult` struct, which I thought was the neatest way to blend this feature with the exiting workflow. Please let me know what you think and if any changes are required.
Thanks!

[2019-11-24 10:11] menendezjaume commented on #2
Would love to work on this if that's OK. I see that we could use [go-edn](https://github.com/go-edn/edn) and integrate it with the `util/parser.go` that @Blokje5 did.

[2019-11-24 22:58] mike-stewart opened #164 "Panic Running on Linux"
I receive the following runtime error when executing a policy in a linux environment. I get the same error on go 1.12.x and 1.13.x as well as conftest 0.15 and 0.14.

Executing the same test on Mac with the same go/conftest version succeeds.

[code]

[2019-11-24 23:28] mike-stewart opened #165 "Verify: Exit Code 0 Even on Failure"
It appears the `conftest verify` will return an exit code of zero, even if there was a failure. Tested on both 0.14 and 0.15.

[2019-11-25 04:45] KeisukeYamashita commented on #165
@mike-stewart  Interesting. Could you show me your inputs and the command you executed?

[2019-11-25 05:16] mike-stewart commented on #165
The command was literally just `conftest verify`. I can't share my tests directly, but I could extract a PoC if needed.

Looks like you've already found the issue though - thanks for the quick fix!

[2019-11-25 19:21] menendezjaume opened #167 "Move the output of `conftest test ... --trace` to output.go"
As suggested by @boranx in #163, and now that we have traces in the `verify` command using `output.go` and the `CheckResult` struct, It would be good to move the traces from the `test` command to use the same pattern.

[2019-11-25 21:01] kmcquade opened #169 "getPolicyFiles does not accept non-Rego data files (i.e., YAML or JSON)"
OPA proper loads any file that parses successfully as yaml or JSON (caveat being when --bundle params are used). However, conftest does not load non-rego files. Dove into the source code and saw this:

https://github.com/instrumenta/conftest/blob/master/policy/policy.go#L94

It would be great if this could be modified to accept YAML or JSON files. I struggled to identify an issue where my unit tes

[2019-11-25 23:51] mike-stewart commented on #164
This appears to have been an intermittent issue - subsequent executions on my CI provider started passing after a few hours. I will close for now and re-open if it comes back.

[2019-11-25 23:51] #164 closed

[2019-11-26 11:08] v-yzakapko opened #170 "Check if key exists in object in Rego"
Hey all. I had a rule like this:
warn[msg] {
  manifests = input[filename]
  some i
  manifests[i].kind == "ServiceEntry"
  **manifests[i].metadata.namespace != "external"**
  msg := sprintf("Error in %s. ServiceEntry %v, namespace should be external, but set %v",
  [filename, manifests[i].metadata.name, manifests[i].metadata.namespace])
}

But if the namespace field(bold string) is absent in mani

[2019-11-26 14:41] KeisukeYamashita commented on #165
@mike-stewart The pr was merged and it will be released in the next release. Please close if everything is fine. Thank you.

[2019-11-26 15:34] boranx commented on #165
I'm closing this, the fix is on `master`.

[2019-11-26 15:34] #165 closed

[2019-11-26 15:47] menendezjaume commented on #111
I believe we can close this, right? I don't think I can do it myself.

[2019-11-26 16:23] Blokje5 commented on #111
Yes you are right. #163 is merged.

[2019-11-26 16:23] #111 closed

[2019-11-26 19:10] KeisukeYamashita commented on #170
As far as I know, if the key dosn't exist it will be handled as undefined variable and the test will fail. This is a great thing because everything that your are trying to test should exist otherwise it is an invalid input.

I will investigate has_key function because I am also curious about that.

[2019-11-26 20:59] menendezjaume commented on #167
I can't assign it to myself, but I'll be working on this issue this week.

[2019-11-26 21:10] menendezjaume opened #171 "Consistent handling of errors and case-sensitive messages of the parser"
As a result of the review of #168, I've seen that the handling of errors and the case of the messages is not consistent across all the parsers.

With this issue, if it's OK with you, @boranx, I will be combining, where it makes sense, all err handling snippets of code from `parser/...` from:

[code]
to something like:
[code]

A quick search has shown me that this mainly happens when calling `parse

[2019-11-27 01:12] barbia opened #172 "HCL2 example produces unmarshalling error"
when running the below command in the hcl2 example directory the following error is produced
``conftest test terraform.tf``

``ERRO[0000] Unable to BulkUnmarshal your config files: Should not have any errors on unmarshalling: At 16:16: Unknown token: 16:16 IDENT data.consul_key_prefix.environment.var``

This seems to be an error parsing the terraform.tf file and how the parser handles the dynamic

[2019-11-27 01:22] barbia commented on #172
Can create a different issue if needed, but also noticed the repo referenced by the parser code for HCL2 has a disclaimer to point back to the main HCL repository: https://github.com/hashicorp/hcl2/#experimental-hcl2

[2019-11-27 09:10] boranx commented on #172
Hi @barbia,

Normally `tf` extension strictly bound to classic `hcl`.
To use `hcl2`, pass `--input` flag to the `test` command like:

[code]

[2019-11-27 09:40] boranx commented on #2
support for `EDN` is now available.

[2019-11-27 09:40] #2 closed

[2019-11-27 14:27] jpreese commented on #171
Closed via #171 . Thanks @menendezjaume ! 🚀

[2019-11-27 14:27] #171 closed

[2019-11-27 15:12] jpreese commented on #167
Looking forward to it!

[2019-11-27 17:09] jpreese commented on #170
Correct. I see this as more of a behavior of OPA itself, and less something that `conftest` should handle.

I experienced something similar. That thread and some additional context can be found here: https://github.com/open-policy-agent/opa/issues/1857

[2019-11-27 17:09] #170 closed

[2019-11-27 17:15] php-coder opened #174 "Is there plans to support XML configs?"
Do you have plans to support configuration files in XML format?

[2019-11-28 09:39] philjhale commented on #169
I've encountered this same issue with Conftest. I was trying to eliminate duplication between the error messages in my policies and in my unit tests. Here's a partial example (full example [here](https://github.com/philjhale/rego-examples/tree/master/terraform-conftest))

Policy file.
[code]

Test.
[code]

Error messages JSON file.
[code]

The unit test passes when executed with OPA. Running the C

[2019-11-28 12:09] boranx commented on #174
Actually, that would be a good feature as we consider `xml` a `configuration language`.
For me, we should definitely support it. Are you willing to open a PR to add it?

[2019-11-28 13:59] php-coder commented on #174
I'd expect that it's not so easy. I even don't know what library to use for work with XML in Golang.

[2019-11-28 14:23] boranx commented on #174
If you wish, I can work on this.

[2019-11-28 14:42] php-coder commented on #174
@boranx That would be great! I can help to test this.

[2019-11-28 14:53] boranx commented on #174
@php-coder deal!. Gonna prepare a PR for this.

[2019-11-29 08:59] ibiqlik opened #176 "Error: push bundle: pushing manifest: empty descriptors using Conftest v0.15.0"
As the title says using version 0.15.0 I'm getting an error while v0.10.0 works just fine.

Assuming you have required auth to a OCI registry or using open registry, run the following:

`conftest push myregistry.azurecr.io/policies:tag`

I get the following error:

`Error: push bundle: pushing manifest: empty descriptors`

This is what I currently have in the `policy/` dir:

[code]

- base_k8s.reg

[2019-11-29 12:27] php-coder opened #177 "Output the line number where violation has occurred"
Given the example output:
[code]
It would be nice to also show a line where violation occurs. It helps to locate the place where to apply the fix faster.

(By the way, the example can be improved to also output the name of a container. This provides a better user experience.)

[2019-11-29 12:28] php-coder commented on #177
@seedofpanic @besok JFYI

[2019-11-29 18:07] garethr commented on #177
Unfortunately I don't think this is possible to solve generically? The example you provide would have a line number, but not all rego policies will do so - they may take inputs from multiple lines, or even multiple files.

It would be interesting to explore and see if a pattern exists for this in Rego itself. If one does then, with the incoming structured errors we might be able to support passing

[2019-11-30 02:54] barbia commented on #172
Thanks @boranx!
Any thoughts on my second note, it sounds like the two libraries will be unifying at some point: https://github.com/hashicorp/hcl/wiki/Version-Selection

[2019-11-30 05:47] kenfdev commented on #176
Haven't dug in detail but maybe the following PR fixes it. So using the master version may solve the issue?

https://github.com/instrumenta/conftest/pull/147

[2019-11-30 13:55] menendezjaume commented on #172
Hey @boranx, @barbia,

I'd be happy to work on migrating our current parser to the stable version if that's something of interest to the project.

Thanks.

[2019-11-30 16:35] jpreese commented on #176
Yep! We haven't made an 0.16 release yet, but if you build from master this issue should be resolved there.

[2019-12-01 15:46] menendezjaume commented on #172
I have raised a PR that should address this.

[2019-12-02 19:52] kmcquade commented on #169
@jpreese @philjhale @Blokje5 @garethr - sorry to blow up everyone's notifications here! Just wondering if someone can take a look at this. :)

[2019-12-03 10:00] Blokje5 commented on #169
Yeah makes sense. We should make sure we load any data files as well into the modules.

[2019-12-03 10:05] Blokje5 commented on #172
@menendezjaume Thanks for providing a PR. I will close this issue.

[2019-12-03 10:05] #172 closed

[2019-12-03 10:34] enkov opened #180 "Support Jsonnet input"
To expand the potential places where Conftest could be used, it would be good to support [jsonnet](https://jsonnet.org) natively as an input.

[2019-12-03 11:00] ivgenich73 commented on #180
Good and useful idea! 👍🏻

[2019-12-03 13:03] kmcquade commented on #169
Thank you @Blokje5 :)

[2019-12-03 14:16] #174 closed

[2019-12-03 17:23] Blokje5 commented on #169
Had a quick look: changing that line in the `policy.go` file does not work as that is indeed only looking for Rego files to compile. However, we can use the `rego.Load()` function in the `buildRego` function in the test command.

The `rego.Load()` command will load any file with a *.rego, *.yaml, or *.json
extension. It could be a quick win to atleast make the `conftest test` command able to load

[2019-12-03 19:27] patrick-east commented on #169
Thanks for looking into this @Blokje5 !

Just adding in my 2c... I fiddled around with similar things over the last few months with OPA CLI's so I figured I'd share.

Using `rego.Load()` is a pretty good option, and you can do something similar with `tester.Load()` to get a `storage.Store` and then pass it to the test runner via `Runner.SetStore(..)`.

Something to consider though that was (is) ki

[2019-12-04 10:32] boranx commented on #167
The fix is in master. Closing this, thanks @menendezjaume

[2019-12-04 10:32] #167 closed

[2019-12-06 00:46] jutley opened #181 "`test` should fail when using a non-existant namespace"
I just caught an issue with some automated validation where we were using the `--namespace` flag, but the policy file was configured with a typo in its package. This means that none of the policies were being checked, but we had no idea.

I think that when `--namespace` is used, the command should fail if the namespace does not exist.

[2019-12-06 10:00] KeisukeYamashita commented on #181
IMO, when there are no tests in that namespace, it should be treated as `success` because there are no polices. You will never fail unless there are no policies, this makes more sense.

[2019-12-06 11:49] menendezjaume commented on #181
Agree with @KeisukeYamashita. No rules founds to me means that the test has been successful as there are no policies defined. Having said that, we could probably warn the users that no rules matching that namespace have been found.

[2019-12-06 11:53] menendezjaume opened #183 "output json and output tap do not output traces"
Hi there,

Playing around I've realised that the output `-o json` and the output `-o tap` do not print the traces that we newly captured from opa.

If it's OK with everyone, I'll shortly open a PR to fix that (just saying it as I can't assign the ticket to myself)

Thanks.

[2019-12-06 16:35] KeisukeYamashita commented on #86
@lucperkins  I submitted a PR for this issue. This pr https://github.com/instrumenta/conftest/pull/182 will solve this.

[2019-12-07 11:01] Blokje5 commented on #169
Thanks for chiming in @patrick-east. It is really helpful to get some perspective of the issues encountered in the OPA CLI. I like the idea of adding a `--data` flag to keep it clean and avoid unexpected behaviour. I'll dive a bit deeper in the `loader` package. It would indeed be best if we avoid multiple mechanisms of loading policies.

[2019-12-07 13:13] Blokje5 commented on #183
#185 Fixes this issue. Thanks @menendezjaume!

[2019-12-07 13:13] #183 closed

[2019-12-07 15:09] boranx commented on #86
Closing this as we support now.
Thanks, everyone!

[2019-12-07 15:09] #86 closed

[2019-12-07 16:32] Blokje5 commented on #102
#107 Implements this. conftest now supports everything go-getter supports + ORAS for pulling policies.

[2019-12-07 16:32] #102 closed

[2019-12-07 16:33] Blokje5 commented on #98
#107 Closes this. The `--update` flag of the test command now allows you to specify a remote `oci://` (among others, such as `git://` and `http://`) to pull policies in the test command.

[2019-12-07 16:33] #98 closed

[2019-12-07 17:55] menendezjaume opened #186 "Embedding traces in each one of the results (as opposed to flushing them at the end)"
Since I implemented the traces, it didn't feel right that they were all being flushed at the end of the results, and that one couldn't really tell what traces belonged to what results. I feel that the feedback that the user is receiving is misleading and not very clear.

To address this concern, I've been working on a PR that I will shortly create.

[2019-12-09 00:49] KeisukeYamashita opened #190 "Support output deny only mode"
## What

* Currently `conftest` supports for 4 outputs
    * successes
    * failures
    * warnings
    * traces
* I suggest implementing a failure only mode like below.
    * With this flag enabled, it shows only `failures`.

[code]

* The controversial part is, whether we should show `warnings` in `failure-only` mode.
* I can raise a PR for this.

## Why

* Admins will want to know the success

[2019-12-09 10:30] boranx commented on #186
#187 fixed this.

[2019-12-09 10:30] #186 closed

[2019-12-09 12:04] boranx commented on #190
I'm curious that we need this flag really.

For the `traces`, the flag has been disabled by default, it can be turned on with `--trace`.
We have the `successes` option but it doesn't work for most of the parsers we support.
Like:
[code]

My gut tells me that we should pass `--verbose` flag(or something) if we want to see more verbose outputs like `passings` ( just like the other testing tools)

Th

[2019-12-09 20:40] kfox1111 opened #194 "ansible / yaml list input"
Thinking about using conftest with ansible (its just yaml)

Its failing though. looks like input being a list doesn't quite behave properly. Not sure if this is a rego or a conftest issue.

Test file:
[code]

Test rego that should work but doesnt:
[code]

[2019-12-09 20:48] kfox1111 commented on #194
It works in the rego sandbox, so it must be something conftest specific?

https://play.openpolicyagent.org/p/fayccvPEZx

[2019-12-09 23:08] KeisukeYamashita commented on #194
It will work like this. `input` isn't a slice.

[code]

[2019-12-09 23:13] KeisukeYamashita commented on #190
@boranx  Currently, we don't support `successes` option. All verification and tests will output successes.

The latest master will output like below.

[code]

IMO, we should disable `PASS` which are policies that passed(=successes) by default and implement a `--verbose` (or something) flag to turn it on.

[2019-12-09 23:19] kfox1111 commented on #194
so the top level list is stripped out by conftest?

Seems to work. Thanks.

[2019-12-09 23:19] #194 closed

[2019-12-10 03:50] asm0dey opened #196 "Support HOCON"
At work our primary configuration format is HOCON and it's truly awesome - it's structured very well, supported by IDEA and has references.

Could you please support it?

[2019-12-11 01:52] kmcquade commented on #169
@Blokje5 would this prevent me from loading multiple data.yaml files? If we had to specify `--data`, that would break the exceptions behavior, as shown in my example here: https://github.com/kmcquade/opa-terraform-exceptions-example

For example: Let's say that we have logic that prevents creation of security group rules for CIDR ranges that do not match either (1) RFC1918 CIDRs, (2) organization

[2019-12-11 10:54] Blokje5 commented on #169
@kmcquade I think building it in a way where we allow the `--data` flag to be passed multiple times makes sense. Indeed as you say, there are multiple use cases where this makes sense. The example you gave also provides a great test case for this change. I'll spend some time over the Christmas holiday to work on this. I'll keep everybody up to date on the progress.

[2019-12-12 12:46] boranx commented on #141
Fix is on the master. Closing this.

[2019-12-12 12:46] #141 closed

[2019-12-15 23:13] jutley commented on #181
I think a warning is probably appropriate. Ideally we can differentiate an incorrect namespace from the success case. A warning accomplishes this.

[2019-12-16 21:04] Salamandastron1 commented on #153
@dimakievua could you post the contents of `file.yaml` and `file2.yaml`? I have time to move forward on this but want to recreate the problem accurately

[2019-12-17 02:32] KeisukeYamashita opened #200 "Automatically checking the input file"
## What

Currently, we have `-i` flag for telling `conftest` what is the input file type is.

IMO, we can automatically get file type from the file extension.
I will like to raise a PR for this.

## Why

* Reduce flags. Making simple
* I can't find use cases where the file content is different from the file extension.

Currently, if we specify the wrong `-i`, it will return an error.

[code]

[2019-12-17 03:11] davewongillies commented on #200
The help mentions why it exists:

So perhaps leave the flag there for stdin situations, but have the logic for figuring out the extension when an actual file has been provided for input?

Personally (and slightly unrelated) I think that flag should have been called `input-type` or something similar. Initially when I started using conftest I expected `--input` to specify the name of the input file.

[2019-12-17 04:16] KeisukeYamashita commented on #200
I found out.
For Terraform file `.tf`, there are `hcl` and `hcl2`. That's the reason why this `-i` exists.

[2019-12-17 04:55] KeisukeYamashita commented on #200
I will close cause I understand the reason why the `-i` flags exists.
@davewongillies  Thank you very much :)

[2019-12-17 04:55] #200 closed

[2019-12-17 13:20] boranx commented on #190
imho, it should be like this. However, I dunno what folks think about this.
@Blokje5 @jpreese what do you think about this?

[2019-12-17 13:26] jpreese commented on #190
I'm not really seeing the value add. What is the problem that we're trying to solve?

I'm not completely against the idea, I think the behavior would be acceptable if by default conftest only rendered warnings and failures, and maybe only output a count of successes (e.g. 10/10 policies passed). But give the ability to show each passing policy via a `verbose` flag. This is the behavior of `go test

[2019-12-17 13:27] jpreese commented on #181
I do agree that there should be some feedback. Even if that feed back is `0/0 policies passed`, exit code 0.

This would let the user know that no policies were checked, and could be expanded upon to count all succeeded policies when some are passed.

[2019-12-18 07:24] KeisukeYamashita commented on #190
The `--failure-only`  can be `--deny-only` or something else.

The use case about `--failure-only` flag is showing output of failure policy only.
Somethings we want `success, warning, deny(violations)` or only `deny(violations)`.
In CI/CD, users don't want success output.

[code]

With the flag it shows only `failures`

$ conftest test -p examples/kubernetes/policy examples/kubernetes/service.yaml

[2019-12-18 07:43] KeisukeYamashita commented on #180
@enkov  I thought you can use `conftest` to your jsonnet outout(JSON) .
Are there problems in this solution?

[2019-12-18 07:45] KeisukeYamashita commented on #153
Agree with @Salamandastron1 . I will be great if you can show your inputs and we can reproduce that kinda errors.

[2019-12-18 07:47] enkov commented on #180
Yes I can pipe jsonnet rendered in json, but it would be more comfortable with native jsonnet support.

[2019-12-18 16:23] jremond opened #203 "Support --combine flag for parse command"
Hello,

I have started looking at conftest and found one thing missing to understand faster the input part.
The parse command currently does not support the `--combine` flag.
Would that be an interesting addition ?
Reading #106 I don't know if I should try to implement it based on the current behavior or wait for the discussion to be resolved ?

Thanks !

[2019-12-19 04:47] KeisukeYamashita opened #204 "Panic when passing empty rego file"
## What

When you pass empty rego files with `-p ` flag, the conftest will run into panic.
I will like to submit a PR for this to feedback users errors.

This panic is from OPA compiler but we should check beforehand of user input.

## Why

Showing users error messages are better than panic.

## How to reproduce

**OK**

[code]

**Bad**

[code]

When I pass something, it will success.

[code]

[2019-12-19 05:25] KeisukeYamashita opened #206 "INI parse results will return all literals in string"
## What

For non-string literals, the current INI parser will return it with string.

## How to reproduce

**Input sample INI**

[code]

With policy like this will fail.

**Fail**

[code]

But it will success like below because the INI parser will return all literals in string.

**Success**

[code]

IMO, we have two options to resolve this.

* Parse types correctly parser-level
    * Change the pa

[2019-12-19 11:50] Blokje5 commented on #204
@KeisukeYamashita Thanks for reporting this and picking this up!

[2019-12-19 11:50] #204 closed

[2019-12-19 19:55] nstogner opened #209 "Expose internal/commands"
Lifting the `internal/` restriction on the `commands` pkg would allow for other cobra-based CLIs to embed `conftest` as sub commands.

[2019-12-20 00:40] jpreese commented on #209
Which command(s) specifically are you looking to use?

[2019-12-20 02:21] KeisukeYamashita commented on #206
Ah, this looks like a conftest problem...

INI supports int literal too, but in the conftest, it is converted as string

ref: https://ini.unknwon.io/docs/intro/getting_started

[2019-12-20 04:32] KeisukeYamashita commented on #206
Raised a PR for this. Please take a look.

[2019-12-20 18:19] nstogner commented on #209
Possibly `conftest` in entirety as a sub-cmd of a larger toolkit, similar to how tools like `gcloud` used to embed `gcloud docker`.

[2019-12-21 14:47] Blokje5 commented on #158
@KeisukeYamashita added support for this with #195, I will close this issue.

[2019-12-21 14:47] #158 closed

[2019-12-21 14:58] KeisukeYamashita opened #212 "Support VCL"
## What

I will be great if `conftest` can support `.vcl` for Varnish and Fastly configuration

## Ref

* [vcl syntax](https://varnish-cache.org/docs/trunk/users-guide/vcl-syntax.html)

[2019-12-21 15:20] kmcquade commented on #169
@Blokje5 I think I didn't communicate our needs clearly. If we have to use the `--data` flag *multiple* times, that will create issues if we have a folder of files containing the exceptions data, as shown in my example. https://github.com/kmcquade/opa-terraform-exceptions-example/tree/master/policy

I think the `--data` flag in general is great. But it would help if we can do lazy loading, like be

[2019-12-21 16:29] Blokje5 commented on #169
@kmcquade Yes that makes total sense. Thanks for clarifying. It would be easy enough to extend the idea of specifying the `--data` flag multiple times to instead allow specification of a directory path. And I think that would be a great feature. We could even build in a default path (e.g. `policy/data`) to create a convention as to where to store the data and load that path by default (just like t

[2019-12-21 23:06] kmcquade commented on #169
That would be awesome. Thanks @Blokje5

[2019-12-31 10:07] KeisukeYamashita commented on #196
@asm0dey I implemented HOCON configurations in conftest. Please take a look and close this issue. Thank you for catching this issue

[2019-12-31 10:15] #169 closed

[2019-12-31 10:16] garethr commented on #206
Fixed in # 211 which will be in the next release

[2019-12-31 10:17] garethr commented on #196
Merged in #214. Will be in the next release.

[2019-12-31 10:17] #196 closed

[2019-12-31 10:17] #206 closed

[2020-01-05 07:20] kmcquade commented on #74
+1 on Hugo and Netlify.

I'd chip in as well.

[2020-01-05 12:59] kenfdev opened #218 "conftest pull not working with local Docker Registry"
## Expected Behaviour

[code]

pulls policies from a local docker registry.

## Current Behaviour

[code]

Also tried the following with no luck.

[code]

Although warnings get printed out, this used to work in v0.15.0 as follows:

[code]

Successfully pulls the policy as follows:

[code]

## Possible Solution

I'm assuming https://github.com/instrumenta/conftest/pull/107 has something to do with

[2020-01-06 09:42] Blokje5 commented on #218
@kenfdev Thanks for reporting. I will have a look at this and hopefully resolve this issue quickly. It should indeed work properly with the local docker registry.

[2020-01-06 11:56] brandonkal commented on #180
Sounds like an unnecessary complexity. Why not just go the unix route?

[2020-01-06 12:06] garethr commented on #180
@brandonkal you could argue that about all of the input types for Conftest. Jsonnet input isn't really any different to CUE or YAML in this regard. One of the purposes of Conftest is to make the user interface as simple as possible, so this isn't unnecessary complexity in my view, more one of the goals of Conftest.

[2020-01-06 13:20] Blokje5 commented on #218
Ok figured out the problem, the tag was missing in the call:

[code]

Now as to the solution: The reason this happens is because with go-getter you can't differentiate between a webserver with the endpoint policies or an actual OCI registry. WIth the azure registry we actually now it is an OCI registry based on the URL. We could add 127.0.0.1:5000 and localhost:5000 as an exception and assume that

[2020-01-06 16:25] jpreese commented on #209
Do you have an immediate need for this? If not, I'd personally rather leave it as is, as it gives us more freedom to introduce changes as it's not exposed.

If you do, I'd love to hear/see your use case to look into it some.

[2020-01-06 16:40] #218 closed

[2020-01-06 20:17] kmcquade opened #221 "HCL/HCL2 parser does not support variable expansion"
*<Note: The example code I showed below is available [here](https://github.com/kmcquade/conftest-hcl-no-variable-expansion)>.*

Conftest's HCL parser does not support variable expansion.

### Where conftest works - hardcoded values

This means that conftest **does support** Terraform files like this.

* main.tf:

[code]

* To validate, run `conftest parse hardcoded-vars/main.tf -i hcl`. It will lo

[2020-01-06 21:59] jpreese commented on #176
0.16 has been released. This issue should be resolved by updating to the latest release of conftest.

[2020-01-06 21:59] #176 closed

[2020-01-06 22:15] jpreese commented on #190
I'm personally still in the camp of always showing successes.

I could see us mimicing `go test` behavior where we pass/fail based on folders or namespaces, rather than every single policy, and adding a verbose flag that does essentially what we do now. This would reduce the number of lines from successes.

But with added commands brings added complexity, and a `--failure-only` flag just feels rea

[2020-01-07 00:33] kmcquade commented on #190
My 2 cents: This could be accomplished by piping the output and grepping the results. If it can be accomplished with a simple approach like that, I don’t think it necessarily requires adding a new flag.

[2020-01-07 13:29] Blokje5 commented on #190
I agree. A --failure-only flag is a bit niche, and will mostly complicate the codebase while the same could be achieved with a simple grep.

[2020-01-10 11:02] boranx commented on #221
Hi @kmcquade,

This is really a good question.
Currently, we are parsing files independently both for `test` and `parse` command. Also, this feature gives us the ability to combine different types of input formats like #195.
However, this issue can be a good start for writing more declarative tests for some tools like `hcl`
If we support this kind of feature, it'll come with big code changes both

[2020-01-12 18:41] kmcquade commented on #221
@boranx - The parser from the tfsec project might help. https://github.com/liamg/tfsec/blob/master/internal/app/tfsec/parser/parser.go#L99

@Blokje5 @jpreese @Salamandastron1

Personally, I'd rather express my policies in Rego than have to rely on what is built into the tfsec repo. So if we can get the hcl2 parser in conftest to support variable expansion, that would be super clutch.

[2020-01-14 21:12] Blokje5 commented on #221
I feel like it would mean replicating a lot of logic from Terraform itself. We would need to implement all the logic of finding variables (e.g. besides default, users would also expect the flags + tfvars file and env variables to be available).

I do like the idea of conftest going in the direction of a replacement for tfsec (and other similar projects that where custom written for evaluating rule

[2020-01-14 21:51] kmcquade commented on #221
@Blokje5 thanks for the response.

I think that `tfsec` has handled some of this. Check out [this test file in tfsec](https://github.com/liamg/tfsec/blob/c576a571b3dabb1410ed07134aa9e63770e61212/internal/app/tfsec/parser/parser_test.go#L50), which contains the content `	blocks, err := parser.ParseDirectory(filepath.Dir(path))`. It looks like the work to make this functionality available would be t

[2020-01-15 12:26] boranx commented on #221
@kmcquade addition to them, a bit of work needed for `parser.go`
If you look at the `BulkUnmarshal()`, It sends contents to parsers by one by one.
If you want to combine and compile 2 file contents in one parser, you'll have to modify here for taking multiple contents.
Also, this should not break the current behavior and acceptance tests.

On the other hand, I completely understand @Blokje5's conc

[2020-01-16 09:36] Blokje5 commented on #221
What about the following:
We support hooks before running the test command. We could store what hooks need to run in some config file that Conftest will pick up automatically.

Im thinking of the following:

[code]

With terraform_plan being
[code]
Instead of feeding conftest with the input files, we could feed it with the input files returned by the command in the hook. We can extend this by pass

[2020-01-16 12:07] kmcquade commented on #221
I don’t think that would solve this problem. The benefit of scanning HCL files like tfsec is that the Terraform doesn’t have to generate a valid plan, and you don’t have to supply AWS creds - it will just resolve the variables where possible, and give findings based on what it sees.

The terraform plan stuff can be accomplished outside of conftest anyway and I think users don’t have a problem with

[2020-01-16 12:49] Blokje5 commented on #221
No but you could easily create your own binary that parses the code like the tfsec parser. You could quickly create a go Cobra app that calls the tfsec parser and returns json output or hcl2 output which is then passed to conftest.

The main benefit here is that we could create a library of hooks (e.g. Kubernetes API calls fed into conftest could be a useful hook, tfsec could be a useful hook, ter

[2020-01-16 22:21] kmcquade commented on #221
Interesting. I guess if we could also specify hooks at local paths, that would make sense.

[2020-01-17 09:48] Blokje5 commented on #221
I can start working on this next week. We could have a chat over in the OPA slack in the conftest channel to scope out the requirements a bit. I want to make sure we cover your use case when implementing this.

[2020-01-17 11:47] boranx commented on #221
This idea made me excited @Blokje5. IMO, it definitely deserves a POC.

[2020-01-18 08:42] garethr commented on #221
@Blokje5 I really like the idea of standard pre-processors. The Helm plugin (https://github.com/instrumenta/helm-conftest) is a similar pattern and could be ported over to something like this.

[2020-01-18 10:49] #212 closed

[2020-01-21 19:53] Blokje5 opened #226 "Extend conftest using preprocessor plugins"
In #221 there was a discussion on adding a mechanism to extend conftest using plugins. This issue can be used to discuss the proposal.

Currently the intention is to use plugins as preprocessors, i.e. commands that run at a certain point in the testing cycle. For example, a command could run pre-parsing to parse an unknown input for conftest into something it could process. Or it could expand on t

[2020-01-21 19:54] Blokje5 commented on #221
I opened #226 for further discussion on the plugins/hooks idea

[2020-01-24 15:30] jremond commented on #106
Hello,

This is of high interest for us as we parse a lot of YAML files. We use both combined and non-combined options right now and we maintain policies for both input formats.
What would be required to have a decision based on @gwkunze proposals ?

Thanks

[2020-01-24 22:43] deanmax opened #227 "push includes unwanted policies"
[code]

[2020-01-27 11:24] boranx commented on #227
Hi @deanmax,

You can specify a directory without using `-p` flag. ex:

[code]

#228 is created for making the situation documented

[2020-01-27 14:24] deanmax commented on #227
Great! Thanks for updating the docucumentation.

[2020-01-27 14:24] #227 closed

[2020-01-31 15:59] Salamandastron1 opened #230 "Vars file flag"
It'd be nice to have conftest populate rego code with a vars file or even data yaml files with a vars file.

There are lot security scenarios where this would desirable as then configuration files could be committed to version control and then secretes kept secret

ala

[code]

[2020-01-31 22:23] boranx commented on #230
Is that what you mean?
https://github.com/instrumenta/conftest/blob/master/README.md#--data-flag

[2020-02-09 10:42] garethr commented on #209
I think aiming to have a specific interface for a future 1.0 release would be good, but I agree with @jpreese that should probably be explicit rather than just expose everything. Let's keep this thread open to track and discuss, but I'll close #210.

[2020-02-09 10:54] #203 closed

[2020-02-09 12:43] garethr commented on #53
I'm going to close this for now. The plugin exists, and although it could be improved, that's better to track in the separate repo.

[2020-02-09 12:43] #53 closed

[2020-02-09 12:44] garethr commented on #52
Superseded by work in #231

[2020-02-09 12:44] #52 closed

[2020-02-09 13:11] garethr commented on #190
I'll close this as won't fix for now. It's a good discussion, but it seems the maintainers mainly agree that it's simple enough to handle outside of conftest where this is wanted.

[2020-02-09 13:11] #190 closed

[2020-02-09 13:13] garethr commented on #230
Data is now supported in master and will be in the next release. I think this resolves this usecase as well. I'll close this issue but please do re-open @Salamandastron1 if that's not the case.

[2020-02-09 13:13] #230 closed

[2020-02-09 14:50] #226 closed

[2020-02-09 17:21] Blokje5 opened #234 "Add docker build as a PR check"
The docker image broke recently in master after a merge of the plugin PR (#231) due to the word plugin still being in the `.dockerignore`. We could easily prevent this in the future by adding a docker build step to the PR checks in the circle ci config.

[2020-02-10 13:44] drewmullen opened #235 "hcl2 providers are parsed with `.` instead of a map"
provider types are parsed via `.` notation instead of as a map. this adds complexity when iterating over providers.

HCL:
[code]

`conftest parse azure.tf -i hcl2`

parsed hcl:

[code]

should be:

[code]

[2020-02-12 10:52] Blokje5 commented on #221
@kmcquade The plugin system is now in master. You should be able to create a custom plugin to solve this specific issue. Let me know if you need further help to solve this.

[2020-02-14 14:32] asmontas-i commented on #235
This is true not only for providers. Same goes for terraform resources and modules, e.g.:
HCL2:
[code]

Parsed HCL2:
[code]

[2020-02-14 18:26] jpreese opened #236 "Introduce --all-namespaces flag"
### Current Behavior

The user must specify a `--namespace` in order to test policies in that package. If not specified, the `main` package is used.

### Proposal

Introduce a `--all-namespaces` flag, drawing inspiration from [Kubernetes flag of the same name](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#viewing-finding-resources) that would open the `.rego`, grab the package from the

[2020-02-14 18:44] garethr commented on #235
I just took a quick run at this and have a patch that creates the following structure

[code]

This would previously have been:

[code]

Could folks sanity check if that works better. In my view it's much easier to write tests for but I'm going to do more experiments.

[2020-02-14 19:00] drewmullen commented on #235
if by sanity check you mean `eyeballing` it, yes that looks excellent to me!

if you have a sample release you want me to test i can do that as well. lmk

[2020-02-15 10:14] garethr opened #237 "Master outputting lots of additional help text for `test`"
Current master builds are outputting the full help text for the `test` command when running help for just conftest.

[code]

[2020-02-15 11:51] garethr commented on #235
@drewmullen thanks. I've pushed https://github.com/instrumenta/conftest/pull/238 if you want to build and test out. I need to update the docs and examples for that too before someone can merge.

[2020-02-15 12:03] garethr commented on #236
I think this makes sense. I'd mainly being using namespaces to split policies for different types of files, but this is just as valid a usecase.

[2020-02-17 13:00] petemounce opened #240 "Documentation for configuration file?"
I would like to see documentation around which options it's possible to place into the configuration file, along with which values are valid, and which values are defaulted.

I'd find it useful to see a safe-defaults configuration file with comments in it, somewhere.

[2020-02-17 18:45] #235 closed

[2020-02-17 18:46] #237 closed

[2020-02-18 20:18] #221 closed

[2020-02-18 20:20] jpreese commented on #177
Agreed, I'm not sure this is possible given the current landscape. Going to close this out, but this is a great idea.

[2020-02-18 20:20] #177 closed

[2020-02-18 20:24] jpreese commented on #101
Closing due to #107

[2020-02-18 20:24] #101 closed

[2020-02-19 15:52] jpreese opened #246 "proposal: Consolidate success outputs"
# Current Behavior

Currently when running `conftest test` each rule that passess successfully is output to the console window. This doesn't provide much value when many of the rules will be called `warn` / `deny` / `violation`

![image](https://user-images.githubusercontent.com/6980197/74840878-bf68c100-52f5-11ea-8676-cb250089b728.png)

Similar issues have been called out (https://github.com/inst

[2020-02-19 21:35] chrisjohnson opened #247 "conftest passes a test that opa agent fails (it should fail)"
a.rego
[code]

a_test.rego
[code]

Results of `conftest verify -p .`

[code]

Results of `opa test .`

[code]

This came up because I noticed the test wouldn't fail no matter what I did. I ran the same test in opa as a sanity check and opa behaves how I would expect.

Is this just something I'm doing wrong? What's the culprit?

It seems like removing the first test body makes it fail as expected.

[2020-02-20 09:57] Blokje5 commented on #246
I like the idea. But what would happen in case of a failure. E.g. we have a package with 3 deny rules and one of them fails? Do we then move back to displaying two passes and one failure?

I think it is a good idea to include counts of rules processed from the start, it would make keeping track of these situations easier. I like going in the direction of `go test` and also using an `?` to indicate

[2020-02-20 16:45] jpreese commented on #247
Thanks for submitting the issue @chrisjohnson.

First, to immediately resolve your issue, I would just rename the name of the test. You're using the same test name, `test_any_invalid_container_name_with_invalid`, in both cases.

You could change this to something like the following:

[code]

In this case, you can uniquely name each test to express what you're trying to validate. Note that the same

[2020-02-20 16:55] jpreese commented on #246
I was just thinking to leave the failures as is. So in this scenario we would say

[code]

Or we could just hide successes altogether when a failure occurs (similar to go test)

[code]

[2020-02-20 17:25] philjhale opened #249 "Error parsing HCL2 labels property"
Here is a snippet of Terraform HCL2 code.

[code]

Executing `conftest parse [filename] -i hcl2` using Conftest 0.17 results in the following output.

[code]

It seems like there has been a problem parsing the `labels` property. I was expecting output something like this:

[code]

[2020-02-20 18:24] chrisjohnson commented on #247
I figured it was something I was doing wrong. Thanks very much for clarifying what I did and thanks as well for implementing a change to hopefully help others not make this same misstep :)

[2020-02-21 20:14] #247 closed

[2020-02-23 11:35] Blokje5 opened #251 "Conftest version is empty with conftest 0.17"
I brew installed the latest version of conftest, and while checking the version I discovered version information was empty:

![image](https://user-images.githubusercontent.com/26072918/75111313-c7e43300-5638-11ea-9977-e5598aa27419.png)

With brew I can verify the version is indeed 0.17:
![image](https://user-images.githubusercontent.com/26072918/75111331-f5c97780-5638-11ea-8972-094f9108a331.png)

[2020-02-23 11:40] Blokje5 commented on #251
Turned out it was in the docker image

[2020-02-23 11:40] #251 closed

[2020-02-24 09:31] boranx commented on #249
hi @philjhale
I made a PR(#253 ) that fixes that, after it gets merged we can obtain the output

[code]

[2020-02-24 10:50] boranx commented on #249
Hi @philjhale
Thanks for issuing this out
I made a PR(#253 ) that fixes that,
after it gets merged we can obtain the output

[code]

But I noticed while hacking that there is also an encoding problem in the output.
`"version": "~\u003e 6.0"`
should be
`"version": "~> 6.0"`
However, this behaviour does not relate to this issue. I confirm the same issue happens when using v0.17

[2020-02-24 21:51] jpreese commented on #96
Released in `v0.17.0`

[2020-02-24 21:51] #96 closed

[2020-02-24 21:57] #249 closed

[2020-02-25 11:56] Blokje5 commented on #246
Closed by #254

[2020-02-25 11:56] #246 closed

[2020-02-25 12:03] jpreese commented on #181
This has been addressed in #254. When using a non-existant namespace, `conftest` will let you know that no policies were found.

[2020-02-25 12:03] #181 closed

[2020-02-25 19:45] mark-rushakoff opened #257 "Add command-line option to display provided name instead of "Combined""
I am validating some YAML with `conftest test --combine FILE...`. But, I am invoking conftest from a script that is executed independently against multiple collections of files, so my output from this script looks like:

[code]

Although I could update my script to print the filename as a header, that wouldn't port to other output formats. It would be better if I could provide something like `--co

[2020-02-25 20:02] mark-rushakoff commented on #106
I'm working around this by always using `conftest test --combine` even when I am processing only a single YAML file. And then, I collect all my Kubernetes resources in a single array named `resources`:

[code]

And I write all my rules against `resources` rather than `input`. If I had existing rules written against `input` I'm not sure what I would do, as reassigning `input` as a function of `inpu

[2020-02-26 09:34] anderseknert opened #258 "Make it possible to print successful tests regardless of output format"
In a CI/CD context it is often valuable to have the result of all tests printed for inclusion in test reports. As I came to understand it only the JSON output format currently prints successful tests, but as we are using the TAP output format there is currently no way for us to have these tests included in the report with current tooling in place.

A command line option to include all tests would

[2020-02-26 10:14] Blokje5 commented on #258
After a short discussion in Slack, this is mostly for per rule success output. Right now conftest defaults to one success message per policy file. It should be possible to print a success for each rule evaluated. E.g. if a policy has 3 deny rules, there should be 3 lines of output instead of one. We can add a flag to enable/disable this behaviour.

[2020-02-26 10:50] Blokje5 opened #259 "Document the automatic finding of deny/violation rules in Rego policies by conftest"
Conftest automatically searches Rego policies for rules that follow the format of the [denyQ regex and warnQ regex](https://github.com/instrumenta/conftest/blob/master/internal/commands/test.go#L76). We should have some documentation with examples of what rules work and get automatically picked up by conftest.

A markdown file in the docs folder can be added documenting this behaviour.

[2020-02-26 10:54] Blokje5 commented on #74
@garethr @jpreese @boranx I see more need for this at the moment. A lot of questions on the OPA Slack show that we could really improve our documentation.

My proposal is the following:
- We start with a docs folder with seperate documentation (I already did this for the plugin feature). This folder contains markdown files for each relevant topic.
- We create a certain folder structure in the docs

[2020-02-26 14:41] jpreese commented on #258
The case in which the rule names were the same would be my biggest question here. In the new output config, rules with the same name are deduped and a total# is given. I thought the other formats still printed out the redundant rule names, but I can take a look at each output.

[2020-02-26 16:16] jpreese opened #260 "Support directory as file input for test command"
## Current Behavior

A file, or list of files must be supplied to the `test` command

## Proposal

Allow `conftest` to figure out if the parameter is a directory, and if so, grab all of the files and execute your policies against them.

The only big question mark right now that I'd need to think through is figuring out which files to run validations against, and which ones to ignore as a directory

[2020-02-26 21:03] anderseknert commented on #258
Provided all the great input I got from you guys on Slack I retried my tests using differently named `deny_*` rules and they do indeed show up in the output even when not failing. So I'll happily close this one, leaving only a hope for this pattern matching on [deny|violation]* logic to be documented somewhere going forward. Thanks for a great tool and your excellent support on my case!

[2020-02-26 21:03] #258 closed

[2020-02-28 02:28] Salamandastron1 commented on #106
So the quick lean and skinny of this is `--combine` needs more evidence of being used to convince a breaking change across the entire API, as these solutions propose. @mark-rushakoff @jremond @gwkunze Could you all make pull requests against the contrib folder in this repo so there is more details in how and why you using it?

[2020-02-28 21:13] Blokje5 commented on #260
What if we support file globs instead of supporting only searching directories? Then it becomes quite easy to ensure that only a certain type of file is tested.

[2020-02-28 21:43] jpreese commented on #260
I'm actually working on this as we speak.

The only stumbling area I've had thus far is with hcl2 vs hcl.. so I want to test policies against all `.tf` files, but also whatever other files we support in that dir (maybe `Dockerfile`). But.. it fails because it's `hcl2`. But I can't pass in -i hcl2 because I want everything else.

So I think I'm just going to whip it up so that `conftest` figures ou

[2020-02-29 08:40] garethr commented on #74
I grabbed some time and converted the existing README over into separate files in the `docs` folder, and I've configured Mkdocs to generate a site. I can get this up on [conftest.dev]() once #263 is merged.

[2020-03-02 11:32] 06kellyjac opened #264 "Support XDG Specification for Plugin Directory"
It's fantastic that plugins are now supported but it's a shame that it's lead to more homedir clutter on my machine.
It'd be great if the plugins were moved to `XDG_DATA_HOME` and the cache to `XDG_CACHE_HOME`, and any future global config files go into `XDG_CONFIG_HOME`

[2020-03-02 14:14] jremond commented on #106
@Salamandastron1 Hello, here is a simplified example https://github.com/instrumenta/conftest/pull/265
`conftest test --combine *.yaml`
allows me to know 2 things :

-  if 2 resources have the same name
-  if a user is misconfigured or if a team tries to add a non-existing/misconfigured user.

[2020-03-02 14:35] drewmullen opened #266 "blocks with same name no longer testable"
Prior to 0.17 I was able to test duplicate named blocks. For example, when you declare 2 of the same providers and alias them

**HCL2**:
[code]

### Failing from version 0.17

**0.17 Rego**
[code]

**ERROR**:
[code]

### Working from version 0.16:

[code]

**0.16 Rego**
[code]

Since the rego is different to achieve the same result its possible the rego is the problem. However, I can't see that be

[2020-03-02 19:32] jpreese commented on #266
Does your 0.16 policy still pass if you remove a `version` from one of your providers?

Is the expectation that if you have two providers named `aws` that they must both have a version field?

[2020-03-02 19:41] drewmullen commented on #266
yeah so the policy is that every provider must set a version. so if the `version` field is missing from any provider then the test fails.

[2020-03-02 21:12] #260 closed

[2020-03-03 05:02] jpreese commented on #266
Adding @boranx as my initial thought is that this has to do with https://github.com/instrumenta/conftest/pull/253

But I haven't had a ton of time to really dig into this yet.

[2020-03-03 15:06] drewmullen commented on #266
it also could be: #238

@garethr any input?

[2020-03-03 17:02] Blokje5 commented on #264
Great suggestion. `XDG_DATA_HOME` at the moment would make sense as the plugins are "installed" into that location. We do not maintain a configuration file of which plugins have been downloaded so we cannot retrigger a download, so the `XDG_CACHE_HOME` does not make sense.

[2020-03-04 06:51] #74 closed

[2020-03-04 09:57] #234 closed

[2020-03-04 11:22] garethr commented on #54
I've now created https://github.com/instrumenta/policies as a staging area for this.

With conversations going on as well in the Slack channels mentioned in the README I'll close this issue as a way of tracking.

[2020-03-04 11:22] #54 closed

[2020-03-06 13:45] jpreese commented on #236
Closed via #267. Thanks @menendezjaume 🎉

[2020-03-06 13:45] #236 closed

[2020-03-06 13:57] jpreese opened #273 "discussion: Change how Dockerfiles are parsed?"
I admittedly have _yet_ to do much with `Dockerfile` policies, but will most likely be starting to do soon. One thing I noticed in my initial policies was that `input` is always an array because we have `[][]Command` in our parser. Each command is also stored inside of `Cmd`.

Potential technical challenges aside, I wonder if policies written something like:

input.FROM[_].Value
input.COPY[_].Valu

[2020-03-06 16:21] rosscdh opened #274 "access environment variables"
Hi there, thanks for the great project that helps catch governance issues at build time and not deploy time (saving sprints and developer tantrums).

Id like to access a os.env variable so that we can keep tests and make them relative to an environment

[code]

is this supported/possible? or is there another way?

[2020-03-06 16:24] rosscdh commented on #274
A La https://www.openpolicyagent.org/docs/latest/policy-reference/#opa

[2020-03-08 09:12] corrupt952 opened #275 "Incorrect total number of results"
When testing with this tool, i saw incorrect results.

* conftest ... v0.18.0(v0.17.1 and v0.16.0)

**Preparation**
You can test using `namespace.yml` and` policy / namespace.rego` like below.

[code]

[code]
Here's the main subject, but testing with the previous policy shows that the number of results is incorrect.

## Overview
Here's the main subject, but testing with the previous policy shows t

[2020-03-09 02:09] jpreese commented on #275
Thanks for the descriptive report! This does appear to have been around for awhile.

[2020-03-10 15:51] kmcquade opened #277 "Broken documentation links to code examples"
All the links on this page are broken.

https://www.conftest.dev/examples/

For example:

https://www.conftest.dev/examples/examples/awssam

![image](https://user-images.githubusercontent.com/3422255/76331371-72a95200-62c5-11ea-9b4a-e683de8daead.png)

[2020-03-12 13:07] gwkunze commented on #106
Added example in #278

Another example could be (but would be a bit boring to contribute) is that we run conftest against the output of helm charts and we want to ensure the existence of a specific resource in all our helm charts. I.e. we want every deployed application to contain at least an [Application](https://github.com/kubernetes-sigs/application) resource describing the deployed application

[2020-03-13 18:42] mnuthan1 opened #279 "Recent OPA changes are missing"
For example object.union method not available. Need to update the dependency tree?

[2020-03-13 21:06] mnuthan1 commented on #279
PR - https://github.com/instrumenta/conftest/pull/280

[2020-03-14 08:33] garethr opened #281 "Improve display of result counts"
Currently conftest display result counts like:

[code]

This has a few UI problems in my view:

* The `---` line is fixed length. It doesn't flow with the terminal size in any way.
* The `PASS/WARN/FAIL` lines all repeat the number of tests
* The results take up quite a bit of vertical space
* No visual clue that the whole test passed/failed

I'd like to change this to something more aesthetically

[2020-03-14 08:34] garethr commented on #279
#280 is merged, This will be in the next Conftest release. Thanks!

[2020-03-14 08:34] #279 closed

[2020-03-14 08:43] garethr commented on #273
The reason for the top level array is that a Dockerfiles can have multiple stages. eg.

[code]
So `input.FROM` is problematic, in that it might not be a single value, and an array means losing context of which other commands relate to that particular FROM.

The other related concern, which explains the second array, is that order matters in Dockerfile.

I'd wager there are definitely some improvem

[2020-03-14 08:53] garethr commented on #277
Fix for this in #282

[2020-03-14 09:42] garethr commented on #281
First bit, without the timer, up in https://github.com/instrumenta/conftest/pull/283

[2020-03-14 12:49] Blokje5 commented on #277
Fixed by #282

[2020-03-14 12:49] #277 closed

[2020-03-16 12:28] #281 closed

[2020-03-21 00:55] sarcasticadmin commented on #266
Im a colleague of @drewmullen just wanted to give my thoughts.

Currently the single provider isnt a `set` :

[code]

But two providers is:

[code]

It seems that `alias` is specific to the `provider` block for terraform. If a provider block is without an `alias` the provider is considered a `default` provider configuration: https://www.terraform.io/docs/configuration/providers.html#alias-multiple

[2020-03-28 16:47] jpreese commented on #275
Resolved via #291

[2020-03-28 16:47] #275 closed

[2020-03-28 16:48] jpreese commented on #259
The current documentation portal does highlight that Conftest only looks at `warn`, `deny, and `violation` rules. Was this issue created before that blurb was there or were you thinking of expanding upon it more?

[2020-03-30 04:37] arminbhy opened #292 "Changes in 0.18.1 have broken --namespace"
Reproduce like following.

Copy the examples/hcl/deny.rego to examples/hcl/foo/deny.rego

Change the package to policy.foo

[code]

[2020-03-30 04:51] arminbhy commented on #292
If i'm reading it correctly, https://github.com/instrumenta/conftest/pull/291/files#diff-a264165a5901a9d83b290ccf1fe447d7R303 is assuming namespaces are only top level

I verified by running following

[code]

[2020-03-31 11:02] Blokje5 commented on #259
This was indeed created before we had teh seperate documentation site. I would like to expand on that section. For example `deny_root_container` is also allowed. And that is a mechanism to seperate your rules and make an easier distinction between them in the output.

[2020-04-05 16:09] #292 closed

[2020-04-14 07:09] #274 closed

[2020-04-17 09:27] noelo opened #297 "Server functionality"
Hi,
Any plans to add a server functionality to conftest where the tool starts up and waits for http post requests with attached files, parses and tests the files and returns the results to the caller.

[2020-04-17 23:10] bradfreer opened #298 "Falsely passing tests when deny rules are in a nested namespace"
As of conftest 0.18.1 I am seeing a possible case where 'test' is erroneously passing rules when they are defined in a nested namespace. I have a deny.rego in a package with a nested namespace:

[code]

and testing a YAML file:

[code]

now running conftest:

[code]
[code]

Finally changing the deny package to 'global':

[code]

Is my understanding of how this is intended to work off here? I recal

[2020-04-20 17:45] flunderveiko commented on #298
i have the same problem, too bad

[2020-04-23 04:12] katsew commented on #298
I'm having the same problem.

[2020-04-24 13:07] bradfreer commented on #298
Thanks @katsew, I misread that issue and the changelog for 0.18.1 when I read it. Unfortunately re-writing all of my policies is less work than using master.

[2020-04-30 13:38] nirroz93 opened #300 "Fail on warn should exit with different rc"
Hi!

Currently, running conftest test --fail-on-warn return 1 when there is a warning or an error.

Different return code when there are no errors (just warn) will be nice and, for me, it seems like the "normal" behaviour (meaning: when I was surprised it didn't :-) )

[2020-05-01 09:45] ahume opened #301 "Methods for ignoring kustomize patch files"
Hi,

Sorry this isn't a bug or an issue as such. I'm curious what others are doing in the situation where there are kustomize patch files sitting alongside other full kubernetes manifests. The patch files look to conftest like kubernetes manifests (i.e. the have `apiVersion` and `kind` fields), but should not be validated as such.

Is anyone doing something more elegant than e.g. adding labels to

[2020-05-01 10:12] garethr commented on #301
Hi @ahume. Probably a good question to ask in the #conftest Slack channel on https://slack.openpolicyagent.org/.

[2020-05-01 10:52] menendezjaume commented on #298
You're right @bradfreer. Also, the release notes for 0.18.2 from 5 days ago include that PR so you should be able to use that binary without this issue.

[2020-05-01 11:47] ahume commented on #301
Hi @garethr - thanks, that's a better idea.

[2020-05-01 11:47] #301 closed

[2020-05-01 12:38] garethr commented on #300
I like the idea. What exit codes would you propose?

[2020-05-04 14:09] nirroz93 commented on #300
IMHO the most intuitive rc 0 OK 1 WARN (with no errors) 2 ERROR (and error+warn), or leave some place for other future levels, but this may cause backward compatibility if someone is using the current return code (and I don't see a reason for using ==1 and not !=0, but if you think there is so 1 error 2 warn).

[2020-05-06 15:50] jpreese commented on #300
@nirroz93 I'd be curious about your use case. I'm not necessarily opposed to providing more information to the user about the results, but admittedly I do like the current behavior.

Without `--fail-on-warn` in CI you'll most likely want `WARN` to continue to process, and on your local computer, you'll see the warnings in the output window.

With `--fail-on-warn` in CI your warnings will fail, whi

[2020-05-06 15:52] jpreese commented on #298
Resolved via #295 which is included in `v0.18.2` 👍

[2020-05-06 15:52] #298 closed

[2020-05-06 16:02] jpreese commented on #297
I personally haven't considered this. All of our use cases have been solvable by putting it on the build agent or inside of build containers.

Is this not feasible in your situation or are you running into additional hurdles?

[2020-05-06 17:11] nirroz93 commented on #300
@jpreese
I want to do other action items for warns and error. For example, on warn I want to put the Jenkins job as "unstable"+mail, but for other deny (from other checks) I want to fail the job.

In the current state I need to catch the output and parse it (or run conftest twice).

[2020-05-06 18:10] jpreese commented on #300
When possible, I like to mimic the behavior of OPA. I feel the experience shouldn't diverge too much, because contest just builds onto all the niceties that OPA provides.

That said, in their `eval` command they have 0 = success, 1 = undefined, 2 = error. For our purposes, we could consider "undefined" as no errors exist, but a warning was found. (https://github.com/open-policy-agent/opa/issues/98

[2020-05-07 15:28] noelo commented on #297
I just want to setup an endpoint so that it can be used [1] as part of a CD pipeline and also something that could be used to validate resources against as they're being developed. The users I see of this are very large orgs who's developers are pushing onto k8s clusters and the admins have no way of validating if the resources are well defined enough

[2020-05-09 10:32] Blokje5 commented on #297
If the use case is to validate workloads before they are pushed to a k8s cluster, check out [gatekeeper](https://github.com/open-policy-agent/gatekeeper). Gatekeeper is a k8s Admission Webhook that uses the open policy agent to validate workloads before they enter the cluster. You could even combine conftest and gatekeeper by applying conftest in your CI pipelines (@garethr called this shifting se

[2020-05-11 03:42] rcshadman opened #303 "Support for json configs"
Hi guys,
conftest is pretty cool, great work.
I just wondering if there is any support for handling  json config files.
If it is not supported at the moment, it would be great to know if you are guys planning to implement a support for json files in future.
Cheers

[2020-05-11 06:06] garethr commented on #303
Yes, JSON is supported as an input format. Technically YAML is a superset of JSON. This is also mentioned in the docs on https://www.conftest.dev/ in the list of supported formats.

[2020-05-11 06:06] #303 closed

[2020-05-11 09:08] nlamirault commented on #12
I've got an error on labels :

[code]

the output trace :

[code]

[code]

The manifest :

[code]

If i change recommanded_labels with :

[code]

It works :

[code]

[2020-05-11 09:09] nlamirault opened #304 "Error on Kubernetes recommended labels"
I've got an error on labels :

[code]

the output trace :

[code]

[code]

The manifest :

[code]

If i change recommanded_labels with :

[code]

It works :

[code]

[2020-05-11 09:10] #12 closed

[2020-05-12 20:06] Blokje5 commented on #304
I tried to replicate your example. I used the following rego:

[code]

and ran the command `conftest test deployment.yaml` with the yaml from your example. I used  version 0.18.2 of conftest. I get the following output:
[code]

Maybe there is something else in your rego that is causing the failure? Could you check if you can replicate the issue with this minified example?

[2020-05-13 02:39] xchapter7x commented on #257
@mark-rushakoff
I see a lot of value in providing more context in the output. It will def provide a nicer user experience.

There are a few contexts which might require different behaviors and some thought will need to be given to what type of UX we'd like to see.

Context A
[code]
Context B
[code]

In Context A, we can output the filename no problem, as all of the things we are combining are from

[2020-05-13 08:41] nlamirault commented on #304
Yes me too.
But if i add this check :

[code]

i've got no error :

[code]

[2020-05-13 10:16] #304 closed

[2020-05-18 10:28] tbuchier opened #309 "Sucesses output full of empty messages"
Hello,

We have bumped our conftest from 0.15.0 to 0.18.2, and since we face a small issue on the new feature about successes output :

We receive around 80+ lines of empty success messages, one for every deny/warn rules that passed

Our outputs look like:
[code]

Our rules are defined in a main.rego (importing from packages) like for example:

[code]

Any idea how to solve this ?

Thanks

[2020-05-18 13:53] jpreese commented on #309
Thanks for opening the issue, @tbuchier -- Successes have always been an interesting case because if the rule doesn't trigger the deny, we don't get the return value!

At my company, we've had great success not using an output flag, so I'd love to get some more insight on your use case, specifically: what are you using the output JSON for and what would you expect the JSON of the successes to be (

[2020-05-19 11:15] 06kellyjac opened #310 "New Directory input, add ignore flag"
The new Directory input feature is great but it'd be nice to have an ignore flag. :slightly_smiling_face:

[2020-05-19 11:36] jpreese commented on #310
Glad you like it, @06kellyjac! Were you thinking of an ignore flag to be able to ignore file extensions?

[2020-05-19 12:08] 06kellyjac commented on #310
more like a regex/pattern match.

for example if this is my directory structure:

[code]

In this example a module is cloned locally & added to the repo, the main module of "some_module" is fine but "some_sub_module" doesn't meet our requirements & fails some policy checks.
So running conftest against all the tf apart from the stuff in "some_sub_module" dir would be fine. Then we can add a policy

[2020-05-19 12:12] jpreese commented on #310
Thanks for the clarification, the sub_module case is a really good one. Regex is probably a good place to start as it covers a lot of use cases, and if need be, we can get more granular from there.

[2020-05-20 08:44] tbuchier commented on #309
Hello,

We are using conftest as a step in our pipelines to check the compliance of Terraform projects.
The json output is used to build a report which is later send to the teams.

So most of the time the json output isn't directly read by anyone, but when we need to debug the step or check it's log, we are left with a lot of noise 350+ lines off "nothing".

A count of success could be good, or an

[2020-05-23 12:41] boranx commented on #310
Hi folks, if nobody's working on this issue, I can pick that up and prepare a PR about it.

[2020-05-23 13:57] 06kellyjac commented on #310
I don't mind. I've got quite a few other things to work on atm :slightly_smiling_face:

[2020-05-25 18:48] boranx opened #313 "`make` fails during apk --no-cache add git"
I'm wondering if it's just me or everyone but make fails with the following logs.
Need someone to verify it's working and wish it only happens to me

[code]

[2020-05-26 11:14] moshloop opened #314 "Add an --admission option"
When using OPA for admission control the object being checked is wrapped in an AdmissionReview object, This issue is a feature request to automatically wrap all input objects in a mock AdmissionReview object to allow the reuse of policies between conftest and OPA admission controllers

[2020-05-26 14:58] Blokje5 commented on #314
Thanks for reporting this @moshloop. I think this is indeed a common scenario: Using conftest in CI/CD alongside an OPA Admission Controller (such as Gatekeeper).

However I am not sure if it is something we want to solve inside of Conftest. Of course it would be nice if a user is using both Conftest and Gatekeeper, but in all other cases an `--admission` flag would just be confusing. Conftest is

[2020-05-26 15:04] Blokje5 commented on #313
Hmm I tried to reproduce this, but for me locally `make` works fine. I pulled the latest master commit and ran the make command.

The errors seem to indicate the alpine package cdn was unreachable during the build. The issue is reproducible for you?

[2020-05-27 12:56] boranx commented on #313
Hey @Blokje5

Yup, I was getting `504` from that URL but now it's working for me as well.
I'm closing that one as it's an intermittent cdn problem.

Thanks

[2020-05-27 12:56] #313 closed

[2020-05-28 17:08] ralgozino commented on #273
Hi!
One thing that could be nice is to have the actual line number on the dockerfile in order to be able to give better feedback to the user when something is not passing the checks. Right now the line number you get is the "parsed" line number, for example it doesn't take into account all the empty lines and comments

[2020-05-29 10:00] carlpett opened #315 "Feature: Suppressing rule violations"
I posted this on Slack a while ago, but after running with the workaround-ish "solution" for a while, I think it might be worth discussing if conftest should have some sort of pattern for ignoring/suppressing violations.

As I guess many others, we're using conftest as part of our linter/ci-check process for Kubernetes manifests. As we're getting further in codifying our best practices, we're star

[2020-05-30 20:02] Blokje5 opened #316 "Split command logic into a separate package"
Right now most of the logic resides with the commands. E.g. with the Test command, most of the logic to fetch the related configuration files and query Rego policies is stored in functions in [the commands package](https://github.com/open-policy-agent/conftest/blob/master/internal/commands/test.go). However this approach has two downsides:

1. Command Configuration & CLI interaction (e.g. viper ca

[2020-05-30 20:50] Blokje5 commented on #315
I agree this would be a great feature! It is something that seems to come up time and time again. It makes sense to see if there is a way to include first class support for surpressions. There are some complications however:

1. Multiple `deny` rules in `Rego` is essentially a single incrementally defined `deny` rule. That means if your policies include everything in a single `deny` rule it is har

[2020-06-03 21:45] #310 closed

[2020-06-05 05:22] amitsaha commented on #129
Hi @jpreese i am keen to take a stab at this. Are there any integration tests or should they be hooked into https://github.com/open-policy-agent/conftest/blob/master/.circleci/config.yml ?

[2020-06-12 17:28] MikaelSmith opened #320 "Support for rego modularity"
I'd like to be able to define common modules of rego code that define helpers I want to use in multiple places. I envision this as a new CLI flag to include an additional policy files directory.

[2020-06-13 01:03] MikaelSmith commented on #320
I've revisited this from a different angle, and have all the policies in a single directory tree with different tests (i.e., meant to run against a different set of input) segmented to different namespaces.

[2020-06-13 01:24] jpreese commented on #320
That is typically how I approach it as well, you could use different namespaces or even just running conftest multiple times with different policy directories.

I've seen this done a lot with separating `--combine` policies from non-combined as well.

[2020-06-13 02:04] #320 closed

[2020-06-17 13:02] boranx commented on #316
I agree with @Blokje5
The viper specific blocks and actual logic should be separated and also `conftest` should be able to scalable in terms of new commands which can be added in the future. I liked the `Run()` idea which can be called from several commands. The `parse` and `test` might be good candidates that can adapt `Run`.
This will help us to write more unit tests to cover rather than black-b

[2020-06-18 13:58] hgoscenski-vail opened #322 "contest pull does not seem to work with a private registry"
conftest can push to an internal private OCI registry however it does not seem to be able to pull. Could a flag be provided to force it to treat an oci-url as one regardless of what registry it is using?

I see this here which seems to indicate it will only treat azure and localhost as OCI registries:

[code]

Conftest version
[code]

[2020-06-18 14:31] hgoscenski-vail commented on #322
My apologies for wasting your time, I just realized I can prefix with oci://

Thank you for all the work on this tool.

[2020-06-18 14:31] #322 closed

[2020-06-19 13:10] Blokje5 commented on #316
@boranx I can also create a WIP PR soon, might be nice to have a discussion there as well on the new structure. I already changed a few commands locally (without changing too much, I want to avoid breaking things). I can create a WIP PR for the few commands I changed locally.

[2020-06-20 01:54] aaronjheng opened #323 "Trailing commas should not be allowed when unmarshalling JSON strings."
Per JSON spec, trailing commas is not allowed.
[code]
conftest should report such errors.

[2020-06-20 08:51] carlpett commented on #315
Great ideas! If I understand you correctly, this:
[code]
... would mean that any input matched by the predicates would **not** have `some-rule` considered a violation? And we could then potentially stack these, so if the same input **also** matched this filter:
[code]
... it'd ignore violations of `["some-rule","other-rule"]`? Seems like a very reasonable and flexible solution!

---

As an "accept

[2020-06-21 11:44] garethr opened #324 "Automate building Docker images on new release"
Currently images are built manually (by running `make`) for each release. Ideally this should be automated as part of the build process.

[2020-06-22 08:44] boranx commented on #316
That would be great! Having a POC on it will turn out the discussions be concrete...

[2020-06-22 11:21] lopeg opened #326 "Wrong created date when push to Google container registry"
When man uses conftest push to GCR, created date is "Jan 1, 1970"
conftest Version: 0.17.1(Commit: 45177b4)

Expected
current date

In fact
![image](https://user-images.githubusercontent.com/6160482/85281957-286e6a00-b48b-11ea-98d5-0c098330d533.png)

[2020-06-23 19:29] Blokje5 commented on #326
Thanks for reporting this issue @lopeg. I have been able to reproduce this issue:
![image](https://user-images.githubusercontent.com/26072918/85449795-72914180-b598-11ea-9637-2e7a8a25200a.png)

[code]

I'll have a look to see what is missing.

[2020-06-23 20:05] Blokje5 commented on #326
I had a quick look into this issue: `conftest push` uses the [ORAS library](https://github.com/deislabs/oras) to push the Rego policies as OCI artifacts. My gut feeling is that the issue is that GCR does not support the OCI image format (It is not listed as one of the [implementors](https://github.com/opencontainers/image-spec/blob/master/implementations.md)).

However, after quickly glancing at t

[2020-06-23 20:11] Blokje5 commented on #323
@aaronjheng Thanks for reporting this. I assume this is due to the fact that we parse JSON using a YAML parser as it is a superset of JSON. However the YAML spec does allow trailing commas. Maybe we should use a JSON parser instead so conftest errors in issues in the JSON.

[2020-06-24 09:18] #323 closed

[2020-06-26 17:35] KeisukeYamashita commented on #326
@Blokje5  Have you seen this document?  It says GCR supports OCI image format.
https://cloud.google.com/container-registry/docs/image-formats

[2020-06-26 18:00] Blokje5 commented on #326
@KeisukeYamashita hmmm I wasn't aware. Thanks for pointing that out! I already tried locally adding the annotation to the bundles pushed to GCR, but still it displayed "Jan 1, 1970", which is why I assumed GCR did not support OCI formats. Then again, I should have expected GCR to deny the OCI artifact entirely if it was actually unsupported.

For now I have reported it as an issue on the GCR bug b

[2020-06-26 18:50] Blokje5 commented on #315
@carlpett Thanks for providing some feedback! I think it is indeed a good point that we should be clear on the naming. Let's stick to exceptions from now on. If you want to help out implementing this, I am more then happy to provide you with some pointers how to get started and where to look. Alternatively I can also give it a go.

[2020-06-26 18:50] Blokje5 commented on #316
@boranx I pushed a branch where you can see the general idea.

[2020-06-26 22:47] carlpett commented on #315
@Blokje5 I actually started and have a working prototype. Would the best approach be to submit a PR on what I've got and go from there, perhaps? I'd expect there to be better ways to go about it than what I've got :)

[2020-06-27 09:03] KeisukeYamashita commented on #326
@Blokje5   Thank you.
I have been able to reproduce this issue too.

I also uploaded my OCI images with `application/vnd.oci.image.manifest.v1+json` annotation but still doesn't work.

![Screen Shot 2020-06-27 at 17 42 00](https://user-images.githubusercontent.com/23056537/85918709-1f710480-b8a0-11ea-9a9a-32655e6d7738.png)

Thank you. Where did you report this issue? I couldn't find any issues in

[2020-06-28 04:50] KeisukeYamashita commented on #326
I tried to push to Azure Container Registry(ACR) but the `creation time` was not configurable.
Whatever you configure as `org.opencontainers.image.created`, the container registry uses the timestamp of the `push` event.

![Screen Shot 2020-06-28 at 13 40 13](https://user-images.githubusercontent.com/23056537/85938204-0c187480-b946-11ea-97dd-1b970b15bc13.png)

Therefore, GCR default value(`Jan 1, 1

[2020-06-28 16:10] KeisukeYamashita opened #335 ""conftest pull" command fails to detect OCI registry GCR & ECR"
## What

Currently, the `conftest pull` command only detects OCI registry if the passed argument contains `azurecr.io/` or `127.0.0.1:5000`.

Therefore, if you pass GCR (or ECR) repositories, it will fail to pull. Like Azure Container Registry(ACR), we should detect GCR and ECR.

These repository has these formats.

* GCR: `gcr.io/<PROJECT_ID>/<IMAGE_NAME>`
* ECR:  `<AWS_ACCOUNT_ID>.dkr.ecr.<REGIO

[2020-06-28 18:46] princespaghetti commented on #240
@jpreese I can take a pass at this. From a quick glance it seems to be expanding on the section on this page https://www.conftest.dev/sharing/ and the viper usage here: https://github.com/open-policy-agent/conftest/blob/master/internal/commands/test.go ? Should it have it's own page for configuration or would you like to keep it where it is?

[2020-06-28 18:59] princespaghetti commented on #240
Or it could be combined with the options page if there's interest there

[2020-06-29 17:10] boranx commented on #180
Closing that as the support is now in the master.

[2020-06-29 17:10] #180 closed

[2020-06-30 13:23] KeisukeYamashita commented on #324
How about using this CircleCI [docker orb](https://circleci.com/orbs/registry/orb/circleci/docker) to push to the registry from CircleCI?

[2020-07-02 07:54] garethr commented on #335
Thanks, merged #336 so should be fixed in the next release.

[2020-07-02 07:54] #335 closed

[2020-07-02 07:59] garethr commented on #326
I've run into this issue with other tooling as well. Specifically with Bazel.

https://github.com/garethr/snykly/blob/master/BUILD#L27

There you need to specify the above `stamp = True`. I'm not sure what that does under the hood, but that's probably the answer to the conundrum.

[2020-07-02 08:02] garethr commented on #324
@KeisukeYamashita yes, that will work. It's less an issue with how and more with time. If you want to take a run at the config then I can sort out the secrets and like on the CircleCI side.

[2020-07-02 09:17] garethahealy opened #339 "Request: Support wildcards in --namespace"
Use case: I want multiple namespaces to be included when testing.

Currently, I can do `--namespace "main.a" --namespace "main.b"` or `--all-namespaces`. My use-case is if I have my policies structured like:
- k8s
  - k8s.containers
    - k8s.containers.limits
    - k8s.containers.security

I'd like to be able to say, run all the k8s policies, i.e.: `--namespace "k8s.*"`

It seems like it should b

[2020-07-02 11:03] boranx commented on #339
As far as I know, we have recently added that into master: https://github.com/open-policy-agent/conftest/pull/319
However, seems like what you are looking for is applying the namespaces via a Regex pattern. That could be a new feature for us to work on...

I'm wondering folks thoughts on that, @jpreese @Blokje5

[2020-07-02 11:10] boranx commented on #339
Also documenting `--namespace` flag would be neat.

[2020-07-02 11:29] garethahealy commented on #339
Raised a PR, as a starter for 10.

[2020-07-02 12:44] jpreese commented on #339
I'm not sure it's a good fit. At the moment `--namespace` is clear, you pass in a single namespace to filter on. This would turn `--namespace` into a regex, which could be a little surprising and unintuitive.

Would using `--all-namespaces` on the `k8s` dir also work for you?

[code]

[2020-07-02 13:52] garethahealy commented on #339
@jpreese ; yes, I think that would work for me. Closing.

[2020-07-02 13:58] garethahealy commented on #339
@boranx ; just trying to see if there's any current docs for `--namespace` - i cant find it. if there isn't, where should it be added/updated?

[2020-07-03 07:46] Blokje5 commented on #315
Closed by #334

[2020-07-03 07:47] #315 closed

[2020-07-06 09:45] garethahealy commented on #339
@jpreese ; actually, this won't work as I use the konstraint in my lib dir, which is at the root level of my policy dir.

So when I run conftest with `-p` in a child dir, i get:
`rego_type_error: undefined function data.lib.konstraint.format`

Any ideas on how I could also "import" the lib dir?

[2020-07-07 08:38] garethahealy commented on #339
Think I've solved this with a bit of bash and regex, so I can pass multiple namespaces.

[2020-07-09 10:01] garethahealy commented on #339
For anyone in the future that hits this problem, my bash solution:
- https://gist.github.com/garethahealy/d5ce3ff9457e3c3f1487269195bc49e5

[2020-07-09 10:01] #339 closed

[2020-07-10 16:48] rydrman commented on #65
I have this exact use case as well of ensuring that the folder name always matches the namespace - in our git-ops workflow the structure of the repository is important to structure of the controlled cluster and something like `data.conftest` sounds like a perfect solution

[2020-07-13 16:43] johnharris85 commented on #209
Re-raising this after the demo I did last week on the OPA community call (ref: https://github.com/open-policy-agent/opa/issues/2180#issuecomment-655659739) & discussion w/ @jpreese. As part of the tool we would like to embed the test and verify commands (output would probably also be useful for consistency etc... but not essential).

[2020-07-15 07:25] carlpett opened #343 "Multiple policy directories"
I'd like to propose supporting multiple `-p` flags to the `test` command, with the effect of merging the directories as if they were one.
Our use-case for this is allowing teams to add additional policies on top of the organisation-wide ones easily.

I do not believe there will be any new collision-management cases, but may be missing something?

As a side-note, currently giving the `-p` flag mult

[2020-07-15 07:47] garethr commented on #343
I think this is a good idea. +1 from me.

[2020-07-15 09:26] Blokje5 commented on #343
What if two policy directories use the same namespace. E.g. I have a policy directory A:

[code]

and a policy directory B:

[code]

I think it should work out fine as Deny is in this case an incrementally defined rule, but I can imagine situations where this would lead to unexpected behaviour (two rules sharing a name where one is a true/false decision, the other constructs a set). It might be go

[2020-07-15 09:30] carlpett commented on #343
@Blokje5 Opened a PR, see above. From my understanding, it'll be treated just the same as if both files were in the same directory, since it is complied in the same pass. So if it'd be an error to have them in the same dir, it'll still be an error.

[2020-07-15 09:46] Blokje5 commented on #343
@carlpett What I meant was that in the case of multiple policy directories because everything with the same namespace is treated as if it where in the same file, it could lead to unexpected behaviour. I don't think it is a big problem: incrementally defined rules like deny will work as expected, and other rule names are not likely to conflict. It is just something we should be aware of with multip

[2020-07-15 11:47] carlpett commented on #343
Right, but are there cases where this would not be the expected (and desired) behaviour? With your example, isn't the compilation error a good thing?
I think adding some priority type of layer on this might make it much harder to reason about, so probably clear documentation about the implications would be my bet here.

[2020-07-15 11:54] jpreese commented on #343
I would also think that this would be expected and desired behavior. I've had a few discussions now where individuals and teams want to keep a core set of policies, but be able to layer additional ones on top of those to allow for exceptions, different file structures, etc.

It's just the nature of the beast when adding Rego to Rego.

[2020-07-16 13:51] garethr commented on #343
Also agree.

I think explaining "this is the same behaviour if these are in the same directory" makes this easy to reason about.

[2020-07-16 17:21] carlpett commented on #343
I've added docs for `--policy` in the PR, specifically mentioning how multiple directories interact. Let me know if it is sufficiently clear :)

[2020-07-19 01:36] jcmcken opened #348 "Keep OPA up-to-date with latest stable version (or at least have a governance process to periodically update)"
A few months ago someone submitted an issue (#279) asking to re-up the OPA version.

Can we do this again? I'm missing some of the new functions like ``object.union``, etc.

Can we introduce some process by which OPA continuously gets updated on a regular cadence too?

Or is there a way I can supply my own ``opa`` binary to ``conftest``?

[2020-07-19 02:38] jcmcken commented on #106
How does ``--combine`` affect a **mix** of YAML files where some are multi-document and some aren't? If multi-document means ``input[filename]`` is an array, but single-document means it's an object, that makes writing policies a bit more difficult.

For example let's say I have two ``Ingress`` documents in one file and only one in another, and I use ``--combine`` and want to write rules to gather

[2020-07-19 08:30] garethr commented on #106
@jcmcken What you propose though would make the common case more complicated.

I definitely agree it's a trade off, consistency here would make the complex case you describe better, but I think has a cost.
Pushing that into rego doesn't see _too_ bad to me.

Definitely worth exploring options here though.

[2020-07-19 08:33] garethr commented on #348
Conftest doesn't use the OPA binary, rather uses it as a library.

We've just recently formally joined the OPA project, so working in bumping the version used in Conftest on new OPA releases is definitely something we should work towards.

@tsandall @timothyhinrichs what's the best way of doing that? Even if we can open an issue on Conftest every time an OPA release is made that might be a good st

[2020-07-19 13:51] xchapter7x commented on #153
@dimakievua ,

i know this is an old issue... apologies for the late response.
I was just looking into this.
I am able to reproduce the behavior you describe. It is by design.

if you look at the yaml parser here: https://github.com/open-policy-agent/conftest/blob/master/parser/yaml/yaml.go#L17-L23

it is checking to see if there are multiple documents in the yaml file. If there are multiple, then

[2020-07-19 17:45] jremond commented on #106
If `--combine` is used, I would expect the input to be different (as it is) but consistent while using single-document or multiple-document files.
Always having an array of documents when using `--combine` looks good to me.

[2020-07-20 16:29] tsandall commented on #348
@garethr we have a little bot that tracks OPA upstream tags and automatically opens PRs on certain repos. For example: https://github.com/open-policy-agent/opa-istio-plugin/pull/192. If you want, we can point it at conftest. We just need a Makefile target called `update-opa` that does the revendoring. Here's an example:

https://github.com/open-policy-agent/opa-istio-plugin/blob/master/Makefile#L8

[2020-07-20 16:33] garethr commented on #348
@tsandall nice. I'll look to port the Makefile over and ping you when we're ready to get the bot pointed over.

[2020-07-20 17:11] tsandall commented on #348
I guess another option would be a GitHub action...

[2020-07-22 16:14] OmegaVVeapon opened #349 "conftest pull from Gitlab container registry fails"
(Opening a ticket on this following some conversation with @garethr on the conftest Slack team)

Conftest push

[code]

Conftest pull

[code]

is it me or the pull thinks that I'm trying to pull from a local file instead of a Docker registry? Is that why it's appending that `/policy` directory to my pull request?

This seems to be confirmed by the fact that when I use the `--policy` flag, it does

[2020-07-24 07:04] KeisukeYamashita commented on #349
@OmegaVVeapon Could you try with `oci://registry.gitlab.com/omegavveapon/conftest-policies/kubernetes:latest`, please?

I will raise a PR and try to reproduce soon but for GitLab registries, you need to attach the `oci//` URL scheme to contest to detect that it is trying to pull from OCI registry.

[2020-07-24 13:54] OmegaVVeapon commented on #349
Oh wow, thank you! It works!

[code]

[2020-07-26 10:18] KeisukeYamashita commented on #349
This is because the `conftest pull` command only handles  these OCI registries.

* AWS Container Registry
* Google Container Registry
* Azure Container Registry

I've added GitLab Registry support by this PR. After that PR is merged, I will close this issue. Thank you for your confirmation!

[2020-07-26 18:01] jpreese commented on #349
Resolved via #351

[2020-07-26 18:01] #349 closed

[2020-08-01 00:01] josh-reed opened #353 "Issue with "exception[rules]{}""
I find that this feature could be extremely useful for some of my use cases, so I want to thank you for adding it.

I was testing this with conftest v0.20.0.  Given the following information below, I am wondering if this is what the expected behavior is suppose to look like.

Given this rule.rego file:
[code]

Scenario 1:

Given this test1.yaml file for input:

`Kind: Deployment`

I get the follow

[2020-08-04 01:01] jpreese commented on #209
@nstogner @johnharris85 the majority of the packages for `conftest` are now exposed! Resolving.

[2020-08-04 01:01] #209 closed

[2020-08-04 01:26] jpreese commented on #316
Resolved via #327. Thanks @Blokje5! :tada:

[2020-08-04 01:26] #316 closed

[2020-08-04 01:27] jpreese commented on #259
This naming convention is now leveraged for `exceptions`, which is quite documented. Marking as resolved!

[2020-08-04 01:27] #259 closed

[2020-08-04 01:36] jpreese commented on #314
@moshloop we are also actively working on a policy library to support both Conftest and Gatekeeper based policies here: https://github.com/plexsystems/konstraint/tree/main/examples/lib

Importing core and using `core.resource` in your policies will set the correct prefix.

[2020-08-05 23:37] stekershaw opened #355 "conftest verify classes errors as success"
When running `conftest verify`, test cases with Rego errors are marked as passed.

One way of replicating this is that I see no change in `conftest verify` output if I add a `1/0` to any Rego test case, while Opa will give an `ERROR` for that test case (`eval_builtin_error: div: divide by zero`).

I think this is due to the code checking only for failures else defaulting to success: https://github

[2020-08-06 07:13] rosscdh commented on #26
+1 for Junit support most common also for sonarsource etc.. in the mean time you could use a tool like https://www.npmjs.com/package/tap-junit to convert tap to junit..  but .. not nice

[2020-08-06 07:16] garethr commented on #26
@rosscdh this is an older issue. Since this was closed Conftest now has native JUnit support https://github.com/open-policy-agent/conftest/pull/328

[2020-08-06 13:52] xchapter7x commented on #348
i've had a lot of success using dependabot for this https://dependabot.com/go/
Its a github marketplace integration and relatively easy to setup https://github.com/marketplace/dependabot-preview

:)

[2020-08-06 14:20] rosscdh commented on #26
I've just seen that thank you!

however the docs are outdated i guess
https://www.conftest.dev/options/#-output

Thanks again!

On Thu, Aug 6, 2020 at 9:16 AM Gareth Rushgrove <notifications@github.com>
wrote:

[2020-08-06 16:34] whilp opened #357 "Add starlark support"
The most obvious use of starlark is in bazel. There, it would be very powerful to express checks using conftest.

Fortunately, there's a good go library for reading starlark:

https://github.com/google/starlark-go

[2020-08-07 04:25] OmegaVVeapon commented on #106
Has there been any developments on this conversation?

I'm currently at a point where I have 3 k8s policies. 1 of them requires the `--combine` flag to work, the other 2 only need to check one single k8s manifest, so I'm letting conftest break the YAMLs into different objects like it does by default in `conftest test helm-rendered-template.yaml`.

If I rewrite my other 2 policies to work with the

[2020-08-08 07:59] garethr commented on #357
Definitely like this idea. Is there a good output serialization of Starlark, or at least the Bazel usage of it?
Basically if we can convert starlark to some meaningful data format then the rest is relatively easy.

[2020-08-11 07:50] #353 closed

[2020-08-13 07:26] rosscdh opened #359 "[feature] add --no-fail on runs"
Hi there,

Introducing conftest into a large multi-team environment, in order to make the uptake as gentle and non-blocking as possible, it would be grand to have a --no-fail or similar switch to not return 1 on failure and just show the report.

This will allow us to integrate into CI in a non-blocking manner and assist in uptake and better governance at a later stage.

[2020-08-13 09:30] garethr commented on #359
Is this something that should be in the tool though? Do you have other examples of tools which take this approach?

Many CI systems support this sort of concept as part of defining steps (eg. https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idcontinue-on-error).

In bash you could do:

[code]

Not wholly against this suggestion, but pointing at other examples

[2020-08-13 14:55] rosscdh commented on #359
yep thats fair enough..  trying to remember i think it may have been kubeval or similar... but || true will def work! silly me for not thinking of that.. thanks for the bash foo

[2020-08-13 14:55] #359 closed

[2020-08-13 19:23] #343 closed

[2020-08-17 08:50] tete17 opened #360 "The example security checking is incomplete"
Browsing through this repo, in the [examples](https://github.com/open-policy-agent/conftest/blob/master/examples/kubernetes/policy/deny.rego#L9), as well as as trough [here](https://github.com/instrumenta/policies/blob/master/kubernetes/security.rego#L69) I found a small issue with the way we check whether the containers ar running as `root`.

I think this validation is not sufficient. According t

[2020-08-18 18:49] phomein opened #361 "conftest test: successes returns msg when using --all-namespaces"
Context:
- intending on using conftest on gatekeeper policies, as a sort of 'lint' step for users in our ci/cd process for helm charts before reaching the actual admissions webhook on the k8s cluster
- my directory layout is similar to the [konstraint](https://github.com/plexsystems/konstraint/tree/main/examples) examples, where I have a lib with a collection of rego packages and separate named di

[2020-08-19 15:57] jpreese commented on #361
Thanks for reporting this @phomein. Something definitely doesn't seem quite right.

Bare bones test case:

[code]

2. Create empty yaml file

[code]

[code]

[2020-08-19 16:01] jpreese commented on #360
The intent for most of the examples are to just be examples as to how `conftest` can be used when writing policies (as well as provide test facets!). I don't necessarily think we should take the stance that all examples must be hardened for production.

If you're looking for a more production-ready implementation of this policy, Konstraint has one available [here](https://github.com/plexsystems/ko

[2020-08-20 18:21] Blokje5 opened #362 "Add a contributing guide"
Given that the project is now slowly getting more contributors, it is time to add a CONTRIBUTING.md file and also make it available on [conftest.dev](https://www.conftest.dev/).

There are a couple of open questions we should answer:
- Should we include Issue & PR templates?
- Do we start with the enforcement of commit message styles?
- Should we enforce the creation of an issue for any larger fea

[2020-08-20 18:33] Blokje5 opened #363 "Refactor the Test command"
Recently bugs started popping up in the `conftest test` command quite often. The logic in there has organically grown to the point where it is now hard to understand.

In essence, `conftest test` has 4 stages:
- Find configuration files & policies
- Compilation
- Query execution
- Result parsing

We could start by moving that logic into separate structs and having the `TestRunner` call those struc

[2020-08-24 08:04] grzesuav opened #364 "Inconsistent rule evaluation"
Hi, I have following rule :

[code]

it suppose to find annotation in form `ingress.kubernetes.io/` which does not have matching `nginx.ingress.kubernetes.io/`

Example ingress.yaml :
[code]

running conftest gives different results :
[code]

like :
*
[code]

*
[code]

[2020-08-26 10:32] boranx commented on #363
@Blokje5 are you actually working on that or looking for someone to handle that? I'd love to review the PR if you're keen to create one

[2020-08-26 15:00] Zelinzky commented on #361
I've been looking at this, @phomein @jpreese can you let me know the os you're using and the version of conftest you're using?

[2020-08-26 17:21] #361 closed

[2020-08-26 18:03] Blokje5 commented on #363
@boranx I haven't started working on it but was intending to give it a go this weekend.

[2020-08-30 18:23] #362 closed

[2020-08-30 21:52] #360 closed

[2020-09-02 19:58] anderseknert opened #370 "Conftest for auditing sequence of objects?"
More than anything, a question / vague feature request to use as basis for discussion. It's currently difficult to use conftest (and/or OPA for that matter, but conftest is closer to this in nature) to test a list/stream of objects of unknown size and get a meaningful aggregated report back. Requirements for an aggregated report is simply 1) total number of objects tested 2) number of violations (

[2020-09-03 15:21] jpreese commented on #370
Thanks for raising this issue, @anderseknert! I think some form of aggregation of results could make sense.

If `conftest` is given the following input, `namespaces.yaml`:

[code]

You would want to know that X tests passed/failed, and **2** objects passed/failed (even though we passed in a single file). With conftest, each resource is going to be split by `---`.

In the above example with _List_,

[2020-09-03 19:52] anderseknert commented on #370
Thanks @jpreese! The example with `List` was a little contrived, used only to show what currently takes me the closest to what I want. But ideally the policy itself should be written to test a single object. Then conftest, when run in "audit mode" would run the test for each object in the sequence and keep track of the aggregate result. So, given a policy like this, in `$(pwd)/policy`:

[code]
We

[2020-09-05 18:05] #363 closed

[2020-09-06 01:56] jpreese commented on #364
This may not be an issue with `conftest`, but just the order in which Rego decides to process the rules. `some` won't necessarily always be the same.

That said, this rule can be greatly simplified which may solve this as well:

[code]

[2020-09-06 19:09] jpreese commented on #370
This has been approved and merged via https://github.com/open-policy-agent/conftest/pull/376

[2020-09-06 19:09] #370 closed

[2020-09-06 19:10] jpreese commented on #309
In the next release, `conftest` will output a _count_ of successes. Resolved via https://github.com/open-policy-agent/conftest/pull/376

[2020-09-06 19:10] #309 closed

[2020-09-06 19:34] jpreese commented on #240
Resolved via #354

[2020-09-06 19:34] #240 closed

[2020-09-06 19:35] jpreese commented on #355
Resolved via #377

[2020-09-06 19:35] #355 closed

[2020-09-06 19:35] jpreese commented on #300
Resolved via #378

[2020-09-06 19:35] #300 closed

[2020-09-07 00:44] jpreese commented on #314
I share similar thoughts already outlined in this issue. I don't believe `conftest` itself should handle admission. Creating a gatekeeper plugin would be the better approach to solve this.

[2020-09-07 00:44] #314 closed

[2020-09-07 15:41] jpreese commented on #326
I just tested this as well, and this definitely seems like a GCR issue and should be fixed upstream.

[2020-09-07 15:41] #326 closed

[2020-09-07 15:50] jpreese commented on #129
Now that we support many different registry integrations, this approach changes quite differently. We'll re-evaluate if the need pops up.

[2020-09-07 15:50] #129 closed

[2020-09-07 16:10] jpreese commented on #348
This is now handled with dependabot. Dependabot handles _all_ dependencies in `go.mod`, but if we find it too noisy and want to only focus on opa, we can configure [allowed_updates](https://dependabot.com/docs/config-file/#allowed_updates).

[2020-09-07 16:10] #348 closed

[2020-09-09 14:44] rawc0der opened #383 "Conftest using specific .rego file is not working properly"
When using specific `.rego` file passed through command line arguments, the test always passes, disregarding any verification rules.

Steps to reproduce:
[code]
I am using latest (as of this writing) **conftest Version: 0.20.0**. In the default examples folder from this repository, the `policy/` folder contains multiple `.rego` files.  Using any of these policies independently will result in the t

[2020-09-09 18:55] jehiah commented on #106
I've also run into this and would like to propose another option which would allow preserving existing functionality in backwards compatable format

A new `--multi-document` flag that would always present the contents of a document in a "multi-document" format (array) and would apply regardless of `--combine`.

So given the following two documents
[code]

`--multi-document` would present them both

[2020-09-09 19:40] OmegaVVeapon commented on #106
@jehiah that approach sounds to me like what the `--combine` flag should have done from the start.

Question though... if you do get the green light to implement that, is my understanding correct that the only difference between `--multi-document` and `--combine` will be that you'll provide an array for `single.yaml` instead of the current implementation for `--combine`? For `multi-doc.yaml`, both

[2020-09-10 01:13] jehiah commented on #106
@OmegaVVeapon here is what i'm proposing more specifically (using the setup pattern from @gwkunze in https://github.com/open-policy-agent/conftest/issues/106#issuecomment-540048796)

**Setup**
[code]

**Current functionality** (as of 125160deacb9c02ce3c098bdf1f3ce7df216026a)
[code]

**Proposed** (with `--multi-document `)
[code]

[2020-09-10 03:52] OmegaVVeapon commented on #106
@jehiah That made it crystal clear. Thanks!

[2020-09-10 14:03] jehiah commented on #106
I'm not in love with `--multi-document` naming and i think this situation only applies to yaml files, so other possible naming could be along the lines of `--yaml-multi-doc-mode "treat yaml files containing multiple documents as a single input"`

[2020-09-13 14:22] Blokje5 commented on #383
Thanks for reporting the issue @rawc0der! Could you share the policies you used? I'll see if I can reproduce the issue.

[2020-09-13 17:42] jpreese commented on #383
This looks to be working as intended. In the given example, both the `deny.rego` and `labels.rego` policies depend on a result from `kubernetes.rego`. Since you're not including `kubernetes.rego` in your `-p` argument, those rules are returning undefined, which will ultimately return as successful.

In conftest `0.21.0` you can specify multiple policy files so you could do:

`conftest test deploym

[2020-09-13 18:55] rawc0der commented on #383
Thanks for the reply @jpreese and @Blokje5! Think the problem was that in version `0.20.0` the policy files are not merged correctly when adding multiple sources with `-p` argument.

Closing this issue, as I see it is resolved in version `0.21.0` and merged in #344 .

[2020-09-13 18:55] #383 closed

[2020-09-13 19:30] jpreese commented on #153
This is very similar to #106 regarding how to interpret multi-doc yamls. Closing this in favor of that discussion as the final decision there will resolve this as well.

[2020-09-13 19:30] #153 closed

[2020-09-13 19:32] jpreese commented on #273
Gareth's point regarding multiple `FROM` commands makes perfect sense to me, it's akin to multi-document yaml files.

[2020-09-13 19:32] #273 closed

[2020-09-13 20:17] jpreese commented on #106
Thanks for keeping the discussion going, everyone!  I read through it and I'm not sure we need to introduce another argument.

A `.yaml` file can either be a single yaml file, or a number of yaml files split by `---`. With conftest, when a `---` is present, conftest will do some parsing under the hood to consider these independent inputs. In other words, the policies that you write don't need to c

[2020-09-13 21:04] jehiah commented on #106
@jpreese I have two motivations; 1) a way to write a policy that applies for single and multi-doc yaml files (this isn't possible with `--combined` currently because the format is sometimes a doc directly, sometimes an array of documents. 2) write a policy that references across yaml documents in the same file (this requires `--combined` currently).

For a concrete case, i want a policy that check

[2020-09-13 21:24] jpreese commented on #106
I'll play with some options tonight, but my current thoughts are:

- Without combined, the behavior stays the same. Each YAML is evaluated independently, regardless of multi doc or not.

- With combined, the result is always an array, even if a single doc. The array being keyed by an numbered index (is the file name really needed? always felt like an odd coupling to me). If combined is used on a m

[2020-09-14 13:12] rosscdh opened #386 "[bug] Support for "_" in iterators"
Hi there,

    It does not appear that conftest supports the "_" for iterators

[code]

is this correct? Thanks! :)

[2020-09-14 16:19] jalseth opened #387 "Return exit code 2 with fail-on-warn when policies do not compile"
I would like to use the exit code from conftest to differentiate between an actual error where conftest did not run (EG: the path to the resource to test was not found), if there were any failures found, or if there were only warnings found. This necessitates three exit codes, but conftest only supports two currently.

Doing this will enable scripts that wrap conftest to use the exit code to relia