[2020-09-14 16:55] jpreese commented on #106
@jehiah this is along the lines of what I was thinking: https://github.com/open-policy-agent/conftest/pull/388

You can see the examples folder and the acceptance.bats showcasing some of the usages. If you're wanting to take it for a spin, feel free to checkout my branch locally and run your policy tests against that version of `conftest`.

[2020-09-14 17:12] MikaelSmith opened #389 "conftest container errors on pull"
I attempted to use https://hub.docker.com/r/openpolicyagent/conftest to run `conftest pull https://github.com/instrumenta/policies.git` and got
[code]

Seems the container needs to include `git` for `conftest pull` to work.

[2020-09-14 18:58] Blokje5 opened #390 "Separate examples from tests"
Right now we often use the examples section both in the go tests and bats tests. However, we should strive to create realistic examples. I think it would be best to start separating the examples from the tests. This means we can start working on creating more realistic examples without worrying about breaking tests.

[2020-09-14 19:01] Blokje5 commented on #386
Hi @rosscdh, it looks like you have a compilation error in your policy. In general there should be (almost) no differences between what OPA supports and what conftest supports.

For good resources on policy writing I can suggest the following:
- https://academy.styra.com/ is a course on Rego policies.
- The official documentation: https://www.openpolicyagent.org/docs/latest/policy-language/
- And

[2020-09-14 19:01] #386 closed

[2020-09-14 20:28] jpreese commented on #106
@OmegaVVeapon @jehiah @jcmcken @gwkunze @jremond
A pull request/branch is available that implements an approach for multi-document yaml files (or any file type)

https://github.com/open-policy-agent/conftest/pull/388

[2020-09-14 20:35] jpreese commented on #390
100% agree with the idea. I do think that the examples still need to be tested to make sure that they are actually _working_ examples. But this lets us have more freedom about what we're testing without needing to worry about if its a good example and makes examples themselves easier to read.

[2020-09-14 20:57] jpreese commented on #387
I definitely agree that when the configurations can't even be evaluated due to `rego` that doesn't compile, missing files, etc the `--fail-on-warn` flag needs to return `2`. It currently returns `1`. I'm a little hesitant to add another error code to be able to distinguish between a compilation failure, and a policy failure.

To better understand the ask, what sort of decisions are you looking to

[2020-09-14 21:57] jpreese commented on #257
Ran into this a couple times as well. This issue is also related to configurations that are passed via standard input (results in `-` rather than `Combined`). But it could be applicable to any test run.

That said I would think something like: `--name`, `--title`, `--indicator`, `--identifier`, etc to be able to set what goes in that slot.

[2020-09-14 23:52] jalseth commented on #387
I'm wrapping conftest in a GitHub Action and if the passed in parameters are invalid and cause the compilation to fail, I want to exit early rather than attempting to parse the output and perform other actions. Currently I have to check if `stderr` starts with `Error:`.

[2020-09-15 00:14] jpreese commented on #387
I cheated a bit and looked at the implementation 🦝

For that case, I would just check to see if `cmd.Run()` returned an error, e.g.

[code]

[2020-09-15 00:45] jpreese commented on #387
I cheated a little bit and looked at the implementation 🦝 and have a couple thoughts:

#### Using the library
In a _perfect_ world, you'd be able to use the methods that are exposed to be able to do what you're trying to do without needing the `conftest` binary.

The [loader](https://github.com/open-policy-agent/conftest/blob/master/policy/loader.go) lets you define the policies/data docs (if any)

[2020-09-15 16:24] jalseth commented on #387
Thanks. I think going with the JSON structs is the best route forward for me. The primary reasons for using the binary was to keep the CI check relatively quick; if I use conftest as a library, I have to fetch all of its dependencies, build them, etc. on each CI run (likely every commit) which slows down that feedback loop.

[2020-09-16 13:08] jpreese commented on #65
@rydrman @garethr there have been ongoing discussions related to multi-document configurations (configuration files that contain more than one configuration). A proposal is to add a `.path` and a `.contents` field to the `input` when in `--combined` mode. Original issue: https://github.com/open-policy-agent/conftest/issues/106  // PR: https://github.com/open-policy-agent/conftest/pull/388

While t

[2020-09-16 23:13] MikaelSmith opened #397 "conftest pull error"
When I run
[code]
on macOS 10.15.6 I get an error. This used to work.

Installed via Homebrew.

[2020-09-16 23:34] jpreese commented on #397
Looks like a regression from #344

PR to resolve here https://github.com/open-policy-agent/conftest/pull/395

[2020-09-17 08:49] eyalzek opened #399 "dpkg-query: warning: parsing file '/var/lib/dpkg/status' .... missing 'Maintainer' field"
When installing `conftest` from deb file, it puts the following content into `/var/lib/dpkg/status`:
[code]

On any subsequent `apt` operation, the following warning is displayed:
[code]

[2020-09-17 09:41] xchapter7x commented on #390
Im looking to get back into conftest work. I'd be happy to take a crack at refactoring some of our tests.

Let me try to frame up the goals here:
1. config files in examples should not be used as fixtures in any of our tests
2. config files in examples should be tested for validity, such that they dont fall out of date

I think i'd break it out into 2 separate PRs for each of these goals.

---

##

[2020-09-17 13:54] grzesuav commented on #364
hi @jpreese , thanks for looking into that, my knowledge of rego is limited, after introducing suggested change one of my test os failing :

[code]

can you advise ?

[2020-09-17 14:07] jpreese commented on #364
What are you setting `msg` to in the `warn_on_missing_nginx_annotation` rule? I see you're looking for `some :: ` to exist in `msg` which seems a little fishy. But that's my guess, the messages don't match

[2020-09-17 19:03] Blokje5 commented on #397
Fixed by #395

[2020-09-17 19:03] #397 closed

[2020-09-19 20:35] jpreese commented on #106
Resolved via https://github.com/open-policy-agent/conftest/pull/388. Thanks for the ongoing discussions everyone!

[2020-09-19 20:35] #106 closed

[2020-09-21 12:40] #389 closed

[2020-09-22 01:46] jpreese commented on #266
@drewmullen @sarcasticadmin

PR to set-i-fy all blocks here. Additional discussions on the related issue.

https://github.com/tmccombs/hcl2json/pull/20

[2020-09-22 14:27] jpreese commented on #399
Thanks for reporting this @eyalzek! Resolved in #408

[2020-09-22 14:30] #399 closed

[2020-09-22 15:34] jpreese commented on #264
@Blokje5 @06kellyjac

After https://github.com/open-policy-agent/conftest/pull/400 is completed, was going to take a look at this next.

I think we should be able to detect if `$XDG_DATA_HOME` or `$XDG_DATA_DIRS`, and if so, use that as the location to store the plugins.

`$XDG_DATA_HOME` seems the most appropriate for where plugins should be downloaded to. While we refer to the plugin dir as a ca

[2020-09-22 16:13] 06kellyjac commented on #264
@jpreese All that sounds really good. You have a much better grasp of the XDG spec than the majority of people I see arguing about it :sweat_smile:

I'd add that with the priority order and behavior if `$XDG_XYZ` is set but the directory doesn't actually exist it's probably best to log an error for the user & fall back to the next one?

Also the `conftest plugin cache` command sounds great, someti

[2020-09-22 16:29] jpreese commented on #264
In this context, is the directory the plugin directory or the directory defined in `$XDG_XYZ`? In the event that the plugin directory does not exist, to me, that would just mean no plugins are installed. `plugin install` would add the directory.

If the `$XDG_XYZ` directory _itself_ does not exist, I would vote for hard erroring. If the data in that variable isn't good, then I would pressure the u

[2020-09-22 16:41] 06kellyjac commented on #264
Yeah the `$XDG_DATA_HOME` dir itself (etc). Hard erroring works for me too. Knowing I've messed up and my `~/.local/share/` dir has dissapeared would be nice to know & I don't want to have to move them from wherever they end up going back to the actual location I wanted once I re-make the dir.

[2020-09-22 17:46] Blokje5 commented on #264
Thanks for looking into this @jpreese. I must admit that I completely lost track of the issue.

On your suggestions:
I agree with the priority order. Providing an error on a misconfigured `XDG_` variable makes sense if the variables are set to incorrect values. But I am unsure if we need a `conftest plugin location` command. I am not sure if a command just for debugging Conftest has added value as

[2020-09-22 18:47] Blokje5 opened #409 "Create a Windows test environment"
If we want to support Conftest on Windows, we need to make sure that we run the acceptance tests in a Windows environment as well. E.g. #400 shows that there is a risk that certain functionality does not work on Windows.

[2020-09-22 19:55] jpreese commented on #264
#1 sounds good to me. I initially hesitated to add it into the same command, because always printing the path seemed noisy to me. The plugin dir should never really change unless you're messing around with variables.

Adding some sort of flag to `list` to show more information about the found plugins, including its location, sounds like a good approach.

[2020-09-22 21:23] jpreese commented on #409
Shouldn't be too big of a hurdle. CircleCI has [matrix jobs](https://circleci.com/blog/circleci-matrix-jobs/) which would let us run CI against our current environment as well as a Windows-based one.

[2020-09-23 16:25] sarcasticadmin commented on #266
@jpreese thanks for picking this back up! Ill take a look at those PR changes shortly

[2020-09-23 17:02] jpreese commented on #266
@sarcasticadmin Awesome, much appreciated!

[2020-09-24 09:20] 06kellyjac opened #412 "Exception is outputting "No policies found" instead of registering an exception"
Using the example for exceptions: https://www.conftest.dev/exceptions/

[code]

This yaml results in a "no policies found" message instead of an exception (as I've seen work correctly before).
With a name different to "can-run-as-root" it fails the policy as expected.

[code]

[2020-09-24 09:25] 06kellyjac opened #413 "`warn_something` can't be ignored with an exception (with caveat)"
Exceptions only consider `deny_` or `violation_` prefixes but `warn_` is also a prefix.

An argument for not having `warn`s as exceptions could be "they don't cause a failure exit code" however there is `--fail-on-warn`. Also even then it'd still be nice to ignore warnings I know I don't want.

[code]

[code]

Explicitly putting the whole rule name `warn_run_as_root` does lead to ignoring but that

[2020-09-24 14:37] grzesuav commented on #364
well, the idea is to capture annotations which does not exist. To clarify :
* look for annotations starting with `ingress.kubernetes.io`
* check if they have matchin `nginx.ingress.kubernetes.io` annotation
* if they dont - flag it in message

I tried to play somehow with you proposal, I have problem with assigning result of `not input.metadata.annotations[nginx_annotation] ` to a list (to show it

[2020-09-24 16:37] alexgaganashvili opened #414 "--combine Feature Not Working"
Hi,

The following example with the --combine flag does not seem to be working as expected:
https://www.conftest.dev/options/

The output shows 0 failures and that the test has passed.

Thanks,
Alex

[2020-09-24 17:40] jpreese commented on #364
That is what that policy should do. It will print out the annotations that exist but _do not_ have an associated `nginx.ingress.kubernetes.io` annotation. If the rule has a non-empty `msg`, the policy has failed.

[2020-09-24 17:44] jpreese commented on #414
The docs were updated to reflect the new `--combine` behavior which hasn't been released yet, but will be in `0.22.0`.

The previous docs for `0.21.0` that show the combine behavior can be found [here](https://github.com/open-policy-agent/conftest/blob/5d1e3d8ae8c6071079c69e88f2f70db65c50c5d2/docs/options.md)

[code]

[2020-09-24 17:51] alexgaganashvili commented on #414
Got it. Thanks. Yeah, I figured I had to use yaml file name as the key when I was troubleshooting the issue, which was not what was being demonstrated in the example.
I'll wait for the release of 0.22.0.

[2020-09-24 17:51] #414 closed

[2020-09-24 17:53] jpreese commented on #413
Resolved via https://github.com/open-policy-agent/conftest/pull/416

[2020-09-24 17:58] jpreese commented on #412
This has been resolved in the latest, unreleased version of Conftest.

If you fetch latest, build, and use that version against the example exception-- it should work for you.

[2020-09-24 18:34] 06kellyjac commented on #413
Thanks for the swift turnaround @jpreese

[2020-09-24 18:34] #413 closed

[2020-09-24 18:35] 06kellyjac commented on #412
Thanks, I'll give it a go later & close this issue if it all works :)

[2020-09-27 12:47] #324 closed

[2020-09-27 13:14] garethr commented on #387
I think expanding the exit codes is likely worthwhile. It's probably worth considering this more generally, ie. what would all the useful exit codes be for other types of failures?

[2020-09-27 13:23] garethr commented on #297
`opa` itself can be run as a daemon, and provides this sort of interface. Conftest started out as a developer-focused CLI interface.

But there are parts of Conftest (in particular the various input formats) that are useful there. Their has been some suggestions to move those into OPA for use by other tools built on-top.

@noelo It would be good to understand more specifics about your use case, an

[2020-09-27 20:25] jpreese opened #419 "Push to instrumenta on release or create deprecation plan"
PR https://github.com/open-policy-agent/conftest/pull/411 updated the Circle config to push on release, but did not include the `instrumenta` project.

From @garethr's comment in https://github.com/open-policy-agent/conftest/pull/417#discussion_r495569987, an announcement should be put together stating its official deprecation.

To resolve this, the Circle config should be updated to also push to

[2020-09-28 07:05] noelo commented on #297
Thanks I'll take a look. Basically what we're looking to do is a kind of resource gate that validates resource definitions as they're being promoted into production. This would be done as a step in a CD promotion pipeline well before it got anywhere near a k8s API.

Some existing work done here https://github.com/redhat-cop/rego-policies and https://github.com/noelo/omydb

[2020-09-28 07:31] garethr commented on #297
@noelo sounds like you're doing this for Kubernetes?

If so I'd look at [Gatekeeper](https://github.com/open-policy-agent/gatekeeper) (another Open Policy Agent projects)  and the generic [OPA documentation](https://www.openpolicyagent.org/docs/latest/kubernetes-introduction/).

You can see one approach to building what you describe in my talk from KubeCon last year [slides](https://speakerdeck.co

[2020-09-28 09:49] Blokje5 commented on #419
I am in favor of deprecation as well. If we start sharing now that it will be deprecated, we can ensure people have time to update before the next release.

The open question for me is what channels we should use to share. We can leave a note on conftest.dev and on the OPA slack and hopefully that is enough notice.

[2020-09-30 02:59] jpreese commented on #419
I feel as long as the DockerHub README had a blurb about the migration (e.g. https://hub.docker.com/_/opensuse), and we made a note of it in the 0.22.0 release notes on GitHub, that would cover enough for users to be able to easily find the new image.

FWIW there doesn't appear to be a paved path for this https://github.com/docker/hub-feedback/issues/907

[2020-09-30 15:45] 06kellyjac opened #421 "Including comments"
Are there any plans to include comments in some/all input types?
I'm writing policy for Dockerfiles & I'd like to ignore policies based on comments.

Could also hold value for a policy that denies phrases within comments etc.

[2020-10-01 11:01] Blokje5 commented on #421
@06kellyjac instead of comments we now support exceptions: https://www.conftest.dev/exceptions/. Exceptions provide a mechanism to exclude certain input from certain rules. Hopefully that covers your use case.

[2020-10-01 11:13] 06kellyjac commented on #421
I'm using exceptions for global ignores but I want to exempt an individual line

Fail on unpinned FROMs
[code]

or

Fail on unpinned apt dependencies
[code]

There are a couple workarounds I can do but it makes things clunkier for people writing the Dockerfiles & I'd rather just look at the comments.

Also what if I wanted to enforce there are no `TODO` comments, etc

[2020-10-01 15:30] Blokje5 opened #422 "Documenting Push command on conftest.dev"
The Sharing Policies section does not include documentation on the push command. We should share examples of how to use the push command as well to complete the documentation.

[2020-10-01 15:39] jpreese commented on #422
Were there any specifics you were looking to include for the command? I am seeing a blurb about push under

_If you have a compatible OCI registry you can also push new policy bundles like so:_

[2020-10-01 17:19] Blokje5 commented on #422
Yeah just realised as well that I completely read over the documented section 🤦 . I'll close this issue.

[2020-10-01 17:19] #422 closed

[2020-10-01 17:49] Blokje5 commented on #421
It would be nice if we could support such a use case, although I am not sure if it is feasible. There are three requirements here:

1. The input type supports comments. For example JSON, which Conftest supports as an input type does not support comments.

2. The parser we use has a mechanism for identifying comments and associating it with the next node. I am not sure if all parsers support this,

[2020-10-01 19:05] 06kellyjac commented on #421
I'm not necessarily suggesting comments for ignoring be a built in feature, I just want comments to show up in the parse

If an input type doesn't support comments then there wont be any comments :shrug:

---

Docker example:
[code]

[code]

Structure could be different

In the case of Dockerfiles I don't think there's any case where you can put comments on the same line e.g. `WORKDIR /something #

[2020-10-01 19:08] 06kellyjac commented on #421
Ignoring the comments, the main issue I have is I want to ignore rules in some parts of the file while enforcing in others.
At the very least ignoring or enforcing across a whole `FROM` block
e.g. ignoring all unpinned apt versions in the `base` layer
https://github.com/open-policy-agent/conftest/issues/421#issuecomment-702063746

[2020-10-02 14:34] Blokje5 commented on #419
Updating the Dockerhub README will probably cover it. I also created #423 as I noted that the install documentation still referred to the instrumenta image. @garethr could you update the Dockerhub README of the instrumenta image?

[2020-10-05 14:04] jpreese opened #424 "Conftest and http.send"
From SO:

https://stackoverflow.com/questions/64178296/using-opa-http-send-with-conftest

[2020-10-05 18:51] Blokje5 commented on #424
I tried to reproduce the issue with the following policy (any input works here):

[code]

The API if successful returns a JSON with a "status" key. The policy fails with the following result:

[code]

and looking at the network traffic on my mac I can see packets going out. I'll comment on StackOverflow with a link to the issue and see if we can get the original poster involved.

[2020-10-06 08:32] ac-obair commented on #424
Hi there OP here. I'd be good to understand where I've gone wrong. So what I'm acutally doing is getting a list of k8s versions from azure.

This code as-is returns the list I need from the opa repl but packets never leave my interface with `conftest`. I was then hoping to import this so that it could be used when `conftest test` and `conftest verify` by using `import data.aks.versions as supporte

[2020-10-07 14:14] jpreese commented on #424
[code]

Is working for me as well, at least in making an HTTP call out:

[code]

@ac-obair are you defining a `deny` , `warn`, or `violation` rule anywhere? Conftest uses these rule names as entry points.

If you copy/paste my Rego above, and run it through Conftest you should get the same error.

[code]

[2020-10-08 13:09] ac-obair commented on #424
I am using a deny, if you refer back to my SO post, I'm importing versions as a data doc, and using that to evaluate my deny.

Something like this:
[code]
Same issue for me however, this is why I asked if I was using imports correctly and I'd expect the entrypoint of deny to fire when and build versions list once that line is evaluated. I've moved the deny to the same fine and removed the import,

[2020-10-08 13:54] jcmcken commented on #106
Sorry I dropped out of this discussion, haven't had much time to track it.

Honestly, I'm a little surprised in the turn this took. I was hoping that if a breaking change was made, the old multi-document struct would just become the default. That way all I would need to do is delete the [single document rules](https://github.com/open-policy-agent/conftest/issues/106#issuecomment-660575620) from my

[2020-10-08 17:30] jpreese commented on #424
An example that mimics your current setup as close as possible would definitely be appreciated, I think there's something that we're missing. I threw together a quick example using a real API, putting the request in a different package, importing it, and returning an error:

Inside of a single folder:

**api.rego**
[code]

***rule.rego***
[code]

**foo.yaml**
_this is just a blank file_

[code]

[2020-10-09 07:54] Duologic opened #426 "test returns"
[code]

[2020-10-09 07:58] Duologic opened #427 "Test errors with 'too many open files'"
Awesome tool, should replace a bunch of my grep/awk/bash-fu scripts.

I just ran it against a set of ~4000 files and received this error:
[code]

Had a quick look at the code, it seems to close the files early (not deferring) but maybe there is some parallelization going on? Any hints on or help on this, wouldn't mind coming up with a PR to fix it.

Installed on Arch Linux through the AUR pacakge:

[2020-10-09 13:38] jpreese commented on #427
@Duologic could you try this scenario with the unreleased version of Conftest?

There have been a lot of optimizations since `0.21.0` and this may already be resolved. I am seeing a lot of .Open calls in `0.21.0`.

[2020-10-09 13:38] jpreese commented on #426
Duplicate of https://github.com/open-policy-agent/conftest/issues/427

[2020-10-09 13:38] #426 closed

[2020-10-09 17:51] Duologic commented on #426
Must have entered too soon and hit back 🙈

[2020-10-12 08:52] almog27 opened #428 "Terraform HCL2 parser issue"
Hey,
I am using Conftest to validate TF files (valid HCL2 files).
When we are trying to validate a TF file that contains `aws_db_parameter_group` resource that has more than one `parameter` object - the parser is not recognizing this as a valid object and return the next error:
[code]

According to the documentation of Terraform - this is a valid case - [aws_db_parameter_group docs](https://regist

[2020-10-12 09:27] garethr commented on #428
This is a HCL1 vs 2 issue. Note the `=`, which differs from the example you linked to.

This will parse with `conftest parse file.tf -i hcl1` or you can upgrade to HCL2 used in the latest versions of Terraform.

[code]

[2020-10-12 09:27] #428 closed

[2020-10-12 11:21] ac-obair commented on #424
[code]
I think we can all agree that `x != set()` here.

As I've been saying, removing the import for this example, if I use this code which is just using a simple token from az cli right now, but will eventually be a service principal:
[code]
Gives me
[code]
So right now my `versions == set()`. Which I'm assuming means versions is empty.

If I take that exact snippit and paste it into the repl:
[

[2020-10-15 18:51] dan-slinky-ckpd opened #432 "Emit msg with Exceptions"
I would like to be able to emit a human readable message for Exceptions so it's easy to see why something has been excluded. Currently it's not very obvious.

<img width="517" alt="Screenshot 2020-10-15 at 17 08 27" src="https://user-images.githubusercontent.com/62966219/96173370-b4673e80-0f1f-11eb-8cd5-e1b355b10e38.png">

[2020-10-16 13:35] rubelw opened #433 "Add namespace to the output"
Would like to have namespace added to the output, so we can see the name of the policies which passed and failed.

[2020-10-16 16:00] rubelw commented on #433
See PR https://github.com/open-policy-agent/conftest/pull/434 to add namespace to output.

[2020-10-18 11:37] Blokje5 commented on #432
What version of Conftest are you using? The master branch already solves this issue by showing the exception triggered:

[code]

Maybe this is already enough to cover your use case, it would at least indicate from what rule the configuration object was excepted. Or do you have other use cases that require a bit more control over the output of the exceptions?

[2020-10-19 09:51] dan-slinky-ckpd commented on #432
@Blokje5 I am using `0.21.0`.

I have just tried `master` as suggested. Unfortunately this doesn't help me enough as it only works if you're testing files, but I'm using kustomize to build the manifests, for example:

[code]

I would like to be able to use `sprintf` to customize the a msg with string values.

[2020-10-19 20:16] Blokje5 commented on #433
Fixed by #434

[2020-10-19 20:16] #433 closed

[2020-10-19 20:22] Blokje5 commented on #432
Indeed extending the `exception` rule with a msg would make sense. I like the idea of having the msg be a form of documentation for the exception. Given how new the exceptions are, I don't mind creating a breaking change, moving from `exception[rules]` to `exception[[rules], msg]`.

[2020-10-20 12:37] dadav commented on #412
Hi, thx for thet info! This error is super anoying, do you know when the fixed version will be released?

[2020-11-02 13:08] Morriz opened #438 "universal rego: ability to use gatekeeper input statically"
Hi, I have a question. Will conftest someday be able to use the same input as is given to gatekeeper?

We fail to see why that would be impossible. All caching could be done by a statical analysis tool, since caching is just the accumulation of all manifests that once went over the wire. So that could be built up in a local cache as well.

Actually, none of our current policies use the caching fun

[2020-11-05 03:28] sudermanjr opened #439 "Panic on slice index on master"
On the current master (cdc8387b5805aac2bcd1434f62e20b4c8a172e27) I am running into a panic on file extension parsing.

[code]

The offending line seems to be here:

https://github.com/open-policy-agent/conftest/blob/cdc8387b5805aac2bcd1434f62e20b4c8a172e27/parser/parser.go#L100

If there is no file extension on the filepath, I believe this indexing causes the panic.

[2020-11-05 03:39] sudermanjr opened #441 "Add option to ignore parsing errors and skip file"
I am trying to use conftest for testing a large number of infrastructure as code repositories, and sometimes they contain malformed files. In this case, it's actually helm charts templates that end in `.yaml` that are causing the majority of my errors.

In these cases, I would like to be able to just ignore the parsing error and skip the file. Perhaps a `--continue-on-error` flag would be sufficie

[2020-11-05 03:46] sudermanjr commented on #427
I was running into this issue as well, and building off master really helped.

[2020-11-05 04:03] sudermanjr commented on #441
I just found the `--ignore` flag which has gotten me around my current issues. `--ignore .+/templates/.+\.y[a]?ml` does the trick to ignore helm chart templates entirely.

[2020-11-11 16:36] smcv commented on #264
Drive-by comment because I happened to see this referenced elsewhere (I have no idea what this piece of software is or what it does).

The specification is: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

The spec defines a default for $XDG_DATA_HOME, which is $HOME/.local/share. If you use the XDG basedir spec like that, then people will usually expect that dropping

[2020-11-13 02:03] anandg112 opened #442 "privileged container policy for kubernetes passing when it shouldn't"
I am running the following policy for a pod to disallow privileged container but test still passes

command that I run - ` conftest test pod.yaml --all-namespaces`
and output `1 test, 1 passed, 0 warnings, 0 failures, 0 exceptions`

The test should fail as pod is running a privileged container

[code]

[code]

[2020-11-13 08:52] garethr commented on #442
This looks like an issue with the Rego. You have:

[code]

Where as the document instead has

[code]

I think this should be:

[code]

[2020-11-13 18:42] anandg112 commented on #442
thanks, it's working now. I will close this issue.

[2020-11-13 18:42] #442 closed

[2020-11-14 09:15] #439 closed

[2020-11-15 18:27] freddd opened #445 "Support Nginx conf input"
Hi,

It would be awesome to be able to create rules and test nginx configs, as far as I can tell this is not supported today. I think https://github.com/aluttik/go-crossplane could be of use. It's referred to as a go-port of https://github.com/nginxinc/crossplane).

[2020-11-16 08:36] Blokje5 commented on #445
@freddd that sounds like a really good use case for conftest. Would you like to propose a PR?

[2020-11-16 08:46] freddd commented on #445
@Blokje5 Sure! There is only one thing that is a bit unclear to me, perhaps you could help me figure it out. When validating yaml, json and similar it's fairly easy to just match on the file extension being `.yaml` to know which parser to send it to. However with nginx configs the actual file could be called whatever really, the standard is `nginx.conf` though. Should we just assume that all `*.co

[2020-11-16 11:57] Blokje5 commented on #445
Hmm good question, I think it is best in this case to use an explicit parser, don't assume anything about the `.conf` files. For example, Apache & Syslog also use the `.conf` extension, so it would be dangerous to assume the nginx format there. But conftest still supports a method in which a parser can be explicitly chosen: https://www.conftest.dev/options/#-parser.

[2020-11-17 17:54] Blokje5 commented on #441
I will close this issue as the `--ignore` flag seems to solve the problem.

[2020-11-17 17:54] #441 closed

[2020-11-17 17:58] Blokje5 commented on #445
Just updating with a discussion from Slack:

Currently the `go-crossplane` library assumes that the `nginx` conf files are passed via a file path. This does not work with `conftest` as we also support passing files via `stdin`. There is an issue for the library maintainers that can be  followed here: https://github.com/aluttik/go-crossplane/issues/9 .

[2020-11-19 22:15] jeff-cook opened #447 "How to find the line number"
I think understand not updating the code to support outputting a line number. #177

Would it be possible to include the actual found item in the output?
In a way that could be used by another tool to search for it?

My example...

[code]

`conftest test Dockerfile -o json`

[code]

If there was a field with each `msg` that could be used to search the file I could find the line number myself.

The

[2020-11-19 22:21] jeff-cook commented on #447
I just realized if I updated all the rules I could do it with just the msg field.

[2020-11-20 19:35] Blokje5 opened #449 "Combined input leads to duplicate test outputs when input is symmetrical"
When using combined input with symmetrical data, the policy will fail twice leading to duplicate error messages and an incorrect policy count:

[code]
In this case the policy fails twice:  once when checking file1.yaml to file2.yaml and once when comparing file2.yaml to file1.yaml.

A gist to reproduce this issue [can be found here](https://gist.github.com/Blokje5/65806b1ce16fb1a0f2c49417074b643c)

[2020-11-22 06:12] soharaki commented on #75
Fix the url link: Now(2020/11/22) available in the catalog https://github.com/tektoncd/catalog/tree/master/task/conftest

[2020-11-24 18:13] artis3n opened #451 "Custom-named Dockerfile can't be parsed on Conftest 0.22.0"
We have some test cases alongside our rego policies. For example, for a policy that requires all Dockerfiles to pull from our private registry, we have a "failing" test case in the directory `docker/fail_docker_not_using_registry.Dockerfile` with the content:

[code]

Conftest 0.21.0 can successfully parse this file and fail it as violating the policy.

In Conftest 0.22.0, we get the following err

[2020-11-24 19:49] shteou commented on #451
It looks like `foo.dockerfile` works, so an issue of case sensitivity when creating a parser from the extension.
I've submitted a PR which will cater for the following:

- `Dockerfile`
- `foo.Dockerfile`
- `foo.dockerfile`

But not with arbitrary casing (e.g. `DoCkErFiLe` or `foo.DoCkErFiLe`), nor the bare `dockerfile`.

[2020-11-24 21:02] artis3n commented on #451
My specific file uses underscores - `fail_docker_not_using_registry.Dockerfile`. Do we expect that underscores should be supported?

[2020-11-24 21:07] artis3n commented on #451
Your PR should solve my case so I'm not worried about my previous question, 👍

[2020-11-25 11:54] #451 closed

[2020-11-25 15:16] ac-obair opened #453 "can't get exception[rules] to work as desired"
Trying to get conftest `exception[rules]` working on more complex policies is proving to be more challenging than it should be. This is likely down to me misunderstanding the results so I have a clear simplified example of what I mean below.

This example will have 5 exceptions because b is 1 all the time, and the exception applies regardless of anything else:
[code]
This gives me
[code]
Changing

[2020-11-27 10:49] szymonpk opened #454 "--trace does not work with 0.22.0 when passing multiple yamls"
As in the title, `--trace` does not work when I pass a YAML with multiple files separated with `---`. It is working fine with the previous version `0.21.0`. If it is intended, sorry for the report.

Test case:

[code]

My policy:

[code]

`0.22.0` run

[code]

`0.21.0` run

[code]
`0.22.0` works fine if split YAMLs into separate files.

[2020-11-30 14:45] robertgates55 opened #455 "conftest test - --policy cannot be combined with --update"
With policies stored locally in a directory, I can specify a different folder using the `--policy` flag. Eg to run the `blah2.rego` rego with the below:
[code]
I can run `conftest test --policy other_folder thing.yaml`

If I bundle and push this whole dir to an oci repo:
[code]

I was hoping that I could then use this bundle like:
[code]

However, it seems to run _all_ tests in the folder - eg `bl

[2020-12-01 22:44] artis3n opened #456 "Trace outputs nothing on 0.22.0 in all scenarios"
This is similar to #454 except I have not been able to run `--trace` in any situation on conftest 0.22.0. Pulling down the 0.21.0 artifact, all of my `--trace` commands work as expected. Running the same commands with conftest 0.22.0 return no stdout or stderr, although the exit code looks to still be accurate in terms of whether the tests fail or pass.

Command that works in 0.21.0, does not work

[2020-12-11 10:42] joesan opened #462 "Conftest Exceptions Does Not Work"
I have the following rule:

[code]

I'm not seeing that this exception is working properly. I could still see my test fails:

[code]

[2020-12-17 22:26] jcmcken commented on #258
@anderseknert @Blokje5 Can you provide more information about how this is supposed to work?

I use rules named ``deny_*`` and I do not see any useful details about the successes. For example, in "table" format, the columns I see for successes are:

* ``RESULT``, with contents ``success``
* ``FILE``, with the file path of the config file under test
* ``NAMESPACE``, the exact string I pass to ``--na

[2020-12-17 22:52] anderseknert commented on #258
@jcmcken not sure what you consider useful details here? All I wanted was for successful tests to be printed _at all_, which they seem to be in your example.

[2020-12-17 23:06] jcmcken commented on #258
@anderseknert  Thanks, it wasn't clear exactly what you were expecting vs outcome.

For me, I'd like to treat each policy rule as a named test and output the tuple (``<name of test>``, ``<success|failure>``, ``<details>``, ``<test target>``) -- in some kind of serialized format ideally -- similar to unit testing tools in other programming languages.

For example, I have CI tooling that can ingest

[2020-12-17 23:14] anderseknert commented on #258
Ah, OK. What kind of `details´ would a successful test report? Logs?

[2020-12-18 00:37] jcmcken commented on #258
``details`` would not be provided for a successful test, I'm just giving a general description. A successful test would just have the rule name ``deny_something_from_happening``. (I mean, if there's a way to give more metadata, that might be useful too).

[2020-12-20 15:14] shteou commented on #456
Hey @artis3n . I'm struggling to verify this with 0.22.0 (though there's various weird flag combination behaviours I'll raise elsewhere).

I tried to reproduce with the following setup:
https://gist.github.com/shteou/12dc6f84b1c026de3e43e9604607efe3
In this case I get the trace output, although the actual pass/fail results are hidden, which doesn't seem to mirror the behaviour in the screenshot.

[2020-12-21 22:14] artis3n commented on #456
Yeah - here's what I got. I get correct error codes based on whether the policy passes, but no trace output

https://gist.github.com/artis3n/43d9695f6c8cb4d263a167b68fe89328

[2020-12-23 08:21] shteou commented on #456
Ah, excellent. I can reproduce now.
It looks like it may be somehow specific to Dockerfiles (or at least doesn't manifest itself with a yaml input). Cheers!

[2020-12-23 16:57] jaspervdj-luminal opened #464 "Negative amount of passed tests"
I'm seeing an issue where the number of passed tests is negative if
a policy returns more than one failure.  This using conftest at the
latest master, 9366d99990c3eeed8daa1e32206e8256d3162ef3.

This is a minimal example that reproduces the problem:

[code]

[code]

[code]

[2020-12-27 01:52] shteou commented on #464
Interesting, I wonder what the expected behaviour is here.

It's possible for rules to emit multiple results, but I wonder if it's not possible to know how many logical successes to which this would correlate. It doesn't seem like this information would be available.

The current behaviour seems to assume each rule definition will emit only a single failure, but that there can be multiple distinct

[2021-01-02 15:30] #454 closed

[2021-01-02 15:30] #456 closed

[2021-01-02 15:50] Blokje5 commented on #464
I think there is an issue in what is considered a test case within conftest. A failure in this case indicates that the input fails that specific rule, while the number of tests actually counts the number of rego rules (or number of tests): a single partially defined deny rule split into multiple definitions counts as a single rule.

In this case the input would be 3 documents (e.g. 3 yaml files),

[2021-01-02 15:57] Blokje5 commented on #455
Conftest at the moment always assumes there is a single policy directory. The `--update` flag will download all policies into the specified policy directory (so the directory specified with `--policy`). Adding in another specific folder for the inline update comment would probably require either an additional flag (e.g. `--update-dir`) or parsing the input for optional additional information (e.g.

[2021-01-06 16:24] Blokje5 commented on #464
Ok after a bit of a deep dive into the issue:

## The problem

Rego evaluation returns the following potential results based on whether the rule passes/fails:
1. Empty result if success (even if there are multiple partial definitions of the same rule, e.g. multiple `deny` rules)
2. Results equal to the number of failures/warnings (e.g. a single failure results, even if there are multiple partial d

[2021-01-26 21:47] nairb774 opened #473 "Docker image for v0.23.0 release missing"
It looks like releasing the v0.23.0 docker image got missed when the latest release was done: https://hub.docker.com/r/openpolicyagent/conftest/tags

[2021-01-26 21:57] jpreese commented on #473
We had a small hiccup with the credentials used to push to DockerHub.

@tsandall if the original credentials that were set up for us are no longer valid for us, should we just issue a new set? Thoughts?

[2021-01-26 22:41] tsandall commented on #473
@jpreese I just looked at the openpolicyagent/conftest DockerHub repo and noticed that unlike the gatekeeper and opa repos, there was no permission for the `openpolicyagentopaci` user in the conftest repo (it should minimally have read/write so that it can push). I've added the permission so maybe it will work now...can you kick the build and see if it works?

![image](https://user-images.githubus

[2021-01-26 23:04] jpreese commented on #473
Brilliant! That was it. `v0.23.0` has been pushed. Thanks @tsandall 🎉

[2021-01-27 14:00] rawc0der opened #474 "Feature to allow reading policies from ConstraintTemplate files"
I would like to propose a feature for **Conftest** which allows ingestion of policy files from `ConstraintTemplate` resources.
[code]
Well maybe not exactly `--policy-from-constraint-templates`, but hear me out..
Implementing this will allow writing rego definitions that can be used Universally in both **Conftest** and **Gatekeeper** contexts.
By using the Konstraint library you can obtain `Constr

[2021-01-27 14:21] BoOgatti opened #475 "conftest pull not working with private google registry"
Looks like google's registry (gcr.io | region_name-docker.pkg.dev) not supported by conftest for pulling policies but google itself supporting OCI format [1]

- push
[code]
- pull
[code]
---
[code]
[1] - https://cloud.google.com/container-registry/docs/image-formats

[2021-01-27 20:16] jdolitsky commented on #475
@BoOgatti - try prefixing with `oci://`

[2021-01-28 12:43] BoOgatti commented on #475
Doh! It works, thx a lot. I've missed this [information in documentation](https://www.conftest.dev/sharing/)

[2021-01-28 12:43] #475 closed

[2021-01-28 12:46] remcowesterhoud opened #476 "Verify cannot properly deal with [msg] in deny[msg]"
**Repro:**
The policy I've got:
[code]
I want to create a test that guarantees Apple is getting denied. I can do that with:
[code]
This test succeeds without problem

Now I want to create a test that guarantees Banana is not getting denied by this policy. I wrote a second test for this:
[code]
When I try to run the tests with `conftest verify` it results in a compilation error:
`Error: running ver

[2021-01-29 15:24] carlossg commented on #427
FWIW This is fixed in 0.23.0

[2021-01-29 20:06] nairb774 commented on #473
Thanks!

[2021-01-29 20:06] #473 closed

[2021-01-31 18:34] gecube opened #477 "Dockerfile - add multistage support"
Hello!

It looks like that the support of multistage Dockerfile's in conftest is absent. What do I mean?

For example, let's take the next Dockerfile:

[code]

It will be parsed as

[code]

If there is multiple FROM directive in the source Dockerfile, there is no way to detect to what FROM the next instructions belong. Or I found the necessity to build the rule which will evaluate the last FROM ag

[2021-02-01 13:54] macox commented on #477
Incase it helps, you could use some something like:
[code]
To gather all the froms in to an array. A count on this would when give you the last stage

[2021-02-01 14:00] macox commented on #476
Could you try
[code]
and
[code]

The first checks that msg is "Apple is not allowed!", i.e apple is denied.
The second is essentially checking that msg is empty, i.e banana is not denied

[2021-02-01 14:05] zoemac11 opened #478 "Update to 0.23"
When I've updated to version 0.23 I can no long have multiple test files within my policy.

Trying to do a push to ACR and get the following error

[code]

Any suggestions how to fix this without delete those files? Its nice to have a couple of file to test against. This was working in version 0.21

[2021-02-01 14:29] gecube commented on #477
@macox thanks, I used the same approach :-) But it is not scalable to other instruction (i.e. to understand that particular instruction XXX belongs to stage YYY)

[2021-02-01 17:56] anderseknert opened #479 "Count skipped tests with "conftest verify""
With the next release of OPA tests comes the option to skip tests by prefixing them `todo_test_`. We should include handling of that in conftest too. I was going to submit a PR but realized it's not an easy thing to depend on an unreleased version, so just adding this issue in the meantime as a reminder :)

[2021-02-02 07:51] remcowesterhoud commented on #476
Unfortunately that doesn't work. The banana test for your example will fail.
[code]

[2021-02-04 02:20] spencergilbert opened #480 "Version command broken"
It doesn't look like docker builds aren't correctly populating the version variables

[code]

[2021-02-13 12:25] oke-py opened #485 "doc: a list may not be rendered intentionally"
https://www.conftest.dev/options/#-fail-on-warn

The 2nd paragraph is supposed to include a list as shown [here](https://github.com/open-policy-agent/conftest/blob/master/docs/options.md#--fail-on-warn).

<img width="723" alt="fail-or-warn" src="https://user-images.githubusercontent.com/4710215/107849864-6452a700-6e41-11eb-900e-c7447029c7ca.png">

[code]

[2021-02-13 12:49] oke-py opened #486 "can't install a plugin following the document"
I can't install the Kubernetes Conftest plugin following the [document](https://www.conftest.dev/plugins/).

[code]

environment
- macOS Big Sur 11.2
- MacBook Air (M1, 2020)
- `conftest --version`

      Version: 0.23.0
      Commit: 6190ded
      Date: 2021-01-09T10:26:15Z

[2021-02-14 16:13] Blokje5 commented on #478
Thanks for reporting the issue @zoemac11. Would you be able to provide a reproducible example? It is unclear for me from your description where the issue lies.

[2021-02-17 13:18] Biswajee opened #490 "conftest test does not output all policy names"
Hi,

Currently, `conftest test resultDir --output table --all-namespaces` results in:

[code]

Requesting for a feature that will enable us visualize successful policies as well in the message column.
And, something similar for other `--output` implementations as well.

Reference link to discussion: [here](https://openpolicyagent.slack.com/archives/CLE8VEKGT/p1613485561036900).

[2021-02-20 20:44] nhung617 opened #491 "support scanning Dockerfiles with extensions in name?"
Hello,

Would it be possible to have Conftest ignore extensions in Dockerfile names?

I have a Dockerfile called `Dockerfile.vouch` that triggered the following error with Conftest 0.22.0:
`Error: running test: get configurations: get configurations: new parser: new: unknown parser: vouch`

Unfortunately I'm running Conftest on files from multiple teams in my org so it may not be feasible to ask e

[2021-02-21 08:30] garethr commented on #491
You can force the parser explicitly with `--parser dockerfile` https://www.conftest.dev/options/#-parser

We could also consider setting the parser automatically for `Dockerfile.*` as well https://github.com/open-policy-agent/conftest/blob/master/parser/parser.go#L96-L98.

[2021-02-21 18:09] jpreese commented on #491
I think checking for both cases makes sense to do, opened #492 for this.

[2021-02-21 18:42] jpreese commented on #486
Looks like it may just be documentation foul. Opened PR to update the documentation to a command that worked for me. The most notable change was adding `//` for including the subdirectory -- the `https` go-getter by default will download the full HTML of the target (in this case `kubectl`, rather than the backing `git` directory).

The following command should allow you to install the kubectl plug

[2021-02-21 18:43] jpreese commented on #480
This was resolved in https://github.com/open-policy-agent/conftest/pull/488 and will be included in the next release. Thanks for reporting this!

[2021-02-21 18:43] #480 closed

[2021-02-21 18:46] #427 closed

[2021-02-21 19:18] jpreese commented on #264
XDG support was added in `0.22.0` of Conftest

[2021-02-21 19:18] #264 closed

[2021-02-21 20:04] nhung617 commented on #491
awesome, thanks for the suggestion @garethahealy and the PR @jpreese! I really appreciate the quick response.

[2021-02-21 21:48] #364 closed

[2021-02-21 21:49] jpreese commented on #266
Should be resolved now that Conftest uses the upstream hcl2json package and the changes made there have addressed this.

[2021-02-21 21:49] #266 closed

[2021-02-21 21:51] #412 closed

[2021-02-21 21:54] jpreese commented on #419
Updated our `0.22.0` release to include a note about using the openpolicyagent Docker image from DockerHub.

[2021-02-21 21:54] #419 closed

[2021-02-21 21:58] jpreese commented on #297
Since alternatives exist for this situation, going to close this for the time being. Feel free to create another issue if anything suggested here does not meet all of your needs.

[2021-02-21 21:58] #297 closed

[2021-02-21 22:16] jpreese commented on #476
@remcowesterhoud if I understand the problem correctly, this is how Rego itself behaves and not a specific issue with Conftest.

When `deny_apple` is called, the result is returning (setting) the `msg` value. If `msg` gets set after the call to `deny_apply`, we know that the rule failed.

So you should be able to do something like:

[code]

Alternatively, I've found keeping the top level `deny/vio

[2021-02-22 15:23] artis3n commented on #491
Thanks, both! @garethr , in this case we are running Conftest against several file formats in the same repo (dockerfile, yaml, hcl, etc.) so we can't specify a specific parser. Although for general use, that would be a fix.

[2021-02-27 16:28] jpreese commented on #490
@Biswajee could you provide a small example of a Rego policy and the result you would expect to see when it succeeds?

Theres been some discussion on this in the past, but the success messages always seemed to be noisy since the only thing we'd be able to report on is the name of the rule that succeeded. For most, the rules are just `deny` with a message. However, if your rule names are a bit more

[2021-02-27 16:39] #485 closed

[2021-02-27 16:52] jpreese commented on #478
I think there was a bug in an earlier version of Conftest that wouldn't load _all_ found data files (files with .json, .yml, or .yaml) which is now resolved.

When I've seen this error previously, it was because there were multiple test files, as described here, that conflicted with one another. Behind the scenes, all of the data files get merged together so if there's a conflict when creating the

[2021-03-02 21:34] divyha opened #496 "Conftest failed to get readiness probe input in K8s Yaml"
[code]
Expectations: "Policy should. check whether Deployment has Readiness probe or not."

Actions taken other than above rego file:
tried with input.spec.template.spec.containers[_].readinessProbe

readinessProbe has an object instead of direct value tried it with nested value.

Please let me know am i doing something wrong.

Sample deployment.yaml
[code]

Note: Removed sensitive values from YAM

[2021-03-02 22:06] danielpacak opened #497 "The --policy directory and Kubernetes ConfigMaps"
I was trying to run Conftest as a K8s Job with the official Docker image openpolicyagent/conftest:v0.23.0 and two Volumes of type configMap to provide policy scripts and the configuration file. However, I ended up with a similar error reported in https://github.com/open-policy-agent/opa/issues/782

*Is it possible in Conftest to disable traversing hidden directories within the policy directory? Ot

[2021-03-03 07:51] Biswajee commented on #490
@jpreese Thanks for picking up the request. I would wish to have the name of policy file being returned as success message since we generally have descriptive filenames and policies defined in them. Consider the example policy:

`filename: policy/enforce-labels.rego`

[code]
I can imagine `conftest test resultDir --output table --all-namespaces` with some flag to print successful policy file names

[2021-03-03 08:37] #478 closed

[2021-03-03 14:10] shibataka000 opened #498 "Policies which treat combined manifests fail in conftest v0.22.0 or later"
## What happened:
Some policies which treat combined manifests fail in conftest v0.22.0 or later.

## How to reproduce it:
For example, please concider following rego policy.

[code]

Rego unit tests return success.

[code]

[code]

But test to following manifest return failure.

[code]

[code]

## What I expected to happen:
I expect that above test return success.

## Additional information:
In c

[2021-03-03 17:26] danielpacak commented on #497
Never mind this one. I found the solution by tweaking my K8s descriptors. Anyway the code that loads policies from the specified directory is part of the opa module. Nothing to do with Conftest. Cheers and happy [Rego]luating 🤓

[2021-03-03 17:26] #497 closed

[2021-03-07 18:30] #477 closed

[2021-03-08 14:13] lukasmrtvy opened #500 "feat: Parse image parts from Dockerfile"
Would be nice to be able to parse and reference image parts from Dockerfile.

Something like: `[registry_hostname[:port]/][user_name/](repository_name[:version_tag])`

Thanks

[2021-03-15 15:19] fadao23 commented on #464
Hello, @Blokje5  i'm a bit confused with this issue, I just make some tests with previous versions, and the 0.21.0 have the expected behaviour :

[code]

[code]

[code]

[code]

So, what happen between 0.21.0 and 0.22.0 ?

[2021-03-15 20:02] artis3n opened #504 "Consider .yamllint file extension => yaml"
I ran `conftest` on a repo containing a `.yamllint` file and received the error: `running test: get configurations: get parser: unknown filetype given: yamllint`. Which makes sense, and I didn't have any policies that are looking for yamllint rules.

However, the format of the file is regular YAML, so conftest _should_ parse it correctly and not throw an error.

[2021-03-16 07:42] camaeel opened #505 "conftest push to OCI doesn't work"
In file /tmp/1/policy/1.rego I created simple policy:
[code]

Now when I try to run `conftest push oci://example.com/asdadasd:latest` in `/tmp/1` it tries to send http request to https://oci/... . This doesn't work with any domain I tried.

[code]

[2021-03-17 14:47] jdolitsky commented on #505
@camaeel - please try dropping the `oci://` prefix: https://www.conftest.dev/sharing/

[2021-03-19 13:56] Blokje5 commented on #505
Yeah @jdolitsky is right. We at the moment only support pushing to OCI registries, hence no need to add a prefix. But for pulling policies we support HTTP/Git/OCI/etc. so we need the prefix to separate between the different mechanisms

[2021-03-19 16:32] jdolitsky commented on #505
@Blokje5 - this the 2nd time ive seen somebody run into this. If OCI is the only transport right now, maybe make sense to trim prefix `oci://`?

[2021-03-19 21:06] artis3n commented on #427
Can confirm that moving from 0.21.0 to 0.23.0 allows 5067 yaml files to be scanned without issue :)
Well...it takes like a minute but no more errors.

[2021-03-21 18:19] jpreese commented on #504
Thanks for reporting this @artis3n!

What command are you running to get this error? Conftest should just ignore any filetype it does not recognize. Alternatively you can force a parser with `--parser yaml`

[2021-03-21 18:20] #486 closed

[2021-03-21 18:23] jpreese commented on #505
Makes sense to me

[2021-03-21 18:49] #476 closed

[2021-03-21 18:57] jpreese commented on #491
To be resolved in `0.24.0`

[2021-03-21 18:57] #491 closed

[2021-03-21 19:01] jpreese commented on #479
I just bumped the opa dependency to `0.27.1`. Since we just use the test runner provided by OPA, we should just get this for free with the import.

As a sanity check I did try `conftest verify` against a set of policies and policy tests with and without `todo_` and the test count does go down when adding `todo_`

[2021-03-21 20:31] artis3n commented on #504
Hm, didn't realize conftest is supposed to ignore files with odd extensions.

I am running conftest in an AWS Lambda function after collecting a subset of files from a git repo. Collecting any files matching file extensions I want to care about (namely, .yml, .yaml, .tf, Dockerfile, etc. along the same vein).

I'm picking up `.yamllint` as it matches `.yaml`. Notably, I also saw issues with `.yml.

[2021-03-21 20:50] jpreese commented on #504
Oh, I see. This would be expected. The skipping files behavior is for directories.

If you pass in a specific file (e.g. /absolute/path/to/myfile.yamllint) it will error because you're giving it a specific file to use. You would have to do `conftest test /abs/path/to/myfile.yamllint --parser yaml`

That said if all of your files are expected to be yaml, just passing `--parser yaml` should work for

[2021-03-21 22:22] jpreese commented on #447
Closing as there appears to be a workaround

[2021-03-21 22:22] #447 closed

[2021-03-21 22:43] jpreese commented on #496
@divyha I think you just need to rewrite your policy. Try:

[code]

[2021-03-21 22:56] artis3n commented on #504
What are your thoughts on adding `.yamllint` as a parseable option in conftest? I can't really think of a rego policy I'd want to write on that as a linter config file, but it is standard yaml so the AST is already there 🤷‍♂️

[2021-03-21 23:06] jpreese commented on #504
The downside becomes that conftest will then load in more files than it needs to, and potentially throw policy errors for files that users didnt want to actually check. i.e. if a .yamllint config file somehow caused a policy violation with the loaded rules -- users would then have to exclude it (problem here is we're trying to include it)

If you're saying that you werent even trying to run policy

[2021-03-22 00:08] artis3n commented on #504
Makes sense to me!

[2021-03-22 00:09] #504 closed

[2021-03-22 10:09] anderseknert commented on #479
Nice! Yeah only thing needed should be to add this to the various reporter formats then. I can work on that this week unless someone beats me to it :)

[2021-03-22 19:27] artis3n opened #511 "Parse .tfvars files as HCL"
Conftest doesn't like the `.tfvars` file extension. It would be helpful to be able to write policies against org-wide standards on infrastructure as code as they would relate to variables. Could we include `.tfvars` as valid HCL?

Going to look into the [pre-processor plugin](https://github.com/open-policy-agent/conftest/issues/226) support to generate a plan to scan which was on my plate anyway,

[2021-03-24 16:49] jpreese commented on #511
I don't see why we couldn't include `.tfvars` as a valid file extension. If the `.tfvars` file is just HCL couldn't we just add it to the extensions list? https://github.com/open-policy-agent/conftest/blob/master/parser/parser.go#L64

[2021-03-24 19:01] artis3n commented on #511
I need to get more familiar with how this project's code is structured so I can more effectively contribute. I don't see where file extensions are defined around the code you linked, however.

[2021-03-24 19:02] artis3n commented on #511
Never mind, I see it :)

[2021-03-24 19:56] #511 closed

[2021-03-26 16:09] jdolitsky commented on #505
I dont have much of an opinion on this @jpreese . In some cases, oras library consumers may wish to make the underlying distribution mechanism (OCI) opaque to the user

[2021-03-27 02:25] jpreese commented on #65
I've run into this a few time myself and feel it would be a good addition. We already have all of the file names and their paths when we search for files to run tests against. I'll see if I can put something together.

[2021-03-30 21:33] artis3n opened #514 "Conftest fails on empty Dockerfile"
I am running conftest against a repo with various files that will use various parsers in conftest. On one repo, I hit a team that has a Dockerfile with commented lines - so nothing actually in the file beyond comments. They have this for documentation purposes.

Conftest errors on scanning an empty Dockerfile. Am assuming that is returning some error from the moby parser: https://github.com/open-p

[2021-04-01 22:16] MFAshby opened #516 "ARM64 support"
Hi!

I'm attempting to run [garden](garden.io) on my low-power ARM64 based laptop. That software depends on conftest, and unfortunately there are no arm64 builds of conftest available to download!

Since conftest is written in go, it should be relatively simple to cross-compile. See other projects for inspiration e.g. [faas-cli](https://github.com/openfaas/faas-cli/)

[2021-04-02 02:09] artis3n commented on #514
This seems like a dumb request, closing.

[2021-04-02 02:09] #514 closed

[2021-04-02 10:18] dudicoco opened #518 "Add coverage support to verify command"
Hi,

The `opa test` command has a `--coverage` flag which outputs the tests coverage.

Can this be added to `conftest verify`?

It would be great if it would be possible to make it exit with exit code 1 if coverage is not 100.

Thanks

[2021-04-05 23:08] jpreese commented on #516
@MFAshby we do release a few ARM64 options which can be seen under the `assets` section here: https://github.com/open-policy-agent/conftest/releases/tag/v0.23.0

Is there a particular OS/ARCH that you're looking for?

[2021-04-05 23:10] jpreese commented on #505
For the time being I don't think it hurts anything to strip it on the Conftest side of things. Just wanted to double check if this is something that could be fixed purley within the ORAS code base by allowing the `oci://` prefix.

[2021-04-06 05:47] MFAshby commented on #516
Arm64 Linux was exactly what I was after. I have no idea how I missed it's presence in the download list there. Sorry for the noise

[2021-04-06 05:47] #516 closed

[2021-04-06 11:05] dulltz opened #520 "How to suppress warning logs when executing conftest push/pull with OCI registries?"
I tried storing Rego files into [Amazon ECR](https://aws.amazon.com/ecr/).
ECR is one of the OCI registries, so I succeeded in `conftest pull/push` with ECR.

However, it outputs warning logs for each file, like this:

[code]

Do you know how to resolve this warning?

It seems that there are some cases where the log appears. ([search results](https://github.com/open-policy-agent/conftest/search?q=

[2021-04-08 14:30] jpreese commented on #520
Thanks for reporting this @dulltz! I think these make sense to suppress. I've added a PR to resolve this at #521

[2021-04-08 14:35] jpreese commented on #505
@camaeel @jdolitsky this should be resolved via https://github.com/open-policy-agent/conftest/pull/521

[2021-04-09 06:41] danielpacak commented on #464
I bumped into the same issue and negative pass counts are still there in v0.23.0

[2021-04-09 12:42] #496 closed

[2021-04-09 12:46] jpreese commented on #479
@anderseknert I'm eyeballing a `v0.24.0` release sometime in the near future* Just giving a heads up in case you want to tackle this before then. I can take a look as well if you're bogged down with other shenanigans, just let me know!

*near future subject to be any date.. really..*

[2021-04-09 13:10] anderseknert commented on #479
Oh! I have indeed been busy with other commitments, but I'd like to try and tackle this tonight. If I don't make it I'll let you know so that you may take over. Thanks for the heads up!

[2021-04-11 18:52] anderseknert commented on #479
Finally got around to it @jpreese :) Thanks for the reminder!

[2021-04-11 20:13] anderseknert opened #524 "docs: conftest verify not mentioned in docs"
The docs should provide a short description of `conftest verify` and ideally a few examples.

[2021-04-12 07:17] DBX12 commented on #524
I second that. While `conftest verify --help` tells you to read about rego tests [here](https://www.openpolicyagent.org/docs/latest/policy-testing/), you get little information on how to run it correctly.
It seems like the `--policy` parameter is mandatory (as in `conftest test`). For me worked
[code]

[2021-04-13 17:26] #479 closed

[2021-04-13 18:45] #520 closed

[2021-04-13 19:33] #505 closed

[2021-04-13 19:38] jpreese commented on #455
Closing due to inactivity -- @robertgates55 if this is still an issue for you please re-open this issue or feel free to create another one if your scenario has changed.

[2021-04-13 19:38] #455 closed

[2021-04-13 19:44] jpreese commented on #462
@joesan is this still an issue for you? I added your exception to the `examples/kubernetes/deny.rego` policy here in this repository and changed the name of the deployment in the exception to be `hello-kubernetes` and I am seeing the exception in the output:

[code]

[2021-04-13 20:05] jpreese commented on #438
Closing due to inactivity and appears to be a duplicate of #474. My thoughts on this issue is that this would be a good candidate for a plugin, rather than natively implemented within Conftest.

[2021-04-13 20:05] #438 closed

[2021-04-13 22:21] jpreese commented on #464
All, I have a proposed fix available here: https://github.com/open-policy-agent/conftest/pull/527

It returns the expected results for all of the examples I saw in this thread and passes our current acceptance tests so we should be good.

[2021-04-14 01:52] jpreese commented on #421
@06kellyjac sorry for the delay, reading through some of the older issues. I think this should be possible today. Looking through your examples, and then the result of `conftest parse` today -- the Docker parser now has a `stage` field which exposes an incrementing value. Stage 0 being base, Stage 1 being the next etc:

[code]

With that you would write a policy that changes based on the stage val

[2021-04-14 01:57] #409 closed

[2021-04-14 05:14] joesan commented on #462
Let me check that and report later! I raised this 4 months ago and I'm not working on that project at the moment, but I can check that again.

[2021-04-14 10:49] mykter opened #528 "Support OPA's jsonschema feature for yaml/json inputs"
It would be nice to have an equivalent of the `--schema` option that `opa eval` now supports, when parsing yaml or json configurations.

[2021-04-14 13:34] jpreese opened #529 "Add command to format rego files"
Add the ability to format Rego files through Conftest so users do not have to download/use the OPA binary just for formatting.

OPA exposes a public package to do this: https://github.com/open-policy-agent/opa/blob/master/format/format.go

[2021-04-14 13:35] #464 closed

[2021-04-14 15:41] jpreese commented on #462
No worries, just wanted to make sure this was resolved for you before closing.

[2021-04-14 16:29] 06kellyjac commented on #421
The stage field will be helpful for targeting a specific stage to ignore but if I want the comments to hold ignore rules like linters such as hadolint, shellcheck, eslint, markdown-lint etc

[code]

If the conftest team is still anti including comments in the parse results I'll need to find an alternative method

[2021-04-14 19:34] jpreese commented on #490
We may need to provide the option to display filename and/or policy name. Showing the filename makes sense in this scenario, but other users may have less files but more verbose rule names.

[2021-04-14 19:49] jpreese commented on #390
Resolved via #530

[2021-04-14 19:49] #390 closed

[2021-04-14 19:51] jpreese commented on #500
@lukasmrtvy do you have more information about your use case? I don't quite follow what you're trying to accomplish

[2021-04-14 20:46] jpreese opened #533 "Add Conftest to homebrew and scoop core"
Add Conftest to homebrew core and scoop main

https://github.com/instrumenta/homebrew-instrumenta --> https://github.com/Homebrew/homebrew-core

https://github.com/instrumenta/scoop-instrumenta --> https://github.com/ScoopInstaller/Main

[2021-04-14 20:59] jpreese commented on #518
Not opposed to the idea of returning a non-zero error code based on coverage, but would lean more towards something along the lines of:

[code]

Where 80 represents the minimum percentage

[2021-04-14 21:55] jpreese commented on #421
Not opposed to the idea, just from previous comments it seemed like you were trying to ignore unpinned versions from the base layer which would now be possible with the stage field.

[2021-04-14 22:25] jpreese commented on #421
@06kellyjac looks like they _do_ expose a `PrevComments` slice which we can piggyback off of.

Given:
[code]

Results in:
[code]

https://github.com/open-policy-agent/conftest/pull/534

[2021-04-15 10:33] 06kellyjac commented on #421
Awesome! If you're all happy to add that it'd be great for the ignore thing I want to implement & some of the comment policies I've been thinking of.

What happens for comments on the same line? I guess I can just build the PR and give it a go

[code]

[2021-04-15 12:10] mykter opened #535 "Verify --data differs from documented behaviour and opa behaviour"
The docs [say](https://github.com/open-policy-agent/conftest/blob/master/internal/commands/verify.go#L37) that data in a folder "exceptions/a.json" will be exposed as "data.exceptions".

The [example](https://github.com/open-policy-agent/conftest/tree/master/examples/data), which is the [tested](https://github.com/open-policy-agent/conftest/blob/master/acceptance.bats#L248) behaviour, shows that i

[2021-04-15 13:28] jpreese commented on #421
I don't believe that would be valid. To my knowledge comments must be on their own line.

[2021-04-15 14:28] 06kellyjac commented on #421
Yeah you're right, I thought I'd double check

[2021-04-15 14:39] jpreese commented on #535
@mykter I think the root issue here is that the test (`examples/data/exclusions/policy/base_test.rego`) is _always_ using port `22`. It does not take into consideration any loaded data so it will always pass.

[2021-04-15 15:15] mykter commented on #535
(just in case it got lost in the discussion of the test: the important part of this report is the incorrect behaviour of `--data`)

[2021-04-15 15:34] jpreese commented on #535
I added #536 to hopefully clarify the behavior.

At the moment the folder itself doesn't come into play, it's more on the structure of the data. If this differs from OPA behavior it would probably be worth looking into.

[2021-04-15 16:07] jpreese commented on #421
Resolved via #534

[2021-04-15 16:07] #421 closed

[2021-04-15 21:33] jpreese commented on #529
Resolved via #537

[2021-04-15 21:33] #529 closed

[2021-04-15 21:58] jpreese opened #538 "Migrate to GitHub Actions"
For ease of use when working with pipelines and to be consistent across the OPA organization we should move away from CircleCI in favor of GitHub Actions.

[2021-04-16 15:21] jpreese commented on #538
Pull Requests and Releases have been updated.

[2021-04-16 15:21] #538 closed

[2021-04-16 17:13] jpreese commented on #533
Binaries have been added

[2021-04-16 17:13] #533 closed

[2021-04-17 18:55] jpreese commented on #474
This does come up from time to time, and the feeling at the moment is that this would be best handled by a plugin. Would that solve your issue?

[2021-04-18 22:50] #524 closed

[2021-04-19 13:28] mykter commented on #535
Here's a fairly minimal example of the difference in behaviour of opa's bundles vs conftest's --data.

[code]
[code]
[code]

[2021-04-19 15:43] jpreese commented on #535
To represent what you're trying to do in Conftest, it would be: `conftest test a/dir/data.json -p a`

Typically you'll pass in the configuration that you're trying to test (data.json) and tell conftest the policy directory. With `opa eval` you're telling OPA to evaluate `data.main.deny` which conftest does by default.

[2021-04-19 15:46] mykter commented on #535
Ah sorry I wasn't clear, the data.json is meant to be an example of static data that the policy refers to, as opposed to the input document. I just didn't refer to "input" or have an input doc to conftest for simplicity.

[2021-04-19 16:27] jpreese commented on #535
Yeah I see, the `--data` for Conftest will take the data files passed in and make them accessible based on their keys. So in this case, `{"v":1}` would be accessible from `data.v` not `data.dir`

[2021-04-20 08:50] danielpacak opened #544 "Allow overwriting exit code"
Dear Maintainers,

I'm running Conftest as a Kubernetes Job. In case of any failure Conftest returns non zero exit code, hence the Job is failing.
A quick and dirty solution that I came up with is to use the following command:

[code]

However, I'd love to overwrite exit code with a flag:

[code]

Do you think it makes sense to allow overwriting exit code? If yes would you be interested in reviewi

[2021-04-20 12:49] mykter opened #545 "Context sensitive exceptions"
If I could go back in time I'd add to the discussion in #315, however..

We currently have a mechanism for suppressing named rules for an entire input file (or, as noted in that issue, the entire input when using --combine).

It would be nice to be able to add exceptions for specific matches on the input. Extending the deployment from the example:

[code]

Here the exception I want to be able to e

[2021-04-20 15:57] jpreese commented on #544
Can you think of any scenarios where you'd want to set the exit code to a non-zero number?

I have seen some CLIs expose a `--no-fail` argument where it always returns zero, which feels like what you are looking for.

[2021-04-20 16:10] jpreese commented on #535
@anderseknert are you familiar with OPA and using bundles? There does appear to be a difference with how Conftest and OPA handle external data, but I'm not familiar with them enough to know if the difference is warranted or if making these behaviors consistent is something we should do.

[2021-04-20 17:07] Biswajee commented on #490
Hi @jpreese,

I agree with you on having lesser filenames but more verbose rules. But, a flag for displaying filenames will be really cool since we maintain verbose policy filenames and often a single rule per file. I could find examples of naming policy files in the `open-policy-agent/gatekeeper-library` and would like to highlight a policy repository where one policy per file is used extensively

[2021-04-20 18:44] anderseknert commented on #535
Yeah, OPA will load any JSON/YAML data (obviously not policies as those have a package defined) on the (relative) path under the which it was read. The only difference I know of in behavior as far as `--bundle` is concerned here is that only files named `data.json/yaml` will be considered in that case.

Whether it makes sense to preserve this behavior for `conftest verify` you're probably better e

[2021-04-20 18:52] jpreese commented on #535
Thanks! The documentation has been updated to reflect reality. I'll play around with --data and --bundle and see if it makes sense to change. The fear being that I imagine it would be a breaking change, and want to make sure we're actually solving a problem and not a symptom of poor docs 😅

[2021-04-20 18:58] danielpacak commented on #544
In my case I'd always want to set exit code to 0 so the `--no-fail` flag would be enough.

[2021-04-20 19:04] anderseknert commented on #535
Yeah, I guess a sensible middle ground could be to keep current behavoir while introducing the `--bundle` flag for conftest too, and have that act exactly as it does for OPA? There are already plans/WIP to push more for bundle based policy and data packaging in the OPA docs and so on, so it would make it easier for user to jump seamlessly between the two tools.

[2021-04-20 19:15] jpreese commented on #535
That's honestly not a bad idea either. Love it.

Then come v1.0.0 we could consider removing `--data` if `--bundle` does everything we want it to.

[2021-04-21 15:10] jpreese commented on #544
The OPA binary uses `--fail` and `--fail-defined` for its eval command so `--no-fail` feels appropriate. PR added here: #547

[2021-04-21 18:57] #544 closed

[2021-04-21 21:07] jpreese opened #548 "Exceptions are always considered to be exceptions in output"
If an exception exists, it is always considered to be an exception in the output -- regardless of if the policy failed. For example:

[code]

[code]

Results in:

[code]

However, the policy did not fail. It feels more accurate to consider this a passed result.

[2021-04-22 14:47] dudicoco commented on #518
@jpreese I did write in my first post that the `opa test` command has a `--coverage` flag, perhaps you missed it. :)

When do you think this feature could be added to `conftest` as well?

[2021-04-22 15:25] jpreese commented on #518
Yep! I saw it, just leaving a note that they split coverage and threshold into two different flags, rather than just a single one.

At the moment, I don't have a timeline just whenever someone opens a pull request 😄

[2021-04-22 15:27] dudicoco commented on #518
Thanks @jpreese.

Not a big deal, for now i'm using the opa binary for unit tests + coverage check.

[2021-04-22 18:42] rawc0der commented on #474
Hi @jpreese, thanks for the reply.
I definitely think a plugin is the best option of integrating features from both worlds.. (maybe more)
Conftest is a really great tool, but to use it in conjunction with Gatekeeper's Constraint resources is not that trivial. Too many different approaches for scripting around a simple scenario.

Please keep me in the loop, I'm finding some time soon to pick up dev

[2021-04-23 00:53] jpreese commented on #449
In hindsight I'd like to close this out and consider it something not to fix. It could be considered a bug in that the information is duplicated, but file1.yaml and file2.yaml both violate the policy. We could figure out a way to de-dupe it, but the complexity doesn't feel worth it.

The negative number of tests was a problem, but has been resolved in `v0.24.0`.

[2021-04-23 00:53] #449 closed

[2021-04-25 17:21] jpreese commented on #545
If I understand what you're trying to accomplish correctly, this should already be possible. When you create an exception, the body of that exception is what is matched on. e.g. for _"mydep can run host-agent as root"_

[code]

[2021-04-26 11:48] 44smkn opened #550 "docs: `--combine` option example produces Rego compile error"
#### What happened:

When running the below command in the `--combine` option example, the following error is produced.

https://github.com/open-policy-agent/conftest/blob/5cd81f40d1f4f3644fd5ebc56a593c284082e9d1/docs/options.md#--combine

[code]

[code]

#### Environment:

[code]

[2021-04-26 15:00] jpreese opened #551 "Update docs for pull command to include PAT"
Via slack: https://openpolicyagent.slack.com/archives/CLE8VEKGT/p1619433023104300

When using the `pull` command with a PAT in the url, the format is not straight-forward and can lead to an error that is hard to diagnose.

The format should be: `conftest pull git::https://<token>@github.com/<org/repo>.git//tests`

I am also seeing a symlink error when downloading the `testdata` directory from `go-

[2021-04-27 02:16] jpreese commented on #550
Thanks for reporting this, @44smkn! I've opened a PR to update the example in the documentation.

[2021-04-27 02:53] #551 closed

[2021-04-27 03:46] #550 closed

[2021-04-27 17:24] mykter commented on #545
Thanks for the complete example, here's a version that shows what I meant.

[code]

[code]
[code]

The issue shown here is that the exception intends to only allow mydep to run host-agent as root, but it actually allows my-dep to run _any_ container as root - in the example it's running the `web` container as root.

I don't see a way in the current implementation that supports having a generic rul

[2021-04-29 21:27] jpreese commented on #545
Awesome, thanks for the clarification. I see now. This feels like a duplicate of https://github.com/open-policy-agent/conftest/issues/453

[2021-04-30 01:27] jpreese commented on #498
@shibataka000 that is correct. In `0.22.0` we changed how the `--combine` flag worked to make them a bit more future proof. You can see that PR here: https://github.com/open-policy-agent/conftest/pull/388

It looks like you were able to get your test to pass. Is there anything you still had questions about?

[2021-04-30 01:36] jpreese commented on #462
Verified that the original input and query now work as expected with the latest version of Conftest. If this _is_ still an issue, please do not hesistate to re-open this issue or open another one 😄

[2021-04-30 01:36] #462 closed

[2021-04-30 09:26] chr-b commented on #474
Hi @rawc0der,

I have been looking into this topic (how to use the same policies for both static analysis with conftest and runtime admission control with Gatekeeper) as well.
And from what I have seen, Konstraint seems to solve that problem. I can write the policy once and use it with both conftest and Gatekeeper after generating the constraints. That would solve my use case.
What would be the ad

[2021-04-30 13:51] mykter commented on #545
Perhaps it is, I struggled to follow 453 tbh. Definitely in the same ballpark.

[2021-05-01 08:56] rawc0der commented on #474
Hi @chr-b,
The problem with `conftest+konstraint  policies` reading `gatekeeper resources` is that it does not allow reading parameters for policies, see [this PR](/plexsystems/konstraint/pull/91). This can be be sometimes averted if you modify underlying policies to accommodate for reading `data.parameters`. Gatekeeper uses the `Constraint` resource to enforce the policy, but also provide paramet

[2021-05-06 23:45] msarvar opened #555 "Conftest has significant memory footprint when evaluating policies against big configs"
Hi! We recently started seeing OOMs in our CI boxed when running the conftest to run our policy enforcement. It was only happening when using conftest in conjunction with [regula](https://github.com/fugue/regula) and somewhat bit terraform plan json file. I created an example project https://github.com/msarvar/contest-tracing to demonstrate the issue. The README has instructions on how to reproduc

[2021-05-06 23:56] msarvar commented on #555
Looks like this [PR](https://github.com/open-policy-agent/conftest/pull/381/files) introduced the regression. Specifically [this logic](https://github.com/open-policy-agent/conftest/pull/381/files#diff-796a15f8ba275b5f9972ae2f7353fbf44e0c08d0915fe91b0ba4581c90803663L102) was lost.

[2021-05-07 15:43] jpreese commented on #555
Resolved via #556. Thanks @msarvar

[2021-05-07 15:43] #555 closed

[2021-05-07 22:03] jpreese commented on #548
Some thoughts from Slack:

- "Exception" verbiage in its current form could be considered confusion. A better name may be "Exclusions" to represent what is really happening. Also "Skip" or "Ignore".

- The proposed behavior in this PR is more true to the word "Exception". However, would require a v1.0.0 release to do any large re-name refactor.

[2021-05-07 23:10] jpreese commented on #387
Current thoughts from previous discussions:

- Introduce a new flag, potentially `--codes`, that changes the behavior of Conftest to return a predefined set of error codes. This flag could potentially replace `--fail-on-warn`.

Example scenarios and their codes:
- 0 = success, no warnings, no failures
- 1 = at least one warning, no failures
- 2 = at least one failure
- 3 = policies failed to compi

[2021-05-08 19:05] jalseth commented on #387
I think that makes the most sense, and it gives flexibility for future conditions as well.

[2021-05-09 13:32] shibataka000 commented on #498
@jpreese Thank you for your comment!

I updated policy and unit test according to #388 . It works as I expected!

[code]

[code]

[code]

[2021-05-09 13:32] #498 closed

[2021-05-09 13:54] jpreese commented on #453
To keep the conversation focused, I'm going to close this in favor of #545. The outcome of that PR will also use the example policies here to ensure both asks get resolved.

[2021-05-09 13:54] #453 closed

[2021-05-10 16:47] jpreese opened #558 "Library files output that no policies were found"
In `v0.20.0` and `v0.21.0` of Conftest, the output for running a `test` that included library files did not render to the console that no policies were found:

[code]

However, in `v0.22.0` it does:

[code]

0.21: https://github.com/open-policy-agent/conftest/blob/125160deacb9c02ce3c098bdf1f3ce7df216026a/internal/runner/test.go#L92

0.22: https://github.com/open-policy-agent/conftest/blob/07a60e75

[2021-05-10 18:38] ghost opened #559 "Not sure if its a bug but the DockerFile example fails to validate for me"
When i run the Dockerfile example - i am not getting any validation errors at all.
Copying the source file also gives me strange results..

I am on the latest version 0.25.
How does `conftest` determine the filetype / parser to use?

Thank in advance...

Steve

Steps to reproduce
1) Copy the example dockerfile
2) Run "conftest test Dockerfile" ( everything passes.. it shouldnt )
No errors or warni

[2021-05-10 18:54] pingcrosby opened #560 "Does parse.go show a command line we cannot invoke"
parse.go shows a command line like

conftest parse --input toml <inputfile>

Is this an older version . my ver 0.25.0

[code]

[2021-05-10 19:00] pingcrosby opened #561 "Suggestions change the dockerfile fileExtension logic to handle all permutations"
Suggestion

Change the logic here to handle all permutations ... from...
[code]
to...
[code]

[2021-05-10 19:39] #560 closed

[2021-05-10 19:43] jpreese commented on #559
@pingcrosby I'm not quite able to follow your example. Which folder are you running these examples from? Can you just reference the files directly rather than copy them?

For example if you're in the `conftest` repository you should be able to do:

[code]

Conftest figures out which parser to use based on the name of the file and/or the file extension of the file.

[2021-05-10 20:22] jpreese commented on #561
Added a toLower to the fileExtension variable which could catch the other types and added some more documentation explaining the process.

[2021-05-10 20:22] #561 closed

[2021-05-11 08:13] #559 closed, assigned to nobody

[2021-05-11 08:30] pingcrosby opened #565 "Improve CLI flag documentation"
The messages from the cli are not clear that you can you use `conftest { command } { flags }` I was unaware that extra flags could be applied to a command.
[code]

Maybe update the default output to someting that points user in correct direction eg something like kubectl
[code]

Just a thought

[2021-05-17 05:13] AdheipSingh opened #566 "Test Custom Resources in kubernetes"
- Hi Team, is it possible to test custom resources with conftest ?
- I dont see any example for that, was wondering if its possible.

Thanks

[2021-05-17 10:29] boranx commented on #566
I was actually thinking the same for a while... We may consider treating it as a kind of [parser](https://github.com/open-policy-agent/conftest/tree/master/parser) where we could parse at least the first levels like _apiVersion, kind, spec_ etc...

[2021-05-17 10:41] boranx commented on #566
I think we can apply the existing [kubernetes](https://github.com/open-policy-agent/conftest/blob/master/examples/kubernetes/policy/kubernetes.rego) example to any other CR that could have been created on a k8s cluster. the kubernetes parser is actually _yaml_ parser so that it should be able to parse given CR that's json/yaml

[2021-05-17 21:17] tspearconquest opened #567 "Accessing a private policy repo using the conftest Docker image is not working"
Hi,

I have a use case where we are running conftest in our GitLab CI and have some problems retrieving the policies from our private repo due to using conftest within a DinD container.

In this CI we have a pre-test stage configured to pull down policies from our private repo and run conftest with them against our Dockerfile for building a privately hosted copy of conftest for us to use in order

[2021-05-18 01:45] jpreese commented on #567
Which container registry are you trying to pull from? Under the hood Conftest just uses [go-getter](https://github.com/hashicorp/go-getter) to push and pull the policies so any mode of auth (token, environment variable, etc) should be available to you.

For example, with GCP you could set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable.

[2021-05-18 12:04] tspearconquest commented on #567
It's GitLab. I think I should reiterate that this only happens in a specific scenario.

1. Pipeline starts a container
2. `docker login` takes place inside container
3. `docker run open-policy-agent/contest pull $policies`
4. Child container starts and contest gets a 403 because the token is not passed to the child container.

So my question is how do we pass a token into the container run during

[2021-05-18 13:04] jpreese commented on #567
This doesn't feel specific to Conftest and is more about adding environment variables and mounting configurations into containers that are in DinD mode. I don't have a lot of DinD experience, but if you've got a configuration file or PAT you should be able to set the environment variable and/or mount what you need for Conftest to read it. Something like (pseudo-ish):

`docker run -v ~/token:./tmp

[2021-05-18 14:46] tspearconquest commented on #567
Hi John,

To your last point regarding just downloading the binary, we do that in the first stage.
The stage where we are having issues is when we are trying to validate that the image works.

We plan to use this image in other pipelines, and so we would be calling this image in all of our pipelines across many projects in the organization in this same way. We are doing this with a few other open

[2021-05-18 15:39] tspearconquest commented on #567
Also, for security reasons we need to keep a local copy in our own repo of any open source software we use.

Typically, we add some layers on top of an upstream docker image in order to patch the base operating system image underlying the container, or we pull some binary out of a tarball into an Alpine container which is what we've done with conftest.

We are trying to leverage the container in o

[2021-05-18 17:37] tspearconquest commented on #567
We tried your steps without success.

We are able to use the container in 2 cases...

Case 1 is the one I described two comments earlier.
Case 2 I will describe below:

We modified the Dockerfile to pull in the docker binary from apk.
Then we modified the CI job to use the conftest image directly instead of a docker image (bypassing docker in docker), and so within that image we are calling docker

[2021-05-27 18:00] iffyio opened #568 "Add support to silence exceptions in `conftest test` output"
Currently conftest logs exceptions to stdout in addition to warnings and errors. This is problematic in a large code base running against lot of files with exceptions - it becomes harder to visually see the one warning or error that triggered a failure in the midst of hundreds of exceptions.
It would be really helpful if conftest say, included a flag to not log exceptions

[2021-05-28 14:48] jpreese commented on #568
Seems like a reasonable feature.

[2021-05-28 14:50] jpreese commented on #567
Glad you got at least _something_ working! I would have to do some testing on my end to fully understand the problem if you're still running into issues with DinD..

Conftest isn't doing anything special with the credentials and relies on `go-getter` to find the auth. If the DinD container has everything set up properly (token mounted, environment variables set, etc) it shouldn't be any different

[2021-05-28 15:49] tspearconquest commented on #567
I can clarify further and as I mentioned we can reproduce this issue without DinD at all.

The failure can be reproduced on my laptop with the below commands
[code]
Here we launch the conftest container (note this is the upstream conftest container) and simply try to pull the conftest policies from our own access-restricted repo with the default entrypoint of the image being the /conftest command.

[2021-05-28 20:53] jpreese commented on #567
From your first code snippet, you're only mounting the docker sock -- not the credentials that were generated when calling `docker login`.

You'd have to do something like:
[code]

[2021-05-28 21:11] tspearconquest commented on #567
We tried that as well. No luck.

![image](https://user-images.githubusercontent.com/81998567/120042004-ec168880-bfce-11eb-9432-37163e73b361.png)

[code]

[2021-05-28 21:58] jpreese commented on #567
Is your private Conftest image the same image thats pushed to DockerHub at the moment? Or did you add any custom steps

[2021-05-28 22:09] tspearconquest commented on #567
It is actually a custom image.

[code]

[2021-05-28 22:13] jpreese commented on #567
You're setting `USER` to 65532, but mounting the docker creds to `roots` home directory. Docker looks for the credentials in $HOME/.docker/config.json unless you override it with $DOCKER_CONFIG.

So you'd either need to change where the `config.json` is mounted to inside of the container or pass in `-e DOCKER_CONFIG` with a different directory.

[2021-05-28 23:05] tspearconquest commented on #567
Thanks, I tried a slightly different setup that should still work but still got the same error.

[code]

Followed by `$ docker run --rm -v "$(pwd)":/project -v /root/.docker/config.json:/project/.docker/config.json -v /var/run/docker.sock:/var/run/docker.sock $CONFTEST_IMAGE pull $REGO_POLICIES`

[2021-05-28 23:08] jpreese commented on #567
The `ENV` is set to `/project/.config` it should be `/project/.docker` based on your `docker run` statement.

[2021-05-29 18:25] tspearconquest commented on #567
Apologies, you are right. I copied from the pre-edited Dockerfile and added that manually, but then when I entered it in the Dockerfile itself, it was properly entered. The failure happened with the environment set correctly.

That said, I've edited the above comment now.

[2021-05-29 18:46] jpreese commented on #567
And as a sanity check you've verified that the `config.json` exists in the container under /project/.docker? The `-v` flag will create the file regardless of whether or not it exists on the host.

[2021-05-30 00:07] tspearconquest commented on #567
Any attempt to mount the file or the directory has been futile thus far.

[code]
With this one, I could see /project/.docker/config.json was an empty directory inside the container, rather than the file from the host. I did verify the file is present on the host.

[code]
Both of these resulted in /project/.docker being an empty directory inside the container

It appears that Docker does not want u

[2021-05-30 00:10] tspearconquest commented on #567
In case its permissions related, I am running some further tests.

[2021-05-30 01:40] tspearconquest commented on #567
Even copying the config.json file to /tmp, making it world readable, and then trying to mount it from there is giving the same results as above.

[code]

[2021-05-30 02:14] jpreese commented on #567
You could try moving the `config.json` from `/project/.docker` to another location on disk because you're first mounting `pwd` into `/project`. This _should_ be OK, but depending on how your CI's filesystem is laid out could be problematic -- worthwhile to remove that potential point of failure though. There's lots of documentation and discussions out there talking about potential reasons why your

[2021-05-30 14:16] tspearconquest commented on #567
I did as you suggested, and moved it to /etc/conquest, which should work fine. Results were the same.
I must contest that this is not a mounted files are "empty" issue but rather the mounted file is being presented inside the container as a directory instead of a file. Quite a different scenario imho, and still not the root cause of the problem.
Thus far, I've presented quite a bit of evidence tha

[2021-05-30 14:59] jpreese commented on #567
I'm not running a DinD setup with GitLab. When I run a DinD instance on my own machine and mount the files in, I see them. You could also try asking the GitLab community to see how they're running similar setups where DinD setups require auth.

[2021-05-30 15:03] tspearconquest commented on #567
Thanks but seeing the files and being able to retrieve the policies are not the same thing.
What I want to try to do is reproduce your setup locally on my laptop and try to get even *that* working (its not currently) and work the problem from there. Its clear I'm doing something wrong, I don't deny that, and so I'm just trying to ascertain what it is that needs adjustment between your local enviro

[2021-05-30 15:21] tspearconquest commented on #567
Just to clarify, I am asking if you have tested pulling from a private repository using your docker image. If you haven't tested due to not having a private repo, then this is an unsupported setup, and you should say so. If you are interested in testing this further and *need* a repo to test with, I don't mind helping out with that.

Ultimately, I would like to get to the point that the below comm

[2021-05-30 22:05] tspearconquest commented on #567
With some further testing, I was able to get the config.json into the container.
Unfortunately it didn't work.

Strangely, it works when I used the image from dockerhub.

Looking through our Dockerfile and comparing it to yours, I realized we were generating more or less the same image as what your Dockerfile does, with the exception that ours doesn't build conftest from source, and doesn't work w

[2021-05-30 22:05] #567 closed

[2021-05-30 22:33] jpreese commented on #566
Yep! It's all just YAML, the contents of the YAML don't really matter.

[2021-05-30 22:33] #357 closed

[2021-05-30 22:33] #445 closed

[2021-05-30 22:34] jpreese commented on #257
From offline discussions, we are leaning towards `--test-id` for this feature.

[2021-05-31 07:30] AdheipSingh commented on #566
Great !! ill give it a try.
Thank you :)  @jpreese @boranx

[2021-05-31 07:30] #566 closed

[2021-05-31 23:33] jpreese commented on #535
@mykter I just noticed that OPA also has a `--data` flag. Using the above example, if you use OPA's `--data` flag the example is the same as Conftest. i.e.

[code]

[code]

The dir is _slightly_ different, because Conftest traverses all children.

[2021-06-02 08:48] anderseknert opened #575 "Broken example links"
Just a heads up that the following links seems to be broken on the [examples](https://www.conftest.dev/examples/) page:

* GitLab
* Multitype
* Tekton

[2021-06-02 14:33] lanasalameh1 opened #576 "Add informative traces for conftest verify for better debugging experience"
running 'conftest verify --trace' simply prints all rego queries output. this leads to a very bad debugging experience when having a lot of tests.

"opa test -v" returns a nit output including traces of rego queries output filtered on failures only, in addition to summary report with failed , skipped and succeeded tests (in conftest verify there is no summary when --trace is on for example).
(see

[2021-06-03 22:26] xarses opened #577 "eval_conflict_error: object keys must be unique"
When running `conftest validate` on 0.25.0, I get an error back.

[code]

However this was valid on prior versions (0.23.0), and passes in multiple versions of opa

[code]

The statement its locking up with is

[code]

any help would be great

[2021-06-03 22:55] anush-cr commented on #474
We use gatekeeper policies (without konstraint) for pod security policy enforcement and also ran into this problem when we started looking at introducing policy checks in our CI pipeline. We ended up writing a plugin (https://github.com/clover/gatekeeper-conftest) to re-write the `input` object to `input.review.object` and extract the pod template where applicable. The plugin also supports providi

[2021-06-04 07:38] chr-b commented on #474
Hi @anush-cr ,

Interesting. I was about to start doing something similar: extend conftest to map the input data provided with `--data` to the `input.review` space that is also used by Gatekeeper. To facilitate re-use of parameterized conftest policies.

Seems like your plugin is going into this direction. I will have a look at it.

[2021-06-04 22:44] xarses commented on #577
I've found that the error occurs when

[code]

Is declared twice in the same package (`main`)

[2021-06-04 22:44] #577 closed

[2021-06-05 08:08] rawc0der commented on #474
Hi @anush-cr

Thanks for sharing the plugin, it looks promising.
Typically I am interested in Konstraint because of it’s extended type
definitions for kubernetes primitives and ability to regenerate Gatekeeper
resources from the rego files.
But definitely I will try to install the plugin and see if it fits my
use-case.

On Fri, 4 Jun 2021 at 10:38, chr-b ***@***.***> wrote:

[2021-06-09 01:41] #568 closed

[2021-06-15 01:24] ashutosh-narkar opened #580 "Security vulnerability in conftest v0.25.0"
Conftest `v0.25.0` uses `golang:1.13-alpine` as the base image. One of the image build steps involves installing git (`RUN apk add --no-cache git`). This installs git `v2.30.2-r0` and libcurl `7.76.1-r0`. Following security vulnerabilities have been identified in these versions of `git` and `libcurl`.

[code]

[code]

`golang:1.16-alpine` image seems to use the affected version as well.

[2021-06-15 01:33] jpreese commented on #580
Thanks for reporting this @ashutosh-narkar! I'll see what we can do to get these resolved.

[2021-06-21 14:52] moredhel commented on #548
Hi,

just came across this. I have a similar issue when trying to enforce naming-conventions to an existing terraform project (while keeping a list of exceptions).

For example:

[code]

with a rego file:
[code]

It's not a foolproof method, because there isn't any notification that an exception is happening, but I'm currently doing the following:

[code]

I would suggest updating the the document

[2021-06-23 21:30] xarses commented on #535
I've just ran into this and am perplexed. I've spent a bunch of time wrapping my head around how `opa` loads data files based on the relative path passed and where the file was found walking towards it. Now that my head is wrapped around it, I came to find that conftest just ignores that and loads them directly in data. The main problem being is that in order to validate/develop in opa, and then m

[2021-06-24 04:19] jalseth commented on #575
Hi @anderseknert ! Thanks for letting us know, we'll get those fixed.

[2021-06-24 04:47] #565 closed

[2021-06-28 14:01] moredhel commented on #545
I've been having the same issue, specifically when trying to apply exceptions to specific resources in a terraform file.

I had a look at how we could extend conftest to support this use-case. I also put together a quick & dirty proof of concept to see what was possible.

This can set the stage for further discussion & refinement on the feature.

https://github.com/open-policy-agent/conftest/pull/

[2021-06-30 02:26] artis3n opened #585 "Consider publishing images to GitHub Container Registry"
I threw this over to [OPA as well](https://github.com/open-policy-agent/opa/issues/3596) but wanted to get your thoughts on publishing container images to GitHub Container Registry as well as or instead of Docker Hub. Benefit would be small convenience in avoiding Docker Hub rate limits in edge case scenarios. I guess maybe if one goes temporarily down it's already up somewhere else. It is mostly

[2021-07-02 13:01] artis3n commented on #585
This makes sense - https://github.com/open-policy-agent/opa/issues/3596#issuecomment-872978166

[2021-07-02 13:01] #585 closed

[2021-07-08 23:50] artis3n opened #590 "Functions without input parameters are considered undefined"
Was struggling with this for a bit. Having defined a function:

[code]

and trying to invoke it via this rule:

[code]

I received an error:

[code]

However, after adding an arbitrary input parameter, the function is fine and the policy evaluates:

[code]

I don't see this [documented](https://www.openpolicyagent.org/docs/latest/policy-language/#functions) and it seems like incorrect behavior. Le

[2021-07-09 00:31] jalseth commented on #590
Hi @artis3n. In Rego that would not be called a function as it takes no parameters, so no parenthesis are needed. The following will work:

[code]

This is touched on briefly [here](https://www.openpolicyagent.org/docs/latest/policy-language/#the-basics) in the comparison of `v`. I agree the documentation could be made a little more clear. If you have ideas on how to do that, we'd welcome a PR in

[2021-07-09 00:36] artis3n commented on #590
Thanks for that clarification! I feel dumb.

Also forgot whose documentation I was looking at. OPA project for Rego issues makes sense.

[2021-07-09 00:36] #590 closed

[2021-07-12 13:56] moredhel opened #591 "Proposal: fine-grained policy-excludes"
This is a proposal for implementing fine-grained excludes.

This proposal adds a new `excludes` type to the conftest tool which allows for more fine-grained exclusion of policies. I have also attached a sample implementation ([linked here](https://github.com/open-policy-agent/conftest/pull/584)) that can already be played with & serve as a reference.

## Issue

Currently conftest is limited to onl

[2021-07-15 06:14] hoeg opened #593 "Specify namespaces with verify"
Currently `conftest verify` does not support any way to specify single namespaces. This makes it hard to get any value from the `--trace` parameter when working with large collections of rego files since the output easily gets lost.

Would it be possible to add a namespace flag to the verify command that would only verify the specific namespace? If the namespace flag is omitted it should work as i

[2021-07-16 18:40] ac-obair commented on #424
I feex. https://gist.github.com/b0bu/67d60fc0dbc5a9ae36406188117dfb36

The issue was `import data.token as auth`

`auth` was undefined, by extension subscirptionid was never populated. This was working in `opa run -b .` because of a slight difference in how the data document is structured. `data.token.stuff` was a thing which translated to `data.stuff` in conftest.

[2021-07-21 16:07] ashutosh-narkar commented on #580
@jpreese this docker image is updated in the master branch to `golang:1.16.5-alpine`.  This new version does not seem to have any reported vulnerabilities. Do y'all plan to release a new Conftest version ?

[2021-07-27 00:11] xarses opened #597 "conftest test --update spews everywhere from aws-ecr"
Running `conftest pull conftest pull 112233445566.dkr.ecr.us-east-1.amazonaws.com/terraform-policy` results in the policy being downloaded (all be it to `./policy/policy`) with no problems

[code]

However running `conftest test --update <repo>` results in a spew of messages similar to #218

[code]
Looking at the PR that fixed #218 #219 we see updates to what appears to now be at https://github.co

[2021-07-28 01:38] jalseth commented on #580
@ashutosh-narkar v0.26.0 has been released which should resolve this issue as it's based on `golang:1.16.6-alpine`.

[2021-07-28 19:10] ashutosh-narkar commented on #580
Thanks @jalseth !

[2021-07-28 19:10] #580 closed

[2021-08-04 04:16] jalseth commented on #576
This was implemented in 578, closing.

[2021-08-04 04:16] #576 closed

[2021-08-04 04:45] jalseth commented on #500
Hi @lukasmrtvy. The following Rego will pull all images from the Dockerfile input, and you can then normalize them and make other policy decisions that way.

[code]

Using the [`conftest` Dockerfile](https://github.com/open-policy-agent/conftest/blob/51320a050658bc5703477931f308fd493a6fcea0/Dockerfile) as an example and throwing a violation for everything returned by `base_images`, you can see we

[2021-08-11 21:19] jalseth commented on #500
@lukasmrtvy Since I haven't heard from you in some time and this can be implemented in the Rego, I'm going to close this. Feel free to reopen it or open a new issue if you have any other questions.

[2021-08-11 21:19] #500 closed

[2021-08-17 12:11] fredgate opened #602 "Missing filename when testing Helm chart"
I have a Helm chart that I test for Kubernetes API deprecations using [deprek8ion](https://github.com/swade1987/deprek8ion/) policies.

Here is the command and output I have :
[code]

In the result, the filename is missing.

My chart I have one file by resource (one file for deployment, another file for service, yet another file for ingress...), but the `helm template` command render one output wi

[2021-08-25 03:07] jalseth commented on #602
Hi @fredgate. This comment in the Helm output is a Helm-specific thing, and is not a part of the YAML specification so it is not parsed by conftest. I will take a look into what can be done here to make this clearer in the output when testing helm files.

[2021-08-25 03:10] jalseth commented on #593
Hi @hoeg . `conftest` now has a `--report` flag which should help with this as it enables showing the traces only of failed tests. Let me know if this will work for your use case.

[2021-08-26 00:58] artis3n opened #604 "Include the file name in system metadata for a policy"
Originally filed against opa here (https://github.com/open-policy-agent/opa/issues/3662) but makes more sense to be a specific feature request for conftest.

When evaluating a large set of files, it would be very useful to be able to match against certain known file names as opposed to attempting to examine the input to match that file's expectation. This is for scenarios where we are evaluating a

[2021-08-30 15:50] shukla2009 commented on #432
I also have the same requirement where need to justify why I am putting that RULE in exception.

[2021-09-01 04:06] jalseth commented on #604
Hi @artis3n. It would be possible to add this, but it may make more sense to use existing tooling. For example, if you place your NPM related policies into a Rego package named `npm` you could do the following:

[code]

This would test all `package.json` files against policies in the `npm` namespace. Would this work for you?

[2021-09-01 11:51] artis3n commented on #604
In our case, no, we are scanning all arbitrary files in a commit in our org. We do prune that to collect the file types that are eligible to be scanned - it's something like all .yml, .Jason, .tf, Dockerfile, excluding .GitHub/, and some stuff like that. But not individual rounds, we gather all eligible files and scan them together with --all-namespaces.

Described vaguely in the readme https://gi

[2021-09-11 17:50] jalseth commented on #604
That makes sense, I can take a look at adding this. I think we would want to use `data.conftest` though just to be sure there are no collisions with any user-supplied data. This also appears to be a duplicate of #65.

[2021-09-13 02:27] artis3n commented on #604
Yeah, this does look like a duplicate. Fine to close if you'd like to encapsulate this in that issue.

[2021-09-13 09:46] pingcrosby opened #611 "Help?.. How do I specify a branch with conftest pull git://https....."
Please can you help..

I am struggling to specify a branch when using
```conftest pull "git::https://myuser:mytoken@mygitlabrepos"```

Can you tell me how to specify a branch here eg

```conftest pull "git::https://myuser:mytoken@mygitlabrepos?branch=XXX"``` etc etc

[2021-09-13 23:27] jalseth commented on #604
Added in #610 and it will be included in the next release.

[2021-09-13 23:27] #604 closed

[2021-09-13 23:28] jalseth commented on #65
Added in #610 and it will be included in the next release.

[2021-09-13 23:28] #65 closed

[2021-09-13 23:31] jalseth commented on #611
Hi @pingcrosby. Conftest uses the `go-getter` library under the hood which supports specifying a Git reference such as a branch name. You'll want to check out their docs for more info: https://github.com/hashicorp/go-getter#git-git. Let me know if there's anything else I can help answer.

[2021-09-13 23:35] jalseth commented on #602
@fredgate The YAML package we use [1] does not return us any comments, so adding this would be a significant refactor. Time allowing we may still add this, but I wanted to let you know it probably won't be soon. That said, I'd welcome a PR if you have the time!

[1] https://pkg.go.dev/github.com/ghodss/yaml

[2021-09-14 17:10] pingcrosby commented on #611
Thanks adding "?ref=branchname" at the end solved it

On Tue, 14 Sept 2021 at 00:31, James Alseth ***@***.***>
wrote:

[2021-09-14 17:18] #611 closed

[2021-09-18 18:19] jalseth commented on #604
@artis3n conftest v0.28.0 has been released with this included

[2021-10-18 15:09] jpreese commented on #593
@hoeg did @jalseth's suggestion resolve your issue?

[2021-10-18 15:17] #575 closed

[2021-10-21 18:54] cep21 opened #621 "Tests feel brittle if I cannot specify an example input file with each."
Hi!

Thanks so much for the wonderful tool.  I'm trying to write unit tests at the moment for a terraform check.  I can run `conftest parse` to see what the input is, then copy/paste that into a test file, but that seems brittle since I'm never re-checking that the test input matches the file's parse and I'm trusting that `parse` won't change or add fields and that I copied it correctly.

Ideally,

[2021-10-22 16:29] hpio opened #622 "Regular expressions not working correctly?"
trying to do the following
[code]

for the following yaml
[code]

the check should fail as the regex does not allow `_` characters, yet when i run it it passes. Any advice please?

[2021-10-22 21:17] developer-guy opened #623 "new SBOM parser"
There is a concept called SBOM (Software Bill Of Materials), and there are various tooling around this[^1][^2][^3][^4] concept to generate it. There are several methods designed specifically for delivering SBOMs, including [SPDX (Software Package Data Exchange)](https://spdx.dev), [Software Identification (SWID) Tags](https://nvd.nist.gov/products/swid), and [Cyclone DX](https://cyclonedx.org).

W

[2021-10-23 19:06] #622 closed, assigned to nobody

[2021-10-28 11:00] gferr opened #626 "conftest running time"
We've been using `conftest test` in our CI server with an increasing dataset (~4K files as of now).
We've noted a considerable difference in time when this command is executed with the whole dataset or with chunks of it.

For example, running this command inside a Docker with 1000 files, I've got `3:46.55` total time.
While considering the same dataset but now breaking it into chunks of 100 files

[2021-10-31 20:15] jalseth commented on #623
OK, after further reading I think the desired outcome of this would be to support the plaintext formats for the SBOMs in addition to their structured JSON/XML formats? If so that makes sense and I'd welcome PRs. It would also be good to open issues for each format that needs to be implemented (again with a link to the spec and/or examples) so that the work can be better tracked.

[2021-10-31 20:18] jalseth commented on #621
Hi @cep21, thanks for opening the issue. To clarify, you'd like to have Terraform (or other) formatted source files for the unit tests (`conftest verify`) to run against, correct? If so, I agree this could be a useful feature to implement to enable syntax checks, etc. in the test resource files. If you have time, I'd welcome a PR, otherwise I can look to add this when I have time.

[2021-10-31 20:21] jalseth commented on #626
Hi @gferr thank you for opening the isssue. This isn't something I've personally experienced, but is definitely an issue. I have a few follow-up questions regarding this:

- Does it also happen if not running in Docker?
- What types of files are being tested?
- Are all resources to be tested local or are they remote via NFS or similar?

[2021-11-01 08:47] developer-guy commented on #623
Yeah, exactly. Let me explain it to you by giving an example, here is my thought about the SBOM validation belonging to SPDX.

Let's consider this repository for [SPDX examples.](https://github.com/spdx/spdx-examples/blob/master/example1/spdx/example1.spdx)

[code]

[2021-11-01 16:41] cep21 commented on #621
That's right.  I probably won't be able to implement this myself since I have a few workarounds (the directory mentioned above, and the easier workaround of not writing tests :) ) I'm very open on how this works and am curious what you think the best way is.  A few may be

1. Embed the terraform file as a text inside the test itself, with a `parse` function of some kind.
2. Have a directory of fil

[2021-11-04 01:19] jalseth commented on #623
@developer-guy I'd imagine you'd want to use https://github.com/spdx/tools-golang to handle the parsing from the file into the struct. From there it isn't much work to plumb that to the OPA/Rego engine since it accepts an `interface{}` for input. I may work on adding this if I have time, but it would be great to receive a PR from the community!

[2021-11-04 08:14] developer-guy commented on #623
@jalseth I'm a volunteer for doing this, may I take a look at it? Can you please assign it to me? 😍

[2021-11-04 08:35] developer-guy commented on #623
for the other one we can use this https://github.com/CycloneDX/cyclonedx-go

[2021-11-08 08:39] gofort opened #632 "[Brew] Calling bottle :unneeded is deprecated"
Every time `brew upgrade` command output looks like this:
[code]

[2021-11-11 11:50] developer-guy commented on #623
friendly ping @jalseth

[2021-11-13 21:44] jalseth commented on #632
I don't have access to a Mac at the moment. @jpreese can you take a look at this one?

[2021-11-13 21:50] jalseth commented on #623
@developer-guy I would welcome PRs! Please keep the SPDX and CycloneDX changes separate so they're easier to review.

[2021-11-16 20:42] jalseth opened #640 "Netlify checks on PRs are failing"
The Netlify checks on all recent PRs are failing, looks like due to the config using outdated versions of software that Netlify no longer includes in their build images.

For example (copied from https://app.netlify.com/sites/vibrant-villani-65041c/deploys/619293ef3fa2290007ff4461)

[code]

[2021-11-19 15:06] princespaghetti commented on #632
I ran into this as well. It's due to the homebrew config in the instrumenta org before conftest got moved over to open-policy-agent (and tap to the main homebrew repo).

so if you do the following should be back in business
[code]

[2021-11-22 09:52] developer-guy opened #642 "ability to sign Rego policies before pushing them to the OCI registry"
Hi, we (w/@dentrax) thought that it'd be nice to add the ability to sign Rego policies before pushing them to the OCI registry by using the `cosign`[^1] project under the hood. A while ago, we opened a similar issue to the  ÒPA Gatekeeper`[^2] project.

[^1]:https://github.com/sigstore/cosign
[^2]: https://github.com/open-policy-agent/gatekeeper/issues/1491

[2021-11-24 21:33] jschwanz commented on #490
I'm interested in this functionality as well. I'm more specifically looking for the successful rules to be enumerated in the JUnit output so my CI engine can report on it.

[2021-11-25 19:29] jpreese commented on #640
Should be resolved via https://github.com/open-policy-agent/conftest/pull/643

The Netlify build image and associated documentation seem.. way off. They say the default Python version is `3.8`, but I don't even see Python `3.8` installed on `netlify/build:v3.10.1` (the most recent image).

Furthermore the `pipenv` method refuses to use the Python version that's set, always using 2.7. However, look

[2021-11-25 19:29] #640 closed

[2021-11-25 19:30] jpreese commented on #632
Agree with @princespaghetti -- I think I recall having to do this when the migration was first done. Closing for now, but if this does not resolve your issue please do not hesitate to re-open.

[2021-11-25 19:33] #632 closed

[2021-11-25 19:34] jpreese commented on #626
@gferr is this still a problem for you? If so, providing the answers to @jalseth's question could help us dig a bit more. Thanks!

[2021-11-25 19:36] jpreese commented on #642
Makes sense to me, would be a welcomed enhancement!

[2021-11-25 19:38] jpreese commented on #593
Closing due to inactivity. If the suggestion above did not resolve your issue, please do not hesitate to re-open this!

[2021-11-25 19:38] #593 closed

[2021-11-25 19:39] jpreese commented on #424
Glad you got this figured out! 🎉

[2021-11-25 19:39] #424 closed

[2021-11-25 19:47] developer-guy commented on #642
would you mind assigning it to us, then we can start to work on it 🤩

[2021-11-27 23:23] sudhirkumar05 opened #644 "Unable to use contest for scanning using container"
I would like to scan our terraform code using conftest policy using docker container but it fails. Below are sample.
`test_plan.json` is the terraform plan json file, present in the project  root directory.
` docker run --rm -i --pull=always openpolicyagent/conftest:v0.28.3 test ./test_policy.json`

`Error: running test: parse files: get file info: stat ./test_policy.json: no such file or director

[2021-11-28 03:10] jpreese commented on #644
In your first example, `test_plan.json` doesn't look to be added into the container.

In your second example, it looks like you are not giving `test_plan.json` as a parameter. The command is just `test -p ./policy`

[2021-11-30 11:13] #623 closed

[2021-11-30 18:51] sudhirkumar05 commented on #644
You are right, this should be mounted to the container to use it.
` docker run -v $(pwd):/tmp --rm -i --pull=always 'openpolicyagent/conftest:v0.28.3' test /tmp/test_plan.json -p /tmp/policy/`

[2021-11-30 18:51] #644 closed

[2021-12-10 19:23] davewongillies opened #649 "Feature request: make rule identifier available in test output"
In the docs, I see that the `deny`, `violation`, and `warn` rules are able to be suffixed, eg `deny_myrule`. It'd be really great if somehow the identifies would be printed when running `conftest test`

For the standard output it currently looks like this:

[code]

It'd be helpful to perhaps be:

[code]

And json output currently is:

[code]

Perhaps something like

[code]

[2021-12-10 22:08] davewongillies commented on #649
It'd be interesting also if we could pass in extra parameters into a rule, eg:

[code]

Then when running `conftest test -o json`

[code]

[2021-12-16 11:52] EmilMunksoe commented on #558
Any update on this. This is quite annoying to work with.
Let me know if I can be of any assistance. I will gladly help contribute if someone can point me in the right direction.

[2021-12-28 00:47] rdsubhas commented on #591
Contextual exclusions will greatly improve quality of policies. Thank you for kickstarting this and for the PoC PR! I would like to offer one additional viewpoint, if I may...

A lot of the cumbersomeness with contextual exclusions – is **passing the context**. The actual `deny` or `warn` rule has the full localized context, and somehow bits & pieces of this have to be passed on to evaluate exclus

[2022-01-03 11:49] crhuber opened #656 "Multiple Plugins Not Loading"
Hello,

I'm on conftest version `0.28.3`. I have multiple plugins loaded in  `~/.conftest/plugins/`

However, it always seems. only the last plugin (alphabetically) ever runs.
Here is my folder structure:

[code]

The plugins look like this for each "hello" and "world" where the "name" is changed to hello/world

[code]
hello/run.sh
[code]

world/run.sh
[code]

I can see they are loaded

`conftest`

[2022-01-04 17:15] jpreese commented on #656
Thanks for reporting this, @crhuber! PR #657 should resolve this.

[2022-01-04 19:03] #656 closed

[2022-01-04 20:23] slargo opened #658 "It's there a expected date for compatibility with last OTA release 0.36?"
Hello there,

Looking at the last release notes, I found there is a very usefull net built-in function in this version (net.lookup_ip_addr(name)). So i was wondering when it be available for use with Conftest.

Regards,

[2022-01-05 02:35] jpreese commented on #658
Our dependabot integration seems to have stopped picking up OPA updates. We'll look into why and cut a new release of Conftest sometime early next week with the latest OPA library.

[2022-01-05 15:53] jpreese commented on #658
To be resolved in https://github.com/open-policy-agent/conftest/pull/659

[2022-01-05 17:33] #597 closed

[2022-01-05 17:40] #658 closed

[2022-01-06 03:52] jpreese commented on #558
Is it just the verbose output? The end result should still be valid.

I may be able to look at this again soon if it's causing that much pain.

[2022-01-06 06:48] EmilMunksoe commented on #558
Yeah the end result is still valid, it is just verbose output that is not being filtered out.

[2022-01-06 07:07] jpreese commented on #474
I believe this is ultimately going to be out of scope for Conftest, and is a good candidate for a plugin.

[2022-01-06 07:07] #474 closed

[2022-01-07 13:17] moredhel commented on #591
Hi @rdsubhas,

Thanks for the detailed feedback! I appreciate it.

I see the appeal of this solution, as you say having the full context makes it considerably easier to make sense of what is going on & help reduce the chance of an error.

My proposal definitely includes additional complexity & possibility for misconfiguration (Although the current exclude functionality still has this issue).

One

[2022-01-08 05:13] jpreese commented on #626
Closing as stale. Please do not hesitate to reopen if this is still problematic

[2022-01-08 05:13] #626 closed

[2022-01-18 17:58] developer-guy opened #666 "test in-toto attestation (software provenance record format)"
in-toto attestation is a record format for defining your software supply chain based on JSON documents. You can reach out to the official repository [here](https://github.com/in-toto/attestation). In [cosign](https://github.com/sigstore/cosign), we worked on some verification system to verify the integrity of attestation files based on CUE and Rego languages; you can reach out to the development p

[2022-01-18 18:06] developer-guy opened #667 "test Transparency Log (Rekor)"
Where cosign shines is storing signatures, attestations in a transparency log server called Rekor without requiring public/private key pairs. It provides a publicly auditable software supply chain for people who want to monitor your binaries to check whether your software supply chain has been tampered with. So, it'd be nice to support the testing transparency log against Rego policies.

cc: @Dent

[2022-01-25 18:38] jcmcken commented on #490
Related to [this issue](https://github.com/open-policy-agent/conftest/issues/258) as well (specifically my comments about JUnit which echo @jschwanz )

[2022-01-27 23:03] rnjudge opened #669 "Can conftest perform partial matching of strings in SPDX documents?"
`./conftest test --policy policydir doc.spdx` takes an SPDX document, `doc.spdx`, and pass/fails the document against a set of rules defined in  `policydir/spdx.rego`.  An example set of rules is:
[code]

The rules in the example field above all utilize direct compare string values.

Is it possible to perform partial matching of strings for pass/fail validation here? For example, if I wanted to fa

[2022-01-29 01:36] jalseth commented on #669
Hi @rnjudge ! You can use the `contains(string, search)` builtin [1]. Keep in mind that conftest uses OPA for policy evaluation, so the OPA docs are a good source of information for inquiries like this.

[1] https://www.openpolicyagent.org/docs/latest/policy-reference/#strings

[2022-01-29 23:14] jalseth commented on #667
Hi @developer-guy. conftest is largely a wrapper around OPA that provides parsing of formats other than JSON and other features that make it easier to use on developer laptops or in CI environments. OPA does support [1] fetching remote data for evaluation in policies, but lacks [2] the cryptographic functions necessary to verify Rekor signatures. Please work with the OPA [3] team to ensure the nec

[2022-01-29 23:19] jalseth commented on #666
Hi @developer-guy. in-toto uses JSON files for its data format, which is already supported by OPA and conftest. Please clarify what you would like to see implemented.

[2022-02-01 20:33] jcmcken opened #671 "CLI -v (version) flag should also output OPA/rego version (or it should be displayed somewhere)"
It's useful for policy developers to understand what Rego built-in functions or other language features are available based on the conftest version they're using. Right now, it seems I have to look through the change log for the releases to figure this out.

[2022-02-02 01:21] jalseth commented on #671
This is a good idea, I'll look into implementing this. We may need to open a PR to the upstream OPA repo if they don't expose a function for this already.

[2022-02-08 10:00] seth-priya opened #675 "Request for ppc64le binaries"
Hi,

I needed ppc64le binaries for conftest as part of an effort to port https://github.com/aquasecurity/starboard. I do see binaries for x86 and arm64 at https://github.com/open-policy-agent/conftest/releases/tag/v0.30.0 currently but not for ppc64le!

I tried to build top-of-tree source code and the build, unit and acceptance tests all pass without any issues on ppc64le.

So, looks like adding p

[2022-02-08 10:01] seth-priya commented on #675
Acceptance test results for reference
`[root@aa1a690be384` conftest]# make test-acceptance
 ✓ Can install plugin from directory
 ✓ Can install plugin from URL

2 tests, 0 failures

 ✓ Policy with multiple failures returns a postive number of failures

1 test, 0 failures

 ✓ Can parse multi-type files

1 test, 0 failures

 ✓ Can parse nested files with name overlap (first)
 ✓ Can parse nested files

[2022-02-13 05:31] jalseth commented on #675
Merged. Thanks for taking the initiative on the PR!

[2022-02-13 05:31] #675 closed

[2022-02-13 05:32] jalseth commented on #669
Since I haven't heard back in a couple weeks, I'm going to close this. Feel free to reopen if you have any further questions!

[2022-02-13 05:32] #669 closed

[2022-02-13 05:33] #671 closed

[2022-02-14 04:11] seth-priya commented on #675
thanks @jalseth !  just a quick question - for when is the next release tentative planned?

[2022-02-25 23:44] wiceywkus opened #680 "question: packages must be 'main'?"
with conftest, does the rules all have to be in 'package main'?

[2022-02-26 15:02] wiceywkus commented on #680
Nevermind.  I found the answer on the conftest home page.  :-;
`By default, Conftest looks for these rules in the main namespace, but this can be overriden with the --namespace flag or provided in the configuration file. To look in all namespaces, use the --all-namespaces flag.`

[2022-03-07 03:04] 5st7 opened #682 "oras-go up-to-date with latest stable version"
Hello! Currently conftest is using version v0.4.0 of oras-go, is there any reason not to update oras-go to v1.1.0?
If there is no reason other than API changes, I would like to work on updating to v1.1.0 , is that ok?

[2022-03-07 03:25] jpreese commented on #682
Just hasn't been a reason to, but you're more than welcome to do so!

[2022-03-09 13:25] anderseknert opened #684 "conftest parse: allow JSON output format"
`conftest parse` currently prints the name of the file parsed before it goes on to print the JSON structure parsed from the input. In order to pipe the output of `conftest parse` into `jq`, `opa eval` or other tools dealing with JSON (or simply for copy-pasting into the Rego Playground), it would be useful if `conftest parse` provided and `--output json` option that printed only the JSON represent

[2022-03-14 10:29] madAndroid commented on #432
Same here, we have a very large set of manifests being created using `kustomize`, and having a more sensible output for exceptions will allow users to identify exactly what the exceptions are - is this still something that's likely to be included in conftest?

[2022-03-14 20:46] jalseth commented on #684
Hi Anders, thanks for raising this issue! I agree the output should only include valid JSON for interoperability with other tools. Rather than omitting the file name altogether, what do you think about having the output be a JSON document containing an array of objects with `filePath` and `contents` fields? I expect most users only parse a single file at a time, so we could also have a `--include-

[2022-03-14 22:25] anderseknert commented on #684
That sounds like a solid plan to me, @jalseth 👍

[2022-03-24 20:32] jdoylei commented on #490
I think I'm trying to figure out the same thing as @jcmcken and @jschwanz, but I got a little confused between this issue and #258, and wanted to recap the current state of things for conftest 0.30.0.

If I use granular deny_xxx rules, all in the same .rego file and package name, currently conftest output:
* Displays independent results for each deny_xxx rule, including rules that succeed (generat

[2022-03-25 19:33] jdoylei commented on #490
After some more testing, I see how conftest's NAMESPACE column gives you a way to distinguish successful rules, if you're willing to break up your rules into fine-grained Rego packages (and files).

If I take what was a single Rego file and package, with a single `violation` rule, and split into multiple packages, each with their own package name and `violation` rule, then NAMESPACE serves the pur

[2022-03-28 18:37] anderseknert opened #690 "Allow user to limit capabilities"
Like discussed [here](https://github.com/open-policy-agent/community/discussions/155), and later [blogged](https://www.liam-galvin.co.uk/posts/malicious-rego/) about by @liamg, it would be good if there was an option to "harden" conftest similar to what the [capabilities](https://www.openpolicyagent.org/docs/latest/deployments/#capabilities) feature allows for OPA. While there's a bunch of "ifs" t

[2022-04-04 19:17] jdoylei opened #695 "Cosmetic improvements to "junit" output format for Jenkins"
I had two suggestions for Conftest's "junit" output format that might make it more user-friendly in Jenkins, and hopefully other CI/CD and dev tools as well.  This is with Conftest 0.30.0.

1. Group tests using the ```testcase@classname``` attribute.
2. Keep the test names more stable from build to build by basing the ```testcase@name``` attribute only on the file and namespace, and avoid includin

[2022-04-05 16:54] luckoseabraham opened #696 "Vulnerability scan failure on 0.30.0"
The latest binary (0.30.0) from the releases is built using go 1.17.2 which has the vulnerability https://nvd.nist.gov/vuln/detail/CVE-2022-23806

This was updated to the 17.7 by PR https://github.com/open-policy-agent/conftest/pull/679

But there is no releases based on this change.

Is it possible to do a new release using change PR #679

[2022-04-05 19:08] luckoseabraham commented on #209
@jpreese - We have a use case to run conftest policy eval dynamically inside another golang application.

The initial solution was to use conftest as a binary and run it as an exec command or a step runner. But the issue https://github.com/open-policy-agent/conftest/issues/696 prevents us from doing this in an environment.

My application is also in go, I might has well import this as a module and

[2022-04-06 11:29] Zest-nikunj commented on #209
+1

[2022-04-06 16:09] luckoseabraham commented on #209
Yes @jpreese That is correct. We just need the `runner` package.

[2022-04-06 16:10] luckoseabraham commented on #209
Would you be open to a PR ?

[2022-04-06 19:07] jpreese commented on #209
@luckoseabraham @Zest-nikunj I'll be working in https://github.com/open-policy-agent/conftest/pull/697

[2022-04-09 18:08] jalseth commented on #690
Sounds like a solid improvement! As always, we'd welcome a PR.

[2022-04-09 18:15] jalseth commented on #695
Hello @jdoylei, thank you for the report. These changes seem reasonable to me, and I'd welcome a PR!

[2022-04-09 18:18] jalseth commented on #696
Hi @luckoseabraham, I intend on cutting a new release this weekend after addressing a few of the recently opened issues and some pending PRs.

[2022-04-10 20:57] jalseth commented on #695
@jdoylei I've implemented this in #699 and it will be included in the next release. Please review the PR and let me know if your request was accurately captured.

I opted to leave the violation message summary in the test `name` field by default as I think it provides a lot of value. For example, a K8s manifest may contain multiple containers, but only one container violates the policy; it is [com

[2022-04-11 18:58] #695 closed

[2022-04-11 18:58] jalseth commented on #695
Thanks for confirming! This will be included in the next release.

[2022-04-12 19:27] edbighead commented on #696
@jalseth any ideas where did `0.30.0` release go 🤔
[code]

[2022-04-13 09:51] edbighead opened #700 "Release 0.30.0 not present anymore"
Can't find it anymore, although tag is there.
[code]

Tools that were using it can not be built anymore 😞
https://github.com/runatlantis/atlantis/blob/c43c0437ff355804c2a98cda38e21e27e0b7e5ea/Dockerfile#L37-L55

[2022-04-16 20:28] jalseth commented on #700
Hi, thank you for raising this to our attention. I'm not sure why this is, we are looking into it.

[2022-04-16 20:56] jalseth commented on #700
v0.30.0 has been re-released at the same commit and tag, but the binaries and checksums are different due to having to be rebuilt. Please let me know if there's anything else you need us to do. We can also release v0.30.1 at the same commit if needed.

[2022-04-18 16:57] nairb774 commented on #700
A new release would be much appreciated. The hash changes for the released artifacts broke a number of things that we have which expect the hashes to never change for a release. A new release would at least make it a little easier to put things back together.

[2022-04-18 17:42] anderseknert commented on #700
Have checked the event logs, but unfortunately GitHub does not seem to emit any events releated to releases. So there's really no way that I'm aware of to say for sure what happened here :/

[2022-04-18 18:03] jalseth commented on #700
@nairb774 I've tagged `v0.30.1` at the same commit and it has been released. There are no code changes from v0.30.0.

[2022-04-18 18:14] jalseth commented on #700
@anderseknert Thanks for looking into it. For now, I think we've done all we can. Apologies to everyone this impacted.

[2022-04-18 18:14] #700 closed

[2022-04-18 18:37] chenrui333 commented on #700
Thanks @jalseth !

[2022-04-18 19:26] nairb774 commented on #700
Thank you!

[2022-04-19 23:59] anderseknert commented on #690
@boranx indeed - it should be pretty straightforward.

[2022-04-20 01:46] #684 closed

[2022-04-20 02:30] jalseth commented on #675
Hi @seth-priya sorry it has taken so long, but we have just made a release and the binaries for this arch are included!

[2022-04-20 02:33] jalseth commented on #696
We just released v0.31.0 which is built with Go v1.18.1. Thanks again for filing this issue!

[2022-04-20 02:33] #696 closed

[2022-04-20 02:44] jalseth commented on #684
The final implementation used a `map[filePath]config` structure rather than a list with `filePath` and `contents` fields. This change has been included in the latest release.

[2022-04-20 03:18] seth-priya commented on #675
No problem @jalseth  and thanks for your support, appreciate it!

[2022-04-20 08:07] anderseknert commented on #684
Fantastic! Thanks @jalseth 👍

[2022-04-20 09:29] boranx commented on #690
I'd love to work on this, if there's no taker, I can pick it up and propose a PR

[2022-04-20 10:08] anderseknert commented on #690
Awesome! Go right ahead @boranx 👍

[2022-04-20 11:53] matrixise commented on #649
The feature with the name of the rule is really interesting, just for a debugging session.

Thank you

[2022-04-27 03:27] jalseth opened #705 "`conftest push` creates new images even without changes"
Each run of `conftest push` creates a new image with a new SHA256 even if the policies included are the exact same. The images should be the same if the policies do not change. Need to investigate why this is happening and fix.

For example:

[code]

<img width="662" alt="Screen Shot 2022-04-26 at 20 23 03" src="https://user-images.githubusercontent.com/34321259/165433630-ba1ef5bf-53a3-46f6-9b04-6

[2022-04-27 03:40] #690 closed

[2022-04-28 00:27] #682 closed

[2022-04-29 09:25] boranx commented on #705
is there a possibility that https://github.com/open-policy-agent/conftest/pull/702 solved the problem?
I got the same thing when testing with version: _Conftest: v0.31.0-1-g127a_ but worked well with the latest commit

[2022-04-29 16:27] jpreese commented on #705
Seems probable as thats what we use for communicating with registries

[2022-04-30 21:16] jalseth commented on #705
Confirmed, this seems to be resolved in the latest commit.

[2022-04-30 21:16] #705 closed

[2022-06-21 21:07] xarses opened #716 "[0.32.1] Cannot push new hashes to aws, gitlab, gcp registries"
I've been using `conftest push` in a script to push changes to our ecr oci repo after updating the policy codebase. After updating to (originally 0.32.0) 0.32.1 I've found that I'm now unable to upload new hashes. Uploading to a hash that already exists appears to work fine

[code]

Steps to reproduce:

* Change the contents of what your uploading
* upload to the ecr repo
* note the failure
* fall

[2022-06-23 00:12] tspearconquest opened #717 "Publishing to gitlab container registry fails with v0.32.0 but succeeds with v0.31.0"
Hi,

We have a strange situation with conftest v0.32.0.

We publish our policies to the gitlab container registry using Gitlab CI pipelines, and when the `conftest publish` takes place, if there are no changes to the image, the response from gitlab is successful, and the policies are published.

However, even making a very simple change, such as adding a letter to a double quoted string in a rule,

[2022-06-23 17:05] tspearconquest commented on #717
Hello, we have rolled back to v0.31.0 as we are not getting any failures using that version.

Can you please help us communicate to Gitlab what changes were made in v0.32.0 which may have broken publishing? The only requirements to break publishing are as follows:

* Be publishing from a CI pipeline in Gitlab
* Be publishing to the Gitlab container registry
* Be running conftest v0.32.0 or higher

[2022-06-24 04:28] jalseth commented on #716
Hi @xarses , can you confirm the version of `conftest` you're using? There is no version 0.31.1. You can run `conftest --version` to confirm.

[2022-06-24 04:54] jalseth commented on #717
Hi, I was able to replicate this issue on Google Cloud Artifact Registry, so it is not specific to GitLab. It succeeds if pushing an OCI image that already exists in the remote registry, but fails if it is a new image.

[2022-06-24 13:44] tspearconquest commented on #717
Based on Gitlab's comments, and the fact that it was replicated on Google Cloud, this seems to be a bug in the new release.

[2022-06-24 16:39] xarses commented on #716
@jalseth my bad, version brain. the problem is visible on `0.32.0` and `0.32.1` its working as expected on 0.31.0

[2022-06-24 16:44] xarses commented on #717
Sounds like the same problem in #716, You can push existing artifacts, but new artifacts wont upload

[2022-06-24 16:44] tspearconquest commented on #717
This is the same, yes. Closing this in favor of it.

[2022-06-24 16:44] #717 closed

[2022-06-24 16:45] tspearconquest commented on #716
I'm having the same issue on Gitlab Container Registry. I have been working with Gitlab Support to try to identify if it was conftest or Gitlab with the problem but the fact that this happens elsewhere confirms its conftest.

An update from Gitlab Support:

[2022-07-05 20:29] jalseth commented on #716
@xarses @tspearconquest I've fixed this when pushing to GCP GAR via #721, can you test as well before I submit the change?

[2022-07-05 23:19] srspnda-instacart commented on #716
Thanks @jalseth confirming for @xarses that this fixes our issue.

[2022-07-06 01:33] jalseth commented on #716
Thanks for confirming! I'm thinking 2/3 successful tests is a good indicator that the change is successful so I'll merge it. I'll also be working on #718 to add e2e tests for this, so we don't run into the same issue again in the future.

@tspearconquest if you continue to have issues after the next release (I'll trigger that after merging this fix) please feel free to reopon.

[2022-07-06 01:33] #716 closed

[2022-07-20 21:47] jlepere-everlaw opened #725 "Deny by map value"
Is it possible to write a single `deny` statement to test that a map has a particular value for a given key? For example:

[code]

A test with `input` as `{}` is *not* denied.

Is there another way to get around this other than writing two test, one for testing that the key exists and another that the value is correct?

[2022-07-22 01:36] jalseth commented on #725
You need to use the `not` keyword.

[code]

A more flexible alternative is writing a rule with multiple conditions that satisfy it. You can write any number of conditions this way and they are ORed together.

[code]

Please not that this tracker is for issues related to conftest and is not a general support channel for writing Rego. The best place to find assistance in those cases is the `#help` c

[2022-07-22 01:36] #725 closed

[2022-07-23 21:46] jalseth commented on #621
@cep21 I've implemented the first option in #726 for inline parsing of configurations using a new `parse_config()` function. This will be included in the next conftest release.

[2022-07-25 20:21] jlepere-everlaw commented on #725
Thank you, @jalseth, for the solution and the best practices tip.

[2022-07-26 01:32] jalseth commented on #621
`parse_config_file()` was also included in that PR, which handles case #2. Going to close this issue.

This will be in the next release of conftest, likely ~1 week from now after OPA's next feature release.

[2022-07-26 01:32] #621 closed

[2022-07-29 08:36] consolethinks opened #731 "Failure vs successes counts are inconsistent"
Conftest doesn't count passed tests in the total amount of tests, or number of passed tests when the policy is not in the `main` namespace. It comes across as if the test doesn't even exist when it passes.

If, for example, I have a `common` namespace and a `safety` namespace, in addition to the `main` namespace, and I either pass `--all-namespaces` or list them separately using `--namespace [name

[2022-07-31 18:23] jalseth commented on #731
Hi @consolethinks I'm not able to reproduce this issue with conftest v0.33.2. Please provide snippets and the exact conftest command you are using so reproduce.

[2022-08-02 10:45] consolethinks commented on #731
After doing some testing, it's not related to namespaces after all. One policy in a specific namespace seems to be the culprit.

To reproduce my issue, I'm giving an example terraform plan outputted as json:
[tfplan.json.zip](https://github.com/open-policy-agent/conftest/files/9240041/tfplan.json.zip)

And here are two policies:
[code]

The following command is used:
`conftest test tfplan.json --p

[2022-08-03 01:39] jalseth commented on #731
Thank you for the extra info, I have been able to reproduce the issue though the cause is not immediately clear.

[2022-08-10 04:36] jalseth commented on #731
I've spent a little time digging and better understand the issue now. The root of the problem is due to the nature of OPA/Rego and the fact that rules are queried by name and the results are unioned. While conftest can know that there are multiple `deny` rules in a given policy source, it cannot know which of those caused violations as it only queries the single `data.<namespace>.deny` rule and al

[2022-08-19 14:12] boranx commented on #649
does underscore work with _warn_? If so, there might be a regression?
[code]
[code]

[2022-08-30 12:03] w7089 opened #737 "Conftest Policy for Kubernetes manifests for checking that images come from a specific registry"
I'm using [conftest][1] for validating policies on Kubernetes manifests.

Below policy validates that images in StatefulSet manifests have to come from specific registry `reg_url`

[code]

Is there a way to enforce such policy for all kubernetes resources that have image field somewhere in their description? This may be useful for policy validation on all `helm` chart manifests, for instance.

I'm

[2022-08-30 12:22] jpreese commented on #737
We have a set of libraries in Konstraint that attempts to tackle this problem. This is an example policy that checks for the `latest` tag across container definitions which can come from Pods, Deployments, etc.

https://github.com/plexsystems/konstraint/tree/main/examples/container-deny-latest-tag

[2022-09-02 20:35] lcarva opened #738 "Introduce time-based policy rules"
Introducing a new policy rule can be disruptive. One approach to minimize disruption is to introduce the new policy rule first as a warning, then after a period of time, change it to a failure. This, however, has its shortcomings:
1. Someone/something has to remember to make the change.
2. The change may be delayed due to external factors.
3. Users may already be conditioned to ignore warnings.
4.

[2022-09-05 22:15] jalseth commented on #738
Hello, thanks for filing this. I don't see a benefit this provides over using the existing `warn` and `deny` rules (example below), and it would have a major downside of only working in conftest and would not work when using, for example, OPA Gatekeeper in K8s.

[code]

Please elaborate on what the proposed solution is solving that the example above does not.

[2022-09-06 14:29] lcarva commented on #738
@jalseth, thanks for your reply!

I think the proposal has a few advantages.

It simplifies rule writing. As you demonstrated, the detection logic can be abstracted into another rule to avoid code duplication. We also need to do that for the time comparison if we we have multiple time-based rules. No arguing that this can be solved with the existing constructs though. It's just more verbose and le

[2022-09-09 05:27] jalseth commented on #738
I'm not really following this part. If we implemented this, every other tool (such as one that generates documentation based on OPA Metadata annotations) would also need to add support for this custom annotation as it is non-standard. If anything, I think adding this would require more custom code to be required in the OPA ecosystem.

You can add anything you want to the objects returned by the de

[2022-09-29 07:16] iAlexBLR opened #741 "Conftest doesn't exit with plugin exit code"
### Issue:
I've created a conftest plugin for some custom behaviour, but I noticed that conftest when uses installed plugin always returns 0 exit code even if plugin itself returns another one.

### Reproduce steps:

**script.sh**
[code]

**plugin.yaml**
[code]

### Testing:
[code]

[2022-09-29 22:10] nate-double-u opened #742 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-10-01 02:43] jalseth commented on #741
Thanks for raising this. If you have the time, I'd welcome a PR to fix.

[2022-10-01 03:18] #731 closed

[2022-10-05 16:19] iAlexBLR commented on #741
@jalseth  unfortunately I'm not that good at programming on Go

[2022-10-19 23:34] jpreese commented on #741
@iAlexBLR this is sort of by design, see: https://www.conftest.dev/plugins/ (at the bottom)

It has been a _long_ time since I've dealt with plugins in Conftest, but do recall plugins needing to specify other error codes. I can see how this can be confusing though, and I don't recall the technical reason for it unfortunately.

[2022-10-26 19:45] simonbaird opened #748 "OPA bundles created by conftest push should include rule annotations"
IIUC conftest "uglifies" the rego source before adding it to the OCI image by stripping out commentary and line breaks that are not strictly needed. As a result of that the comments containing annotations get removed entirely.

Given that rule annotations are intended to be accessible from rego, I think that's a problem. With the annotations missing, the [examples here](https://www.openpolicyagent

[2022-10-28 18:09] simonbaird commented on #748
Should be fixed by #750.

[2022-11-14 15:23] simonbaird commented on #748
This can be closed now that #750 is merged.

[2022-11-14 15:23] #748 closed

[2022-11-22 16:00] boranx commented on #742
the new builds fail due to this: https://app.netlify.com/sites/vibrant-villani-65041c/deploys/637ce049158134000841a2a9

[code]
@jpreese @garethr @jalseth could you help fix the build image to the latest? (I'd be happy to take care of that but probably I don't have perms on the account `boran.seref@gmail.com` in netlify )

[2022-11-22 19:26] jpreese commented on #742
Doesn't look like I have permission to manage Netlify either. My guess would be @garethahealy as he set it all up originally.

[2022-11-22 19:27] nate-double-u commented on #742
I can add folks, please send me a list of emails in the CNCF Slack (or here if you don't mind them being public)

[2022-11-22 19:29] jpreese commented on #742
Oh wow, awesome. john@reese.dev

Thanks 🎉

[2022-11-22 19:36] nate-double-u commented on #742
I've sent collaborator invites out. I think this should give you access to change the build image, if not please let me know.

[2022-11-22 19:38] nate-double-u commented on #742
Would you also be able to manage https://github.com/openebs/website/issues/335?

[2022-11-22 19:44] jpreese commented on #742
@nate-double-u I'm not quite sure I understand. Netlify for `conftest` is managed here: https://app.netlify.com/sites/vibrant-villani-65041c/deploys and not under OpenEBS. I may be missing what you're trying to accomplish.

[2022-11-22 19:46] nate-double-u commented on #742
ack, sorry, been doing a few of these today. Made a mistake in the invite, let me correct.

[2022-11-22 19:52] nate-double-u commented on #742
_correct_ invite sent @jpreese, still collaborator, please let me know if that permission level is appropriate.

[2022-11-22 19:56] jpreese commented on #742
Lifesaver, @nate-double-u! Worked.

I updated the build image to be `Ubuntu Focal 20.04 (default)`

[2022-11-22 19:58] nate-double-u commented on #742
Awesome!

Closing as updated. Thanks @jpreese!

[2022-11-22 19:58] #742 closed

[2022-11-23 11:19] boranx commented on #742
@nate-double-u was there a time-threshold for the invite? I got the email but if I hit it, I got `Failed to accept invite:
Not Found`